---
title: ASP Seach Agent List Item Image
---

<div class="asp-search-agent-list-item-image">
    <img src="{{#if image_url}}{{image_url}}{{else}}imgs/placeholders/image_social_image.jpg{{/if}}" alt="" />
</div>