---
title: Search Pagination
---
<div class="atdw-search-pagination">
    <div class="row l-center-1200">
        <div class="col-xs-12">
            <div class="atdw-search-pagination-wrapper type-links-bottom-border">
                <div class="atdw-search-pagination-prev">
                    <a href="#">Prev</a>
                </div>
                <div class="atdw-search-pagination-pages">
                    <ul class="atdw-search-pagination-pages-wrapper">
                        <li><a class="is-active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                    </ul>
                </div>
                <div class="atdw-search-pagination-next">
                    <a href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>