---
title: Byline
---

<div class="byline-container l-table">

    <div class="byline-social-image">
        {{#parseJSON '{"image_url": "imgs/placeholders/image_social_image2.jpg"}'}}
            {{> socialimage}}
        {{/parseJSON}}
    </div>

    <div class="byline-details">
        <div class="byline-by">Article by</div>
        <div class="byline-author">Bruce Clune</div>
        <a href="#" class="byline-link">Publication site Link</a>
    </div>

</div>


