---
title: Carousel
---
<!-- data-tags
* data-startslide (Integer)
* data-slidetime (Integer)
* data-autoslidetime (Integer)
* data-continuousslides (Boolean)
* data-touchanabled (Boolean)
* 
* data-options description in jquery.ta.carousel.js - file
-->
<div class='carousel'>
	<ul class='carousel-wrapper'>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
	</ul>

	<div class="carousel-navigation">
		<div class="carousel-btn carousel-btn-left"><img src="imgs/base/arrow-icon-left.png" alt=""/>
		</div>
		<div class="carousel-btn carousel-btn-right"><img src="imgs/base/arrow-icon-right.png" alt=""/>
		</div>
	</div>

	<ul class="carousel-bullets">
		<li class="carousel-bullets-item carousel-bullets-item-active"></li>
		<li class="carousel-bullets-item"></li>
		<li class="carousel-bullets-item"></li>
	</ul>
</div>


<div class='carousel'>
	<ul class='carousel-wrapper'>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
	</ul>

	<div class="carousel-navigation">
		<div class="carousel-btn carousel-btn-left"><img src="imgs/base/arrow-icon-left.png" alt=""/>
		</div>
		<div class="carousel-btn carousel-btn-right"><img src="imgs/base/arrow-icon-right.png" alt=""/>
		</div>
	</div>

	<ul class="carousel-bullets">
		<li class="carousel-bullets-item carousel-bullets-item-active"></li>
		<li class="carousel-bullets-item"></li>
		<li class="carousel-bullets-item"></li>
	</ul>
</div>

<div class='carousel'>
	<ul class='carousel-wrapper'>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
		<li>
			{{>landscape_4x3}}
		</li>
	</ul>

	<div class="carousel-navigation">
		<div class="carousel-btn carousel-btn-left"><img src="imgs/base/arrow-icon-left.png" alt=""/>
		</div>
		<div class="carousel-btn carousel-btn-right"><img src="imgs/base/arrow-icon-right.png" alt=""/>
		</div>
	</div>

	<ul class="carousel-bullets">
		<li class="carousel-bullets-item carousel-bullets-item-active"></li>
		<li class="carousel-bullets-item"></li>
		<li class="carousel-bullets-item"></li>
	</ul>
</div>