---
title: Custom Map
---
<!-- data-tags
* data-mapstylejson (String)
* data-mapmarkerjson (String)
* data-enablenavigation (Boolean) 
* data-enablezooming (Booelan)
* data-centerlat (Number)
* data-centerlong (Number)
* data-zoom= (Integer)
* 
* data-options description in jquery.ta.custommap.js - file
-->
<div class="custommap" data-mapstylejson="json/custommap/map-style.json" data-mapmarkerjson="json/custommap/map-marker.json" data-enablenavigation="true" data-enablezooming="true" data-centerlat="-25" data-centerlong="135" data-zoom="4 "></div>