---
title: Dream Trip Buttons
---

<div class="l-h-center">
    <a href="#" class="btn-primary">{{#if copy1}}{{{copy1}}}{{else}}More Trip Ideas{{/if}}</a>
    <a href="#" class="btn-primary">{{#if copy2}}{{{copy2}}}{{else}}Accommodation{{/if}}</a>
</div>