---
title: Favourite Button
---

<a href="#" class="btn-bubble bubble-colour-favourite">
    <span class="btn-bubble-tooltip">
        <span class="btn-bubble-tooltip-container">
            Add to your dream trip
        </span>
    </span>
    <span class="btn-bubble-button">
        <img class="btn-bubble-std" src="imgs/icons/favourite_outline.png" alt="" />
        <img class="btn-bubble-active" src="imgs/icons/favourite.png" alt="" />
    </span>
</a>