---
title: Footer Other Sites
---

<div class="footer-col">
    <p class="footer-heading">Other Sites</p>
    <ul class="footer-text-list l-list-clean">
        <li><a href="#">Media & industry</a></li>
        <li><a href="#">Business events</a></li>
    </ul>
    <div class="footer-copyright">© Tourism Australia 2014</div>
</div>