---
title: Image Copyright
---

<div class="image-copyright-container l-table">

    <div class="image-copyright-image">
        <img src="imgs/icons/facebook_outline_small_black.png" alt="Image Copyright">
    </div>

    <div class="image-copyright-details">
        <p><strong class="image-reference-title">{{copyright_by_copy}}</strong><span class="image-reference-copy">{{{copyright_detail_copy}}}</span></p>
    </div>

</div>