---
title: Large Title with sub-description
---

<div class="largetitlewithsubdescritption clearfix">
    <div class="l-center-1100">

        <!-- Main Text Start -->
        <h3 class="type-h3-responsive">road trip australia - cairns peninsula</h3>
        <!-- Main Text End -->

    </div>
    <div class="l-center-640 type-center">
        <p class="type-intro">

            <!-- Description Text Start -->
            Video Description enatibus sociis elementum dictumswer ewert. Jessi Miley.
            <!-- Description Text End -->

            <!-- Time Text Start -->
            <span class="type-main-heading-colour"> 2:24</span>
            <!-- Time Text End -->

        </p>
    </div>
</div>

