---
title: Large Title with sub-description
---

<div class="largetitlewithsubdescription">
    <div class="l-center-1100">

        {{> pagetitle_h1 }}

    </div>
    <div class="l-center-640 type-center">
        <p class="type-intro">

            {{> pagedescription }}

            {{> time }}

        </p>
    </div>
</div>

