---
title: Line through text - Category Link Full Width
---

<div class="line-through-container line-categorylink-theme">
    <div class="line-through-categorylink-theme"></div>
    <div class="line-through-container-biline">
        {{#if copy}}
            {{{copy}}}
        {{else}}
            TRAVEL HERE WITH HELP FROM OUR PARTNERS
        {{/if}}
    </div>
</div>
