---
title: Line through h2
---

<div class="line-through-container{{#if main_heading_color}} line-through-main-heading-theme{{/if}}">
    <div class="line-through"><span class="line-through-hr"></span></div>
    <h2 class="line-through-container-biline">
        {{#if copy}}
            {{{copy}}}
        {{else}}
            Blue mountains
        {{/if}}
    </h2>
    <div class="line-through"><span class="line-through-hr"></span></div>
</div>
