---
title: Mosaic Search List
---


<div class="row l-row-collapse">

    <!-- search item start -->
    <div class="row">

        <div class="col-xs-31">

            <!-- video item start -->
            <a href="#" alt="" class="search-result-category-link">
                    <!-- video item start -->

                        <span class="video-container">
                            <span class="video-container-table">
                                <span class="placeholder">

                                    <img src="imgs/placeholders/video_2colum.jpg" alt="" class="l-image-full">
                                </span>
                                <span class="l-table-container">
                                    <span class="l-table">
                                        <span class="l-table-cell-centered">
                                            <img class="video-play-icon" src="imgs/icons/video_play_large.png" alt="">
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>

                    <!-- video item end -->

                <span class="mosaic-overlay">
                    <span class="vertical-container">
                        <span class="vertical-content text-center">

                            <!-- item label start -->
                            <span class="label-destination type-destination theme-beaches">Manly Beach</span>
                            <!-- item label start -->

                        </span>
                    </span>
                </span>
            </a>
            <!-- video item end -->

        </div>
        <div class="col-xs-91">

            <div class="search-results-container type-ieAntialias clearfix">

                 <div class="search-results-category-icon">

                        <!-- category icon start -->
                        {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                            {{> icon_generic }}
                        {{/parseJSON}}
                        <!-- category icon end -->

                    </div>

                <div class="search-results-copy-container">

                    <!-- search title start -->
                    {{> search_results_title }}
                    <!-- search title end -->

                    <!-- search copy start -->
                    {{> search_results_copy }}
                    <!-- search copy end -->

                </div>

                <div class="search-favourite">
                    {{> favourite_button }}
                </div>


            </div>

        </div>

    </div>
    <!-- search item end -->

</div>
