---
title: Mosaic Grid Social Tiles Static 1 Item
---

<!-- single item start -->
<div class="col-xs-12 col-md-4 mosaic-grid-1 l-row-collapse">
    <div class="row">
        <div class="col-xs-12">
            {{> mosaicitemsocialtilestatic }}
        </div>
    </div>
</div>
<!-- single item end -->
