---
title: Mosaic Square Item - ATDW Highlights
---

<div class="mosaic-item mosaic-atdw-16-9" data-interactive-type="fade">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-atdw-image">
                <div class="mosaic-media">
                    <img src="imgs/placeholders/mosaic_square.jpg" alt=""/>
                </div>
            </div>

            <div class="mosaic-column-front mosaic-content l-absolute-fill flip-front">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">
                            <img src="imgs/logo/logo_tqual_black.png" alt=""/>
                            <p>front</p>
                        </div>
                    </div>
            </div>

            <div class="mosaic-column-back mosaic-content flip-back mosaic-back theme-5">
                <div class="vertical-container">
                    <div class="vertical-content text-center">
                        <img src="imgs/logo/logo_tqual_white.png" alt=""/>
                        <p>back</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> mosaicitem_detail }}

</div>

