---
title: Mosaic Grid Highlights 2 Items
---

<div class="mosaic">

    <div class="row l-row-collapse">

        <div class="row">

            {{> mosaic_highlights_grid_1 }}

            {{> mosaic_highlights_grid_1 }}

        </div>

    </div>
</div>
