---
title: ATDW Highlights Item
---

<div class="mosaic-3column-item-container">
    <div class="row mosaic-3column-container">
        <div class="col-xs-6">
            <div>
                <div class="mosaic-media">
                    <img src="imgs/mosaic/img11.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-xs-6 mosaic-3column-front-back-container flip-container">

            <div class="mosaic-3column-front">
                <div class="mosaic-3column-media theme-mosaic-3column-front l-padding-t-15">
                    <img class="mosaic-3column-logo-front" src="imgs/logo/logo_tqual_black.png" alt=""/>
                    <img class="mosaic-3column-logo-back" src="imgs/logo/logo_tqual_white.png" alt=""/>
                    <p>front front front front front front front front front front front front front front front front front front front front front front front front front</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row mosaic-3column-item-content">
        {{> mosaic3columnitem_detail }}
    </div>

</div>
