---
title: Mosaic Item - Social Tile
---

<div class="mosaic-item">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">
                    <img src="../../../imgs/mosaic/socialtile1.jpg" alt=""/>
                </div>
                <div class="mosaic-overlay">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">
                            <div class="type-date-mosaic">

                                <!-- front content start -->
                                <!-- front content end -->

                            </div>
                        </div>
                    </div>

                    <!-- social icon start -->
                    <span class="mosaic-socialtiles-icon"><img src="../../../imgs/icons/UGC/twitter_white.png" alt=""/></span>
                    <!-- social icon end -->

                </div>
            </div>

            <div class="mosaic-column-back mosaic-content flip-back mosaic-back theme-mosaic-social-back">
                <div class="vertical-container">
                    <div class="vertical-content text-center">

                        <!-- back content start -->
                        <p class="type-destination"><strong>The Great Barrier Reef, Queensland</strong><br><br></p>
                        <a href="#">See more</p></a>
                        <!-- back content end -->

                    </div>
                </div>

                <!-- social icon start -->
                <span class="mosaic-socialtiles-icon"><img src="../../../imgs/icons/UGC/twitter_white.png" alt=""/></span>
                <!-- social icon end -->

            </div>

        </div>
    </div>

    {{> mosaicitemsocial_detail }}

</div>