---
title: Mosaic Item - Highlights
---

<div class="mosaic-item" data-interactive-type="fade">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">
                    <img src="imgs/mosaic/img3.jpg" alt=""/>
                </div>
                <div class="mosaic-overlay">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">
                            <span class="label-destination type-destination theme-beaches">Manly Beach</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mosaic-column-back mosaic-content flip-back mosaic-back theme-arts">
                <div class="vertical-container">
                    <div class="vertical-content text-center">
                        {{#parseJSON '{"src": "imgs/icons/beaches_white_outline.png"}'}}
                            {{> icon_generic }}
                        {{/parseJSON}}
                        <p class="type-destination line-through-line-wrapper">Manly Beach</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> mosaicitem_detail }}

</div>



