---
title: Mosaic Standard Search Grid 1x4
---

<div class="mosaic">

    <div class="row l-row-collapse">

        <div class="row">

            {{> mosaic_highlights_grid_1 }}

            {{> mosaic_highlights_grid_4 }}

        </div>

    </div>
</div>
