---
title: Mosaic Item - Social Tile Static
---

<div class="mosaic-item">

    <div class="socialtiles-static-front">
        <div class="mosaic-media mosaic-primary">
            <img src="../../../imgs/base/spacer.gif" alt=""/>
        </div>
        <div class="mosaic-overlay">
            <div class="vertical-container">
                <div class="vertical-content text-center">
                    <div class="type-socialtiles-static-mosaic">

                        <!-- front content start -->
                        <p>Saying G'day to some of our friends on the Great Barrier Reef! <a href="#">@gbrmarinepark</a></p>
                        <!-- front content end -->

                    </div>
                </div>
            </div>

            <!-- social icon start -->
            <span class="mosaic-socialtiles-icon"><img src="../../../imgs/icons/UGC/twitter_black.png" alt=""/></span>
            <!-- social icon end -->

        </div>
    </div>

</div>