---
title: Mosaic Item Social Tile Detail (in hidden state initially, apply "active" to reveal)
---

<div class="mosaic-item-detail-container">

    <!-- content start -->
    <div class="l-h-center theme-mosaic-social-detail">

        <p>I got to cross one of the big items from my bucket list - scubadiving at the Great Barrier Reef!</p>
        <p>The Great Barrier Reef, Queensland</p>
        <p>Uploaded by: <a href="#">notsupposedto</a></p>

    </div>
    <!-- content end -->

</div>