---
title: Mosaic Dream Trip List
---

<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_video_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->


<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_events_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->


<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_highlights_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->


<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link search-result-atdw-link">

            <!-- highlight item start -->
            <span class="mosaic-media mosaic-primary">
                <img src="imgs/mosaic/img11.jpg" alt=""/>
            </span>
            <!-- highlight item end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- atdw search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">
                <img class="logo-generic" src="imgs/logo/logo_tqual_black.png" alt="">
            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                <h3>
                <a href="#" alt="" class="search-results-title">                    
                    Port whitsunday apartments
                </a>
                </h3>
                <!-- search title end -->

                <!-- search copy start -->
                <div class="search-results-copy">
                    <!-- copy start -->
                    <p><b>100 Murray Street, Darling Harbour<br />
                     Sydney, New South Wales, 2000</b></p>
                    <!-- copy end -->
                    <!-- show more link start -->
                    <p><a href="#" alt="">Portside Whitsunday Apartments</a> situated across from the New 5 star Port of Airlie Beach Marina site, is Multi Award Winning and sought after premier holiday accommodation. Located on the mainland in the beautiful Whitsunday 74 Island region of Queensland, it’s is an ideal...
                    </p>
                    <p><a href="#" alt="">View more information</a></p>
                    <!-- show more link end -->

                </div>
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            <div class="search-contact-details">
                <p>
                    <a href="mailto:email@somewhere.com" target="_blank">Email</a><br />
                    <a href="#" target="_blank">Website</a><br>
                    Phone: <a href="#">61 02 9934 0000</a><br>
                    Mobile: <a href="#">61 422 888 266</a>
                </p>
            </div>
            <!-- close & tags end -->

            <a href="#" class="btn-bubble search-close">
                <span class="icon-close icon-font-cross"></span>
            </a>

        </div>

    </div>
    <!-- atdw search item content end -->

</div>
<!-- search item end -->
