---
title: Mosaic Standard Search Grid 1x4, 4x1
---

<div class="mosaic">

    <div class="row l-row-collapse">

        <div class="row">

            <!-- grid 1 x 4 start -->
            {{> mosaic_video_grid_1 }}
            {{> mosaic_highlights_date_grid_4_2column }}
            <!-- grid 1 x 4 end -->

        </div>

        <div class="row">

            <!-- grid 4 x 1 start -->
            {{> mosaic_video_highlights_grid_4_2column }}
            {{> mosaic_highlights_grid_1 }}
            <!-- grid 4 x 1 end -->

        </div>

        <div class="row">

            <!-- grid 1 x 4 start -->
            {{> mosaic_highlights_grid_1 }}
            {{> mosaic_highlights_grid_4_2column }}
            <!-- grid 1 x 4 end -->

        </div>

    </div>
</div>
