---
title: Mosaic Dream Trip List
---

<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_video_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->


<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_events_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->


<!-- search item start -->
<div class="row search-result-row-spacing">

    <!-- search item image/category start -->
    <div class="search-result-category-container">

        <a href="#" alt="" class="search-result-category-link">

            {{> mosaic_search_list_highlights_item }}

            <!-- category label start -->
            <span class="mosaic-overlay">
                <span class="vertical-container">
                    <span class="vertical-content text-center">

                        <!-- item label start -->
                        <span class="label-destination type-destination theme-10">Great Barrier Reef, QLD</span>
                        <!-- item label start -->

                    </span>
                </span>
            </span>
            <!-- category label end -->

        </a>

    </div>
    <!-- search item image/category end -->

    <!-- search item content start -->
    <div class="search-result-content-container">

        <div class="search-results-container type-ieAntialias clearfix">

            <!-- category icon start -->
            <div class="search-results-category-icon">

                {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
                    {{> icon_generic }}
                {{/parseJSON}}

            </div>
            <!-- category icon end -->

            <div class="search-results-copy-container">

                <!-- search title start -->
                {{> search_results_title }}
                <!-- search title end -->

                <!-- search copy start -->
                {{> search_results_copy }}
                <!-- search copy end -->

            </div>

            <!-- close & tags start -->
            {{> search_tags_close }}
            <!-- close & tags end -->

        </div>

    </div>
    <!-- search item content end -->

</div>
<!-- search item end -->
