---
title: Mosaic Item - Social Tile
---

<div class="mosaic-item">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">
                    <img src="../../../imgs/mosaic/socialtile1.jpg" alt=""/>
                </div>
                <div class="mosaic-overlay">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">
                            <div class="type-date-mosaic">
                                <span class="month">1January</span> <span class="day">30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mosaic-column-back mosaic-content flip-back mosaic-back theme-mosaic-social-back">
                <div class="vertical-container">
                    <div class="vertical-content text-center">

                        <!-- back content start -->
                        <p class="type-destination">The Great Barrier Reef, Queensland
                        </p>
                        <p class="type-date">See more</p>
                        <!-- back content end -->

                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> mosaicitemsocial_detail }}

</div>