---
title: Mosaic Item - Video
---

<!-- mosaic video item start -->
<div class="mosaic-item" data-interactive-type="video">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">

                    <!-- video item start -->
                    {{> videoitem }}
                    <!-- video item end -->

                </div>
                <div class="mosaic-overlay">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">

                            <!-- item label start -->
                            <span class="label-destination type-destination theme-10">Manly Beach</span>
                            <!-- item label start -->

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- mosaic video item end -->