---
title: Mosaic Search Events Item
---

<!-- events item start -->
<span class="mosaic-media mosaic-primary">
    <img src="imgs/mosaic/img10.jpg" alt=""/>
</span>
<span class="mosaic-overlay">
    <span class="vertical-container">
        <span class="vertical-content text-center">
            <span class="type-date-mosaic">
                <span class="month">January</span> <span class="day">30</span>
            </span>
        </span>
    </span>
</span>
<!-- events item end -->