---
title: Mosaic Standard
---
<div class="mosaic">

    <div class="row l-row-collapse">

        <div class="row">

            {{> mosaic_socialtiles_grid_1 }}

            {{> mosaic_socialtiles_grid_1 }}

            {{> mosaic_socialtiles_grid_1 }}

        </div>

        <div class="row">

            {{> mosaic_socialtiles_grid_1 }}

            {{> mosaic_socialtiles_grid_4 }}

            {{> mosaic_socialtiles_grid_1 }}

        </div>

    </div>
</div>
