---
title: ATDW Highlights Detail (in hidden state initially, apply "active" to reveal)
---

<div class="mosaic-item-detail-container">

    <!-- close button start -->
    <span class='mosaic-close-icon'><a class='mosaic-detail-close-btn' href='#'><span class="icon-close icon-font-cross"></span></a></span>
    <!-- close button end -->

    <div class="mosaic-item-container">

        <div class="l-h-center mosaic-item-container-padding">

            <p class="mosaic-item-container-address"><b>100 Murray Street, Darling Harbour, Sydney, New South Wales, 2000</b></p>

            <p><a href="#">Novotel Sydney on Darling Harbour</a> offers Sydney hotel accommodation in the heart of the Darling Harbour precinct. The hotel rooms present panoramic views of Darling Harbour, the Sydney central business district skyline or overlooking Pyrmont...</p>

            <p class="mosaic-item-container-view-more"><a href="#" class="l-relative">View more information <span class="icon-arrow-down-view-more icon-font-arrow_down" aria-hidden="true"></span></a></p>

            <p class="mosaic-item-container-contact-details>
                Email: <a href="#">h1181@accor.com</a><br>
                Website: <a href="#">novoteldarlingharbour.com.au</a><br>
                Phone: <a href="#">61 02 9934 0000</a><br>
                Mobile: <a href="#">61 422 888 266</a><br>
            </p>

            <a href="#" class="mosaic-item-container-favourite-btn btn-bubble bubble-colour-favourite">
                <span class="btn-bubble-tooltip">
                    <span class="btn-bubble-tooltip-container">
                        Add to your dream trip
                    </span>
                </span>
                <span class="btn-bubble-button">
                    <img class="btn-bubble-std" src="imgs/icons/favourite_outline.png" alt="" />
                    <img class="btn-bubble-active" src="imgs/icons/favourite.png" alt="" />
                </span>
            </a>

        </div>
    </div>
</div>