---
title: Mosaic Grid Highlights 4 Items
---

<!-- grid of 4 items start -->
<div class="col-xs-12 col-md-6 mosaic-grid-4 l-row-collapse">

    <div class="row mosaic-grid-2">
        <div class="row mosaic-grid-2-tile">

            <!-- mosaic start item -->
            <div class="col-xs-6">
                {{> mosaicitemhighlights }}
            </div>
            <!-- mosaic end item -->

            <!-- mosaic start item -->
            <div class="col-xs-6">
                {{> mosaicitemhighlights }}
            </div>
            <!-- mosaic end item -->

        </div>
        <div class="row mosaic-grid-2-content">

            <!-- mosaic detail start item -->
            <div class="col-xs-12">
                {{> mosaicitem_detail }}
            </div>
            <!-- mosaic detail end item -->

        </div>
    </div>

    <div class="row mosaic-grid-2">
        <div class="row mosaic-grid-2-tile">

            <!-- mosaic start item -->
            <div class="col-xs-6">
                {{#parseJSON '{"destination": "19 World heritage sites in Australia", "date": "September - April"}'}}
                    {{> mosaicitemhighlights }}
                {{/parseJSON}}
            </div>
            <!-- mosaic end item -->

            <!-- mosaic start item -->
            <div class="col-xs-6">
                {{#parseJSON '{"date": "March - May"}'}}
                    {{> mosaicitemhighlights }}
                {{/parseJSON}}
            </div>
            <!-- mosaic end item -->

        </div>
        <div class="row mosaic-grid-2-content">

            <!-- mosaic detail start item -->
            <div class="col-xs-12">
                {{> mosaicitem_detail }}
            </div>
            <!-- mosaic detail end item -->

        </div>
    </div>
</div>
<!-- grid of 4 items start end -->
