---
title: Mosaic Search Result Video Item
---

<!-- video item start -->
<span class="video-container">
    <span class="video-container-table">
        <span class="placeholder">
            <img src="imgs/placeholders/video_2colum.jpg" alt="" class="l-image-full">
        </span>
        <span class="l-table-container">
            <span class="l-table">
                <span class="l-table-cell-centered">
                    <img class="video-play-icon" src="imgs/icons/video_play_large.png" alt="">
                </span>
            </span>
        </span>
    </span>
</span>
<!-- video item end -->