---
title: Mosaic Grid Video 1 Item
---

<!-- single item start -->
<div class="col-xs-12 col-md-6 mosaic-grid-1 l-row-collapse">
    <div class="row">

        <!-- mosaic start item -->
        <div class="col-xs-12">
            {{> mosaicitemvideo }}
        </div>
        <!-- mosaic end item -->

    </div>
</div>
<!-- single item end -->
