---
title: Mosaic Item Option
---

<div class="mosaic-3column-item-container">
    <div class="row mosaic-3column-container">
        <div class="col-xs-6">
            <div>
                <div class="mosaic-media">
                    <img src="imgs/mosaic/img11.jpg" alt=""/>
                </div>
            </div>
        </div>

        <div class="col-xs-6 mosaic-3column-front-back-container flip-container">

            <div class="mosaic-3column-front flip-front-fade">
                <div class="mosaic-3column-media theme-mosaic-3column-front l-padding-t-15">
                    <img src="imgs/logo/logo_tqual_black.png" alt=""/>
                    <p>front</p>
                </div>
            </div>

            <div class="mosaic-3column-back flip-back-fade">
                <div class="mosaic-3column-media theme-mosaic-3column-back l-padding-t-15">
                    <img src="imgs/logo/logo_tqual_white.png" alt=""/>
                    <p>back</p>
                </div>
            </div>

        </div>

    </div>

    <div class="row mosaic-3column-item-content">
        {{> mosaic3columnitem_detail }}
    </div>

</div>
