---
title: Paragraph Heading H3
---

<!-- Main Text Start -->
<div class="row l-center-1200">
	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
		<h3 class="{{#if h3class}}{{{h3class}}}{{else}}type-h3-responsive{{/if}}">{{#if copy}}{{{copy}}}{{else}}road trip australia - cairns peninsula{{/if}}</h3>
	</div>
</div>
<!-- Main Text End -->