---
title: Paragraph Dynamic
---

{{#if text}}
    {{text}}
{{else}}
    <p>You can access the Daintree from Cairns, Port Douglas, Cape Tribulation and Cooktown. Do a day trip, or stay in an eco lodge nestled in the rainforest or picturesque Daintree Village on the Daintree River. Then get up close to the Daintree’s diversity of life on an aerial walkway or one of the many hiking trails.</p>
    <p>See bright butterflies, musky-rat kangaroos and the shy, endangered cassowary, with its blue neck and regal head dress. Marvel at the 600 million year old zamia fern, with an underground trunk system that evolved in defense against browsing dinosaurs. Cruise the mangrove-lined Daintree River past crocodiles and see turtles in clear, sparkling streams. A third of Australia’s frog, marsupial and reptile species and almost two-thirds of its bat and butterfly species can be found beneath the Daintree’s dense canopy.</p>
{{/if}}
