---
title: Search Results Copy
---

<div class="search-results-copy">
    <!-- copy start -->
    <p>Find holiday information on the Great Barrier Reef: Whitsunday Islands, Cairns, Port Douglas, Townsville, Bundaberg, Rockhampton, Mission Beach and more.</p>
    <!-- copy end -->

    <!-- show more link start -->
    <p><a href="#" alt="">View more information</a></p>
    <!-- show more link end -->

</div>