---
title: Search Results Title
---
<h3>
    <a href="#" alt="" class="search-results-title">
        {{#if copy}}
            {{{copy}}}
        {{else}}
            GREAT BARRIER REEF, QUEENSLAND
        {{/if}}
    </a>
</h3>