---
title: Search Counter
---

<div class="search-result-count">
    <div class="row l-center-1200">
        <div class="col-xs-12">
            <span class="search-result-count-copy">Showing 108 results</span>
        </div>
    </div>
</div>
