---
title: Section Intro H2
---
<div class="section-intro">
    <div class="l-center-900">
        <h2 class="type-h1-responsive">
            {{#if title}}
                {{{title}}}
            {{else}}
                TITLE TEXT
            {{/if}}
        </h2>
    </div>
    {{#if copy}}
    <div class="l-center-640 type-center">
        <p class="type-intro">
            {{{copy}}}
        </p>
    </div>
    {{/if}}
</div>
