---
title: Social Mention
---


<div class="social-mention">
    <div class="social-mention-container">
        <div class="social-mention-image">
            <img src="imgs/icons/facebook_outline_small_black.png" alt="">
        </div>
        <div class="social-mention-details">
            <p><strong>{{social_mention_bold_text}}</strong>{{{social_mention_regular_text}}}</p>
        </div>
    </div>
</div>
