---
title: Video Add, Tags, Share
---

<div class="videoaddtagsshare clearfix">
    <div class="l-center-1200">

        <div class="col-xs-12 col-sm-7 videoaddtagsshare-fav-tags">

            <div class="videoaddtagsshare-favourite">
                <!-- Favourite Start -->
                {{> favourite }}
                <!-- Favourite Start -->
            </div>

            <div class="videoaddtagsshare-tags">
                <!-- Tags Start -->
                {{#parseJSON '{"data" : [{"tag_has_link": false, "tag_title": "Eco adventure"}, {"tag_has_link": false, "tag_title": "Diving"}, {"tag_has_link": false, "tag_title": "Sailing"}, {"tag_has_link": false, "tag_title": "Shopping"}, {"tag_has_link": false, "tag_title": "Snorkelling"}]}'}}
                    {{> tagcloudnotitle }}
                {{/parseJSON}}
                <!-- Tags Start -->
            </div>

        </div>

        <div class="videoaddtagsshare-social col-xs-12 col-sm-5">
            <!-- ShareIcons Start -->
            {{> shareicons }}
            <!-- ShareIcons End -->
        </div>

    </div>
</div>

