---
title: Video Item With Title
---

<div class="videoitemwithtitle">
    <div class="row">
        {{> videoitem }}
    </div>
    <div class="row videoitemwithtitle-copy">
        <span class="videoitemwithtitle-title">Video title</span>
        <span class="videoitemwithtitle-time">2:37</span>
    </div>
</div>



