.agent-block {
   & > .row > .col-xs-12 {
    padding: 0;

    @include breakpoint(lg) {
      padding: 0 15px;
    }
  }
}

.agent-block-item {
	background: $agent-block-row-colour;
	min-height: 100px; 
	padding: pxtoem(30px);
	margin: 0 0 pxtoem(15px);
	text-align: center;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(md){
		text-align: left;
	}
}

.agent-image {
	text-align: center;
	margin-bottom: pxtoem(15px);

	img {
		@include border-radius(100%);
		border: 1px solid #FFF;
		max-width: 82px;
	}
}

.agent-block-logo {
	text-align: center;
}

.agent-block-contact-wrapper {
	margin: pxtoem(15px) 0;
}

.agent-block-description {
	margin-bottom: pxtoem(15px);
}

.agent-block-btn {
	margin-bottom: pxtoem($bottom-spacing);
	text-align: center;
}

.agent-block-right {
	display: block;
	position: relative;

	@include breakpoint(lg){
		position: absolute;
		top: 30px;
		right: 30px;
		width: 155px;
	}

}

.agent-block-form {
	border-top: 1px solid #808183;
	margin: pxtoem(30px) pxtoem(-30px) 0;
	position: relative;
	padding: pxtoem(40px) pxtoem(20px) 0;
	text-align: left;

	@include breakpoint(lg){
		padding: pxtoem(40px) pxtoem(40px) 0;
	}

	&:after {
		content: "";
		background: url(../imgs/backgrounds/divider-arrow-h.gif) no-repeat center top;
		position: absolute;
		height: 13px;
		width: 30px;
		top: -13px;
		right: 50%;
		margin-right: -15px;


		@include breakpoint(lg){
			right: 92px;
			margin-right: 0;
		}
	}

	.inputFocus-wrapper {
		margin-bottom: pxtoem(15px);
	}

	.inputFocus-wrapper textarea {
		height: 200px;


		@include breakpoint(md){
			height: 168px;
		}
	}
}

.agent-block-close-btn {
	position: absolute;
	top: 15px;
	right: 20px;
}

.agent-block-form-btn {
	text-align: center;

    @include breakpoint(md) {
    	text-align: right;
    }	

    a {
    	width: 155px;
    }
}

.agent-block-view-more {
	text-align: center;
	margin-top: pxtoem(30px);
}