
.asp-search-agent-list-item {
	background: $agent-block-row-colour;
	min-height: pxtoem(100px);
	padding: pxtoem(30px);
	margin: 0 0 pxtoem(15px);
	text-align: center;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(md){
		text-align: left;
	}
}
.asp-search-agent-list-item > .row{
  position: relative;
}

.asp-search-agent-list-item-btn{
  margin-bottom: 1.25em;
  @include breakpoint(md){
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    bottom:pxtoem(20px);
    right: pxtoem(25px);
  }
}
.asp-search-agent-list-item-agent-image {
	text-align: center;
	margin-bottom: pxtoem(15px);

	img {
		@include border-radius(100%);
		border: 1px solid #FFF;
		max-width: 82px;
	}
}

.asp-search-agent-list-item-accreditation-image {
  text-align: center;
  margin-bottom: pxtoem(40px);

  img {
    @include border-radius(100%);
    border: 1px solid #FFF;
    max-width: 82px;
  }
}

.asp-search-agent-list-item-logo {
	text-align: center;
}

.asp-search-agent-list-item-contact-wrapper {
	margin: pxtoem(15px) 0;
}

.asp-search-agent-list-item-description {
	margin-bottom: pxtoem(15px);
}

.asp-search-agent-list-item-right {
    margin: 0 auto;

	@include breakpoint(md){
		margin: 0 pxtoem(10px) 0 auto;
		width: 155px;
	}
}

.asp-search-agent-list-item-form {
    position: relative;
	padding: 0;
    max-height:0;
	text-align: left;
    overflow: hidden;
    -webkit-transform: translateZ(0);

	.inputFocus-wrapper {
		margin-bottom: pxtoem(15px);
	}

	.inputFocus-wrapper textarea {
		height: 200px;


		@include breakpoint(md){
			height: 168px;
		}
	}
}

.asp-search-agent-list-item-form.is-open{
  border-top: 1px solid #808183;
  max-height: 1000px;
  margin: pxtoem(30px) pxtoem(-30px) 0;
  padding: pxtoem(40px) pxtoem(20px) 0;
  overflow: visible;

  @include breakpoint(lg){
    padding: pxtoem(40px) pxtoem(40px) 0;
  }

  -webkit-transition-property: max-height;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-delay: 0;
  transition-property: max-height;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  transition-delay: 0;

  &:after {
    content: "";
    background: url(../imgs/backgrounds/divider-arrow-h.gif) no-repeat center top;
    position: absolute;
    height: 13px;
    width: 30px;
    top: -13px;

    right: 50%;
    margin-right: -15px;


    @include breakpoint(lg){
      right: 92px;
      margin-right: 0;
    }
  }
}
@-moz-document url-prefix() {
  .asp-search-agent-list-item-form.is-open:after{
    top: -12px;
  }
}
.asp-search-agent-list-item-form-close-btn {
	position: absolute;
	top: 15px;
	right: 20px;
}

.asp-search-agent-list-item-form-btn {
	text-align: center;

    @include breakpoint(md) {
    	text-align: right;
    }	

    a {
    	width: 155px;
    }
}
