
.asp-search-form {
  padding-bottom: pxtoem($bottom-spacing);

  .col-xs-12 {
    padding: 0;

    @include breakpoint(lg) {
      padding: 0 15px;
    }
  }
}
.asp-search-form-wrapper{
  background-color: #d9f1f3;
  text-align: center;
  padding:  pxtoem(20px) 0;
  @include breakpoint(lg) {
    padding-bottom: 0;
  }
}

.asp-search-form-item{
  margin: pxtoem(15px) auto 0;
  text-align: center;
  display: inherit;
  vertical-align: top;

  @include breakpoint(lg) {
    margin-left: pxtoem(20px);
    display: inline-block;
    margin-top: 0;
    margin-bottom:pxtoem(20px);
  }

  .dropdown-white-background {
    @include breakpoint(lg) {
      width: 250px;
    }
  }

}
.asp-search-form-item:first-child{
  margin-left: 0;
  margin-top: 0;
}

.asp-search-form-item .btn-primary{
  margin: 0 auto;
  max-width: 280px;
  min-width: 160px;
  padding-bottom: .49em;
  padding-top: .49em;

  @include breakpoint(sm) {
    margin-top: pxtoem(14px);
  }

  &.no-margin {
    margin: 0;
  }
}

.asp-search-form-label {
  text-align: center;
  display: block;

  @include breakpoint(lg) {
    text-align: left;
  }

  &.label-inline {
    display: block;
    line-height: 50px;
    margin-right: 0.5em;
    font-weight: normal;
    vertical-align: top;

    @include  breakpoint(lg) {
      display: inline-block;
    }
  }

  &.label-inline + .dropdown-white-background {
    display: inline-block;
  }

}

.asp-search-results {
  text-align: center;
  color: $search-text-color;
  margin-top: pxtoem(-40px);
}