$breadcrumbColour: #363333 !default;
$breadcrumbAnchorColour: #00535e !default;

.breadcrumb {
    margin-top: 0.5em;
    @extend .l-list-inline;
    padding: 0;
    text-align: left;

    color: $breadcrumbColour;
    font-family: $font-family-breadcrumb;

    @include breakpoint(sm) {
        text-align: center;
    }
    @include breakpoint(md) {
        text-align: left;
    }

}

.breadcrumb a {
    color: $breadcrumbAnchorColour;
    text-decoration: none;
}

.breadcrumb > li {
    padding-right: .5em;
}
