
.byline-share-container {
  width: 100%;
  display: table;
  //width: 684px;
  text-align: center;
  max-width: 684px;
  //margin: 0 auto;
  position: relative;
  .byline-container {
    min-width: inherit;
  }
}

.byline-container {
  min-width: 280px;
  .image-social-image {
    padding: 0;
  }
}
.byline-share-details {
  width: 50%;
}
.byline-social-image {
  margin-bottom: .5em;
  @include breakpoint(md) {
    margin-bottom: 0;
    width: 82px;
  }
}
.byline-details {
  padding: 0;
  font-size: .88em;
  padding-left: 1em;
  display: table-cell;
  text-align: left;
  height: 100%;
  vertical-align: middle;
  width: 100%;

}
.byline-share-container .byline-details {
  padding: 0;
  font-size: .88em;
  display: inherit;
  text-align: center;
  @include breakpoint(md) {
    padding-left: 1em;
    display: table-cell;
    text-align: left;
  }

  height: 100%;
  vertical-align: middle;
  width: 100%;

}

.byline-by {
  line-height: 1.5em;
}
.byline-author {
  font-family: $font-family-base-b;
  line-height: 1.5em;
}
.byline-link {
  line-height: 1.5em;
}

.byline-share-details {
  width: 100%;
  margin-bottom: 1.5em;
  @include breakpoint(lg) {
    float: left;
    width: 50%;
    margin-bottom: 0;
  }
}

.byline-share-icons {

  @include breakpoint(md) {
    text-align: left;
  }
  @include breakpoint(lg) {
    float: right;
    //position: absolute;
    //top: 0;
    right: 0;
    max-width: 50%;
  }

}