.byline-share {
  @include vertical-spacing-responsive('zero','zero',30px, 10px);
}
p + .byline-share {
  @include vertical-spacing-responsive('medium','zero',0px, 10px);
}
.byline-share + .favorite-with-lines{
  @include vertical-spacing-responsive('standard','large');
}
.byline-share-container {
  width: 100%;
  display: table;
  text-align: center;
  max-width: 684px;
  position: relative;  

  .byline-container {
    min-width: inherit;
  }
}

.byline-container {
  min-width: 280px;
  .image-social-image {
    padding: 0;
  }
}
.byline-share-details {
  width: 50%;
}
.byline-social-image {
  margin-bottom: .5em;
  @include breakpoint(md) {
    margin-bottom: 0;
    width: 82px;
  }
}
.byline-details {
  padding: 0;
  font-size: .88em;
  padding-left: 1em;
  display: table-cell;
  text-align: left;
  height: 100%;
  vertical-align: middle;
  width: 100%;

}
.byline-share-container .byline-details {
  padding: 0;
  font-size: .88em;
  display: inherit;
  text-align: center;
  @include breakpoint(md) {
    padding-left: 1em;
    display: table-cell;
    text-align: left;
  }

  height: 100%;
  vertical-align: middle;
  width: 100%;

}

.byline-by {
  line-height: 1.5em;
}
.byline-author {
  font-family: $font-family-base-b;
  font-weight: 600;
  line-height: 1.5em;
}
.byline-link {
  line-height: 1.5em;
}

.byline-share-details {
  width: 100%;
  margin-bottom: 1.5em;
  @include breakpoint(lg) {
    float: left;
    width: 50%;
    margin-bottom: 0;
  }
}

.byline-share-icons {

  @include breakpoint(md) {
    text-align: left;
  }
  @include breakpoint(lg) {
    float: right;
    max-width: 50%;
    position: relative;
    text-align: right;
    padding-top: pxtoem(51px);
  }

}
.byline-share-icons .shareicons li {
  float: inherit;
  margin-right: pxtoem(2px);
  margin-bottom: pxtoem(4px);
  display: inline-block;
  right: 0px;
}
.byline-share-icons .shareicons li.social-fblike {
  display: inline-block;
  position: relative;
  top: -10px;
  right: 10px;
  padding-top: 20px;
  width: 75px;
  margin-left: 10px;
}
