
// CAROUSEL STYLES
.carousel-center-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-owl-mobile-fill {
  margin: 0 -30px;
  @include breakpoint(sm) {
    margin: inherit !important;
  }
}

// OWL CAROUSEL STYLES
#carousel .carousel-item{
  //background: #3fbf79;
  //padding: 2px;
  margin: 0 .3em;
  text-align: center;
}

.carousel-center-container {
  margin-top: 0.25em;
}
