.contactus .home-hero-title{
  text-align: center;
}

.contactus .type-intro{
  margin: 0;
}

.contactus .section-intro
{
  margin-top: pxtoem(60px);
  margin-bottom: pxtoem(40px);
}

.contactus .col-xs-12.col-sm-4{
  text-align: left;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(md) {
    text-align: left;
  }
}

.contactus ul{
  padding:0;
  margin:0 0 pxtoem(52px) 0;
  list-style: none;
}

.contactus ul li{
  padding: .13em 0;
  line-height: 1em;
}

.contactus ul li a{
  line-height: pxtoem(30px);
}

.contactus_leftcontent{
  text-align: left;
  margin-bottom: pxtoem(112px);
}