.contactus .home-hero-title{
  text-align: center;
}

.contactus .type-intro{
  margin: 0;
}

.contactus .section-intro
{
  @include vertical-spacing-responsive('zero','standard',0px , -6px);
  @include breakpoint(md) {
    @include vertical-spacing-responsive('zero','medium',0px , -6px);
  }

}
.contactus .section-title h1{
  @include vertical-spacing-responsive('zero','zero',0px, -5px);
}

.contactus .col-xs-12.col-sm-4{
  text-align: left;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(md) {
    text-align: left;
  }
}

.contactus ul{
  padding:0;
  @include vertical-spacing-responsive('zero','zero');
  list-style: none;
}

.contactus ul li{
  padding: .13em 0;
  line-height: 1em;
}

.contactus ul li a{
  line-height: pxtoem(30px);
}

.contactus_leftcontent{
  text-align: left;
  @include vertical-spacing-responsive('zero','zero',0px, 30px);
}

.contactus .type-links-bottom-border {
  @include vertical-spacing-responsive('zero','zero');
}
.contactus .breadcrumbs .type-links-bottom-border {
   padding-bottom: 0;
 }
.contactus .type-h2-secondary-h3{
  @include vertical-spacing-responsive('standard','zero');
  @include breakpoint(md) {
    @include vertical-spacing-responsive('zero','zero');
  }
}
