.dreamtrip-grid {
  padding-bottom: pxtoem($bottom-spacing);

  @include breakpoint(md) {
    padding-bottom: pxtoem($bottom-spacing-double);
  }
}

.dreamtrip-grid .btn-primary {
  margin-bottom: 1em;
  min-width: 186px;
}

.dreamtrip-title {
  padding-bottom: 0;
  margin-bottom: pxtoem(-5px);
  @include breakpoint(sm) {
    margin-bottom: -1.75em;
  }
  @include breakpoint(md) {
    padding-bottom: pxtoem(9px);
    margin-bottom: 0;
  }
}

.dreamtrip-grid .search-results-copy-container {
  @include breakpoint(md) {
    padding: 2em 3em 0 0 !important;
  }
  @include breakpoint(lg) {
    padding-bottom: 1em !important;
    padding-right: 1em !important;
  }
}

.dreamtrip-shared  {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
    //max-width: 300px;
  }
}

//Margin right is increased, and it is crashing on ipad. At this stage can not change html so target the base class
.dreamtrip-shared .col-sm-3{
  padding-right: pxtoem(7px);
  min-width: 250px;
}
