.dreamtrip-grid {
  @include vertical-spacing-responsive('large','large');
}

.dreamtrip-grid .btn-primary {
  min-width: 186px;
}

.dreamtrip-grid .btn-primary + .btn-primary {
  @include vertical-spacing-responsive('standard','');
}

.dreamtrip-grid h2.type-h1-responsive{
  @include vertical-spacing-responsive('zero','zero',0px,10px);
}

.dreamtrip-title {
  padding-bottom: 0;
  @include breakpoint(sm) {
    margin-bottom: -1.5em;
  }
  @include breakpoint(md) {
    padding-bottom: pxtoem($bottom-spacing/2);
    margin-bottom: 0;
  }
}

.dreamtrip-grid .search-results-copy-container {
  @include breakpoint(md) {
    padding: 2em 3em 0 0 !important;
  }
  @include breakpoint(lg) {
    padding-bottom: 1em !important;
    padding-right: 1em !important;
  }
}
.dreamtrip-grid .search-results-container {
  @include breakpoint(md){
    display: block !important;
  }
}
.dreamtrip-shared  {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
    //max-width: 300px;
  }
}