.dreamtrip-grid {
  padding-bottom: pxtoem($bottom-spacing);

  @include breakpoint(md) {
    padding-bottom: pxtoem($bottom-spacing-double);
  }
}

.dreamtrip-grid .btn-primary {
  margin-bottom: 1em;
  min-width: 186px;
}

.dreamtrip-title {
  padding-bottom: 0;
  @include breakpoint(sm) {
    margin-bottom: -1.5em;
  }
  @include breakpoint(md) {
    padding-bottom: pxtoem($bottom-spacing/2);
    margin-bottom: 0;
  }
}

.dreamtrip-grid .search-results-copy-container {
  @include breakpoint(md) {
    padding: 2em 2.5em 0 0 !important;
  }
  @include breakpoint(lg) {
    padding-bottom: 1em !important;
    padding-right: 1em !important;
  }
}

.dreamtrip-shared .shareicons {
  max-width: 300px;
}