
.explore-container {

  overflow: hidden;

  @include breakpoint(lg) {
    //padding-top: pxtoem(55px);
    padding: pxtoem(15px) 0;
  }

  /*
  .col-xs-4 {
    padding: .3em;
  }
  */

}

.explore-item-container {
  max-width: 384px;
  font-size: .95em;
  position: relative;

  margin: 0 auto;

  &.is-flip {
    .explore-card-back {
      z-index: 10;
    }
  }

}

.explore-image-container {
  //width: 384px;
  //height: 218px;
  text-align: center;
  position: relative;
}

.explore-image-container.nature {
  border-bottom: 4px solid $category-colour-nature;
}
.explore-image-container.aboriginal {
  border-bottom: 4px solid $category-colour-aboriginal;
}
.explore-image-container.food {
  border-bottom: 4px solid $category-colour-food;
}
.explore-image-container.arts {
  border-bottom: 4px solid $category-colour-arts;
}
.explore-image-container.islands {
  border-bottom: 4px solid $category-colour-islands;
}
.explore-image-container.beaches {
  border-bottom: 4px solid $category-colour-beaches;
}
.explore-image-container.sports {
  border-bottom: 4px solid $category-colour-sports;
}
.explore-image-container.adventure {
  border-bottom: 4px solid $category-colour-adventure;
}

.explore-item-diamond {
  position: absolute;
  bottom: -27px;
  width: 100%;
}
.explore-image-back {
  padding: .8em;
}

.explore-item-container hr {
  margin: 22px;
  border-top: 1px solid #ebebe5;
}

.explore-card-back-time {
  //display: block;
  font-family: "ProximaNova Bold", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
}
.explore-trip-item {
  display: inline-block;
  margin-right: 1em;
}
.explore-transport-icon{
  display: block;
  font-size: 2em;
  color: #91ae35;
}

.explore-trip {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.explore-trip li {
  display: inline-block;
  text-align: center;
  margin-right: 1em;
}
.explore-trip-time {
  font-family: "ProximaNova Bold", Helvetica, Arial, sans-serif;
}
.explore-trip-icon{
  display: block;
  font-size: 2.4em;
  color: #91ae35;
}

.explore-card-front {
  position: relative;

}

.explore-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f3f2eb;
}
