.favorite-with-lines{
  @include vertical-spacing-responsive('large','large');
}
.favorite-with-lines hr{
  @include vertical-spacing-responsive('standard','zero');

  &:first-child{
    @include vertical-spacing-responsive('zero','standard');
  }
}

.favourite-with-share {
  .favourite-container {
    text-align: center;
    @include breakpoint(lg){
      float: left;
    }
  }

  .right-component {
    margin-bottom: 0;
    @include breakpoint(lg) {
      margin-left: pxtoem(310px);
      text-align: right;
    }
  }
}

.favourite {
    min-width: pxtoem(280px);
    background-color: #de3831;
    border-bottom: 6px solid #981e32;
    padding: 1.4em 0.7em;
    display: inline-block;
}

.favourite-text {
    @include type_TAheadline();
    font-size: pxtoem(24px);
    color: #FFF;
    position: relative;
    margin-left: 64px;
    display: inline-block;
    margin-right: 0;
}

.favourite-icon {
    @include circle_standard(1.5em, 13px, #FFF);

    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -24px;
}

.favourite-btn {
  text-decoration: none;
  position: relative;

  &:hover, &:focus {
    .icon-font-favourite-heart-outline {
        background: #FFF;
        color: #de3831;
    }
    .icon-font-favourite-heart-outline:before {
        content: "\e602";
    }
    text-decoration: none;
    .btn-bubble-std {
      display: none;
    }
    .btn-bubble-active {
      display: inline-block;
    }
  }
  .btn-bubble {
    position: absolute;
    top: 10px;
  }
}

///////////////////////
// Favourite Share
///////////////////////
.favourite-share {
  @include vertical-spacing-responsive('large','large');
}

.favourite-share hr{
  @include vertical-spacing-responsive('standard','zero', 9px, 0px);

  &:first-child{
    @include vertical-spacing-responsive('zero','standard');
  }
}

.favourite-share-container {
  width: 100%;
  display: table;
  text-align: center;
  position: relative;
  .byline-container {
    min-width: inherit;
  }
}

.favourite-share-details {
  width: 100%;
  margin-bottom: 1.5em;
  @include breakpoint(lg) {
    float: left;
    width: 50%;
    margin-bottom: 0;
    text-align: left;
  }
}

.favourite-share-icons {

  @include breakpoint(md) {
    text-align: center;
  }
  @include breakpoint(lg) {
    float: right;
    max-width: 50%;
    position: relative;
    text-align: right;
    //padding-top: pxtoem(51px);
    right: -7px;
  }
}
.favourite-share-icons .shareicons li {
  float: inherit;
  margin-right: pxtoem(2px);
  margin-bottom: pxtoem(4px);
  display: inline-block;
  right: 0px;
}
.favourite-share-icons .shareicons li.social-fblike {
  display: inline-block;
  position: relative;
  top: -10px;
  right: 10px;
  padding-top: 20px;
  width: 65px;
  margin-left: 10px;
}