///*
// * Generic Template:
// * ---------------------------------------------------------------------------------------------------------------- */
.generictemplate{
  padding-top: pxtoem(107px);
  @include breakpoint(md){
    padding-top: pxtoem(159px);
  }
  @include breakpoint(lg){
    padding-top: pxtoem(130px);
  }
}
.generictemplate_title{
  display: none;
  @include breakpoint(lg){
    display: block;
  }
}

.generictemplate_shown_ontablet{

  .generictemplate_title{
    display: none;
    @include breakpoint(md){
      display: block;
    }
  }
}

.generictemplate_shown_onmobile{

  .generictemplate_title{
      display: block;
  }
}