///*
// * Header - Mega Menu Map:
// * ---------------------------------------------------------------------------------------------------------------- */
.megamenu-map {

    // Defaults...

    .megamenu-map-filter {
        padding: 1em 0.9375em 1em 1.875em;
        text-decoration: none;
        display: block;
        font-size: 15px;
    }

    .megamenu-map-marker {
        .map-segment {
            display: none;
        }
    }

    // Mobile Only...
    @media (max-width: $screen-xs-max) {
        .megamenu-map-markers {
            display:none;
        }
    }

    // Tablet...
    @media (min-width: $screen-sm-min) {
        min-height: 280px;

        .megamenu-map-filters {

            .megamenu-map-filter {
                width: 210px;
                padding: 10px 20px;
                display: block;
                position: absolute;
                font-size: pxtoem(18px);
            }

            // this is difficult to manage...
            .megamenu-map-filter.filter-1 {
                top: pxtoem(60px);
            }

            .megamenu-map-filter.filter-2 {
                top: pxtoem(90px);
            }

            .megamenu-map-filter.filter-3 {
                top: pxtoem(120px);
            }

            // These numbers will need to be adjusted if there are ever more than 3... may not be practical in a CMS.

            .megamenu-map-markers {
                left: -9999em;
                position: absolute;
            }

            .megamenu-map-marker {

                width: 33%;
                min-width: 210px;
                display: inline-block;
                margin: -5px -0.03em 5px -0.03em;

                a {
                    display: inline-block;
                    font-size: pxtoem(15px);
                    padding: 10px 0;
                }

            }

        }
    }

    // Desktop...
    @media (min-width: $screen-md-min) {

        .megamenu-map-marker {

            .map-segment {
                display: none;
                top: 0;
                left: 40px;
                width: 210px;
                height: 210px;
                position: absolute;
            }

            a:hover .map-segment {
                display: block;
            }

        }

        .megamenu-map-markers .megamenu-map-marker:first-child {
            margin-top: 0;
        }
    }

}

// Map filters active states.
.js .megamenu-map .megamenu-map-filters.is-active,
.no-js .megamenu-map .megamenu-map-filters:hover {

    // Mobile Only...
    @media (max-width: $screen-xs-max) {
        .megamenu-map-filter {
            color: $type-navigation;
            &:hover {
                color: $megamenu-link-hover-colour;
            }
        }
    }
    // Tablet...
    @media (min-width: $screen-sm-min) {

        .megamenu-map-filter {

            color: $megamenu-link-hover-colour;

            &:after {
                content: "";
                width: 0;
                height: 0;
                right: 0;
                top: 8px;
                position: absolute;
                display: block;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid #fff;
            }
        }

        .megamenu-map-markers {
            float: left;
            padding-left: 40px;
            margin: 20px 0 20px 200px;
            max-width: 1000px;
            min-height: 210px;
            left: auto;
            position: relative;
            border-left: 1px solid #FFF;
        }
    }

    // Desktop...
    @media (min-width: $screen-md-min) {
        .megamenu-map-markers {
            padding-left: 280px;
            background: transparent url(../imgs/megamenu/australia-map-base.png) no-repeat 40px 0;
        }
    }
}

.no-js .megamenu-map .megamenu-map-filters:hover {
    .megamenu-map-filter {
        cursor: default;
    }
}
