.hero-video {
	display: table;
	height: pxtoem(290px);
	position: relative;
	width:  100%;

  	margin-bottom: pxtoem(43px);

	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	//@include transition (height, 1s, cubic-bezier(0.455, 0.030, 0.515, 0.955), .1s);

	@include breakpoint(sm) {
      height: pxtoem(675px);
	  //height: 489px;
	}
}


.hero-video.make-white {
  color: #FFF;

  .home-hero-title, .home-hero-sub-title {
    color: #fff;
  }
}
.hero-video.make-black {
  color: #040000;

  .home-hero-title, .home-hero-sub-title {
    color: #040000;
  }
}
.hero-video.make-gold {
  color: $type-main-heading-colour;

  .home-hero-title, .home-hero-sub-title {
    color: $type-main-heading-colour;
  }
}


.hero-video-image {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 0;

	@include breakpoint(sm) {
        height: pxtoem(920px);
		//height: 678px;
	}
}

.hero-video-media {
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 57.5em;
    overflow: hidden;
}

.hero-video-media-video #bgvid {
	position: fixed;
	min-width: 100%; 
	min-height: 100%;
	height: auto;
	width: auto;
	object-fit: cover;
}

.hero-video-media-overlay {
	background: url(../imgs/spacer.gif) repeat left top; 
	height: 310px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;

	@include breakpoint(sm) {
		height: 670px;
	}
}

.hero-video-copy {
	display: table-cell;
	position: relative;	
	vertical-align: middle;
	z-index: 3;
  	text-align: center;
}

/*
.hero-video-media-video {
  position: fixed;
  top: 0;
  min-width: 1631px;
  overflow: hidden;
  width: 100%;
  max-height: 920px;
}*/
.hero-video-media-video {
  position: fixed;
  top: 0;
  /* min-width: 1631px; */
  /* overflow: hidden; */
  width: 100%;
  /* max-height: 920px; */
}