
.home-hero {
  margin-bottom: pxtoem(43px);
  position: relative;
  width:  auto;
  height: 290px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  //@include transition (height, 1s, cubic-bezier(0.455, 0.030, 0.515, 0.955), .1s);

  @include breakpoint(sm) {
    height: 489px;
  }
}
.home-hero.make-white {
  color: #FFF;

  .home-hero-title, .home-hero-sub-title {
    color: #fff;
  }
}
.home-hero.make-black {
  color: #040000;

  .home-hero-title, .home-hero-sub-title {
    color: #040000;
  }
}
.home-hero.make-gold {
  color: $type-main-heading-colour;

  .home-hero-title, .home-hero-sub-title {
    color: $type-main-heading-colour;
  }
}
.home-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  /* Fix for ipad scrolling fixed issue */
  -webkit-transform: translate3d(0,0,0);
  
  /* IE 10 fix */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      // z-index: 0; 
  }

  @include breakpoint(sm) {
    height: 678px;
  }
}

.home-hero-text {    
  height: 290px; 
  margin: 0;

  @include breakpoint(sm) {
    height: 389px;
  }

  .home-hero-title {
    font-size: pxtoem(55px);
    @include breakpoint(sm) {
      font-size: pxtoem(70px);
    }
    @include breakpoint(md) {
      font-size: pxtoem(90px);
    }
    @include breakpoint(lg) {
      font-size: pxtoem(110px);
    }
  }
}

.home-hero-text-container {
  height: 100%;
}

.home-hero-text-table-container {
  vertical-align: middle;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
.home-hero-text-table-cell {

    font-size: 16px; // return to base

  display: table-cell;
  vertical-align: middle;
  padding-bottom: 60px;
  text-align: center;
  @include breakpoint(sm) {
    padding-bottom: 70px;
  }
}
.home-hero-title {

    max-width: 1040px;
    margin: 0 auto;

  @include type_TAheadline();
  font-size: pxtoem(60px);
  @include breakpoint(sm) {
    font-size: pxtoem(80px);
  }
  @include breakpoint(md) {
    font-size: pxtoem(100px);
  }
  @include breakpoint(lg) {
    font-size: pxtoem(120px);
  }
}
.home-hero-sub-title {


  @include type_TAheadline();
  font-size: pxtoem(30px);
  @include breakpoint(sm) {
    font-size: pxtoem(50px);
  }
  @include breakpoint(md) {
    font-size: pxtoem(60px);
  }
  @include breakpoint(lg) {
    font-size: pxtoem(80px);
  }
}
.home-hero-favourite {
  position: relative;
  margin: 0 auto;
  display: table;
  left: 0;
  @include breakpoint(md) {
    margin: inherit;
  }
}
.home-explore-summary-map {
  text-align: left;
  background: rgba(255,255,255,1);
  position: relative;
  margin-top: -30px;
  padding-top: 15px;
  z-index: 1;
}
.home-summary-map-container {
  text-align: center;

  @include breakpoint(lg) {
    height: 30px;
  }

}
.home-hero-favourite-container {
    width:100%;
    max-width:1200px;

  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  bottom: -19px;
}