.hotornot-selector {
  position: relative;
  padding: 0;
  @include breakpoint(sm) {
    //padding: 0 pxtoem(15px);
  }
}

.hotornot-refresh {
  position: relative;
  top: pxtoem(-25px);
  text-align: center;
  z-index: 3;
  @include breakpoint(md){
    top: pxtoem(-70px);
  }
  @include breakpoint(lg){
    top: pxtoem(-80px);
  }
}

.hotornot-h2-responsive {
  color: #fff;
  font-size: pxtoem(30px);
  //margin-bottom: 1em;
  line-height: .9em;
  @include breakpoint(sm){
    font-size: pxtoem(40px);
  }
  @include breakpoint(md){
    font-size: pxtoem(60px);
    margin-bottom: .2em;
  }
  @include breakpoint(lg){
    font-size: pxtoem(80px);
    margin-bottom: .2em;
  }
}
.hotornot-category {
  text-align: center;
  padding: 0 1em 1em;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include breakpoint(md) {
    padding: 0 2em;
  }
}

.hotornot-like {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  text-align: center;
}

.hotornot-background-image {
  background-size: cover;
  background-position: 50% 50%;
  height: pxtoem(244px);

  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;

  @include breakpoint(sm){
    height: pxtoem(306px);
  }
  @include breakpoint(md){
    height: pxtoem(368px);
  }
  @include breakpoint(lg){
    height: pxtoem(430px);
  }
}

.hotornot-category-item-fixed {
  width: pxtoem(320px);
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.hototnot-mosaic {
  display: table-cell;
}

//////////////////
// HOT OR NOT ITEM
//////////////////
.hotornot-item {
  padding: 0;
  @include breakpoint(sm) {
    //padding: 0 pxtoem(15px);
  }
}

.hotornot-category-image1 {

  //max-height: pxtoem(245px);

  @include breakpoint(sm){
    height: inherit;
  }
  @include breakpoint(md){
    height: pxtoem(100px);
  }
  @include breakpoint(lg){
    max-height: pxtoem(430px);
  }
}

.hotornot-category-image {
  width: 100%;
  //max-height: pxtoem(364px);
  opacity: 0;
  @include breakpoint(sm) {
    //max-height: pxtoem(130px);
  }
  @include breakpoint(lg) {
    max-height: pxtoem(430px);
    opacity: 1;
  }
}

.hotornot-item-background-image {

  background-size: cover;
  background-position: 50% 80%;
  height: inherit;

  @include breakpoint(sm){
    height: pxtoem(260px);
  }
  @include breakpoint(lg){
    height: inherit;
  }
}

.hotornot-item-tile {
  padding: 0;
  position: relative;
}



.hotornot-item-padding {
  @include breakpoint(lg){
    margin: 0.1875em 0.1875em 0 0;
  }
  position: relative;
}

.hotornot-item-category {
  text-align: center;
  padding: 0 1em 6em;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include breakpoint(sm) {
    padding-bottom: 5em;
  }
  @include breakpoint(md) {
    padding-bottom: 3em;
  }
  @include breakpoint(lg) {
    padding-bottom: 1em;
  }
}
.hotornot-item-h2-responsive {
  color: #fff;
  font-size: pxtoem(56px);
  line-height: .9em;
  @include breakpoint(sm){
    font-size: pxtoem(48px);
  }
  @include breakpoint(md){
    font-size: pxtoem(60px);
  }
  @include breakpoint(lg){
    font-size: pxtoem(56px);
  }
}

.hotornot-diamond {
  position: absolute;
  top: pxtoem(44px);
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  @include breakpoint(sm){
    top: pxtoem(20px);
  }
  @include breakpoint(md){
    top: pxtoem(30px);
  }
  @include breakpoint(lg){
    top: pxtoem(44px);
  }
}
.hotornot-diamond-img {
  top: pxtoem(27px);
  position: relative;
}
.hotornot-close-btn {
  position: absolute;
  top: .2em;
  right: .2em;
}
.hotornot-item-btn-position {
  position: absolute;
  bottom: 1em;
  text-align: center;
  z-index: 3;
  width: 100%;
  @include breakpoint(md){
    display: none;
  }
}
///////////////////
// STATES
//////////////////
// if is-hotornot-hide-mobile, we hide the mosaic elements, show the +
// and hide the -
.is-hotnornot-hide-mobile {
  .hotornot-show-btn {
    @include breakpoint(md){
      display: none;
    }
  }
  .hotornot-hide-btn {
    display: none;
  }
  .hotornot-item-grid {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
    @include breakpoint(sm){
      max-height: 1500px;

    }

    @include breakpoint(md){
      display: inherit;
    }
  }
}
.is-hotnornot-show-mobile {
  .hotornot-show-btn {

  }
  .hotornot-hide-btn {
    display: none;
  }
  .hotornot-item-grid {
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    max-height: 0;
    overflow: hidden;
    @include breakpoint(sm){
      max-height: 1500px;

    }

    @include breakpoint(md){
      display: inherit;
    }
  }
}