.hotornot {

}

.hotornot-category-image {
  width: 100%;
  max-height: 245px;
  @include breakpoint(sm) {
    max-height: 430px;
  }
}

.hotornot-refresh {
  position: relative;
  top: -80px;
  text-align: center;
}

.hotornot-h2-responsive {

  //color: $type-main-heading-colour;
  color: #FFF;

  font-size: pxtoem(30px);
  margin-bottom: 1em;
  @include breakpoint(sm){
    font-size: pxtoem(50px);
  }
  @include breakpoint(md){
    font-size: pxtoem(80px);
    margin-bottom: .1em;
  }
}
.hotornot-category {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2em;
  line-height: 4.5em;
}

.hotornot-like {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%;
  text-align: center;
}