///////////////////////////
// 2 COLUMN IMAGE + CAPTION
//////////////////////////
.imagecaption {
  position: relative;
  padding-bottom: 2.5em;

  .col-sm-7 {
    padding: 0;
    @include breakpoint(md) {
      padding: 0 0 0 pxtoem(15px);
    }
  }
}
.imagecaption-image {
  max-width: 100%;
  width: 100%;

}
.imagecaption-copy {
  @include breakpoint(md) {
    position: absolute;
    left: 59%;
    bottom: 1.4em;
    width: 190px;
  }
}