
/////////////////////////// MAP WITH LINK STATE
.map-main {
  position: relative;
  display: inline-block;
  text-align: left;
  padding-bottom: pxtoem(20px);

  @include breakpoint(md){
    padding-bottom: 0;
  }

  @include breakpoint(lg){
    top: -124px;
  }
}
.map-main-image {
  max-width: 100%;
}
.map-main-link {
  position: absolute;
  bottom: 0;
  @include breakpoint(sm){
    bottom: pxtoem(10px);
  }
}
.map-main-title {
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);
  color: #040000;
  display: block;
  margin-bottom: .3em;
}
.map-main-pin {
  color: #de3831;
  font-size: 1.3em;
  vertical-align: middle;
}

.map-pin {
  padding-right: 3px;
}
a.map-pin-btn {
    text-decoration:underline;
}

.map-pin-btn {
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);
}

.map-with-links-container {
  text-align: center;
  @include vertical-spacing-responsive('large','zero',0px,8px);
}

.paragraph-city .map-with-links-container {
  @include vertical-spacing-responsive('large','zero',0px,50px);
}

.map-with-links-intro {
  display: block;
  @include vertical-spacing-responsive('standard','medium',5px,5px);
}

.map-image-view-btn-container {
    position: relative;
    top: -78px;
    margin-bottom: -55px;
}

.map-highlights-image {
  max-width: 100%;
  @include vertical-spacing-responsive('zero','standard');
}

// MODERNIZER DETECTION FOR CSSCOLUMNS
// IE8 - IE9 Support
.map-with-links-list-container {
  max-width: 1200px;
  margin: 0 auto;
}
.map-with-links-list {
  list-style-type: decimal;
  list-style-position:outside;
  display: inline-block;
  padding-left: 30px;

  max-width: 1000px;

    font-size: pxtoem(14px);

  @include breakpoint(md){
    margin-left: 15%;
  }
}
.map-with-links-list li {
  text-align: left;
  padding-bottom: 10px;
  width: 270px;
  margin-right: 50px;
  float: left;
  @include breakpoint(sm){
    width: 150px;
    margin-left: 50px;
  }
  @include breakpoint(md){
    width: 270px;
    margin-left: 0;
    margin-right: 0px;
  }
  @include breakpoint(lg){
    margin-right: 50px;
  }
}

// Modern Browser Support for columns
.csscolumns .map-with-links-list {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  position: relative;

  @include breakpoint(md){
    max-width: 1000px;

    margin-left: 60px;
    -webkit-column-count: 2;
    -webkit-column-gap:   30px;
    -moz-column-count:    2;
    -moz-column-gap:      30px;
    column-count:         2;
    column-gap:           30px;
  }

  @include breakpoint(lg){
    margin-left: 60px;
    -webkit-column-count: 3;
    -webkit-column-gap:   30px;
    -moz-column-count:    3;
    -moz-column-gap:      30px;
    column-count:         3;
    column-gap:           30px;
  }

  li {
    text-align: left;
    margin-bottom: pxtoem(17px);
    padding-bottom: 0;
    width: inherit;
    margin-right: inherit;
    float: inherit;
    position: relative;

    @include breakpoint(sm){
      width: inherit;
      margin-left: inherit;
    }
    @include breakpoint(md){
      width: inherit;
      margin-left: inherit;
      margin-right: inherit;
    }
    @include breakpoint(lg){
      margin-right: inherit;
    }

    a {
      position: absolute;
      left: 20px;
    }

  }
}

/////////////////////////// MAP WITH LINK CITY
.map-btn-container {
  display: inline-block;
  max-width: 200px;
  text-align: left;
  margin: 0px 40px;
  @include vertical-spacing-responsive('standard','standard',22px,14px);
  position: relative;
  vertical-align: top;
}
.map-btn-content {
  text-align: left;
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.5em;
}
.map-btn-content p{
  @include vertical-spacing-responsive('zero','standard');
}
.map-image-icon {
  left: -30px;
  position: absolute;
  top: -2px;
}

.map-btn-heading {
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  display: block;
  margin-bottom: pxtoem(10px);
}


//////////////////////// MAP WITH LEGEND SMALL
.map-with-links-container--small {
  .map-btn-container {
    display: block;
    margin: 0 auto;


    @include breakpoint(md){
      display: inline-block;
      margin: 0 pxtoem(30px);
      max-width: 150px;
    }

  }
}