.image-ugc-container{
  position: relative;
  background: #FFF;
}

.image-ugc {

  position: inherit;
  width: 100%;
  background: #FFF;
  overflow: hidden;

  @include breakpoint(sm) {
    position: relative;
    height: 698px;
  }

  position: relative;
  display: table;
  //width: 100%;

}
.image-ugc.make-white {

  .image-content-container {
    color: #231f20;
  }
  .image-content hr {
    border-top: 1px solid #e2e5de;
  }

  @include breakpoint(sm) {
    .image-content-container {
      color: #FFF;
    }
    .image-content hr {
      border-top: 1px solid #FFF;
    }
    .image-btn {
      color: #FFF;
      border: 1px solid #e6e8e2;
    }
  }

}
.image-ugc.make-black {
  .image-content-container {
    color: #040000;
  }
  .image-content hr {
    border-top: 1px solid #e2e5de;
  }

  @include breakpoint(sm) {
    .image-content hr {
      border-top: 1px solid #000;
    }
    .image-btn {
      color: #040000;
      border: 1px solid #040000;
    }
  }

}
.image-bg {
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  height: 180px;
  @include breakpoint(sm) {
    height: 698px;
  }
}
.image-content-container {

  position: initial;
  margin-top: 220px;
  text-align: center;
  color: #231f20;
  padding: 15px;

  @include breakpoint(sm) {
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    padding: 0px;
  }
}
.image-btn {
  padding: pxtoem(7px) pxtoem(20px);
  @include type_TAheadline();
  font-size: pxtoem(24px);
  text-decoration: none;
  display: inline-block;
  color: #4792a4;
  border: 1px solid #4792a4;
  background: none;
  &:link    {
    color: #4792a4;
    text-decoration: none;
    background: none;
  }
  &:visited {
    color: #4792a4;
    text-decoration: none;
    background: none;
  }
  &:hover   {
    background: #efc032;
    //border: 1px solid #efc032;
    text-decoration: none;
  }
  &:active  {
    color: #4792a4;
    text-decoration: none;
    background: none;
  }
}

.image-content-container .blockquote-quote-pull {
  margin: 0 auto;
  text-align: left;
  max-width: 900px;
  padding: 0 10px;

  @include breakpoint(sm) {
    padding: 0 50px;
  }

  p {

    line-height: 1.7em;
    background: rgba(84,150,174, 1);
    @include box-shadow(0.4em 0 0 rgba(84,150,174, 1),-0.4em 0 0 rgba(84,150,174, 1));

    @include breakpoint(sm) {
      background: rgba(0,84,93, .6);
      @include box-shadow(0.4em 0 0 rgba(0,84,93, .6),-0.4em 0 0 rgba(0,84,93, .6));
    }
  }
}

.image-content-container hr {
  max-width: 282px;
}
.image-quote {
  display: block;
  margin: 2em 0 2em;
  @include breakpoint(sm) {
    margin: 2em 0 2.5em;
  }
  line-height: 1.2em;
}
.image-quote-title {
  display: block;
  font-family: "ProximaNova Bold", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);

}
.image-quote-description {
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);
}
.image-quote-date {
  display: block;
  @include type_TAheadline();
  font-size: pxtoem(18px);
}
.image-quote-source {
  font-family: "ProximaNova Regular Italic", Helvetica, Arial, sans-serif;
  font-size: pxtoem(14px);
  padding-top: .6em;
  display: block;
}

.image-with-date .image-content-container {
  .image-quote {
    text-align: left;
    padding-left: 10px;
  }
  hr {
    visibility: hidden;
  }
  .image-content {
    left: 0%;
  }

  @include breakpoint(sm) {
    //position: absolute;
    //right: 12%;
    //top: 300px;
    //margin-top: 0;
    //text-align: center;
    //padding-left: inherit;
    hr {
      visibility: inherit;
    }
    .image-content {
      position: relative;
      left: 0%;
    }
    .image-quote {
      text-align: center;
    }

  }

  @include breakpoint(md) {
    .image-content {
      left: 26%;
    }
  }
}

.image-social-image {
  padding-top: 20px;
  img {
    @include border-radius(100%);
    border: 1px solid #FFF;
    max-width: 82px;
  }
  @include breakpoint(sm) {
    padding-top: inherit;
  }
}
.image-ugc.make-black .image-social-image {
  img {
    border: 1px solid #000;
  }
}

.fullwidth-bg{
    overflow: hidden;
}

.image-ugc-copyright
{
  background: inherit;
  position: absolute;
  top: 190px;
  @include breakpoint(sm) {
    position: relative;
    top: 0px;
  }
}
.image-ugc-copyright-container
{
  padding: 10px 15px;
  display: table;
  margin: 0 0 0 auto;
  @include breakpoint(sm) {
    margin: 0 10% 0 auto;
  }
}
.image-copyright-container {
  min-width: 180px;
  .image-copyright-image {
    padding: 0;
  }
}

.image-copyright-image {
  margin-bottom: .5em;
  @include breakpoint(sm) {
    margin-bottom: 0;
    width: 28px;
  }
}
.image-copyright-details {
  padding: 0;
  font-size: .88em;
  padding-left: .4em;
  display: table-cell;
  text-align: left;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  p{
    line-height: 1.3em;
    padding-top: 4px;
    margin:0;
  }
}

