
.input-white-background{
  width: 280px;
  margin: 0 auto;


  &.postcode {
    @include breakpoint(lg) {
      width: 100px;
    }
  }
}

.input-white-background-style {
  margin: 0 auto;
  height: 50px;
  overflow: hidden;
  font-family: $font-family-base;
  text-shadow:0 0 1px #eee;
}

.input-white-background input {
  background: #fff;
  border: 1px solid #00535e;
  padding: 17px 10px 17px 10px;
  width: 100%;
  height: 50px;
  line-height: pxtoem(20px);
  box-shadow: none;
  font-size: pxtoem(14px);
  -webkit-appearance: none;  /*Removes default chrome and safari style*/
  -moz-appearance: none; /* Removes Default Firefox style*/
  text-indent: 0.01px; /* Removes default arrow from firefox*/
  text-overflow: "";  /*Removes default arrow from firefox*/
  color: $search-text-color;
}


