/*
##
##	Module: Itinerary Day
##	Description: Consists of multiple modules and components to make up the itinerary day module.
##	
*/

.itinerary-day {
	
	.itinerary-day-content { 
		& > .row {
			position: relative;
		}
	}

	.itinerary-day-map  {
		text-align: center;

		@include breakpoint(md) {
			padding-top: pxtoem(30px);
		}


		& > img {
			height: auto;
			width: 100%;
			max-width: 320px;
			margin-bottom: pxtoem($bottom-spacing);

			@include breakpoint(md) {
				max-width: 100%;
			}

		}
	}

	@media (max-width: $screen-sm){
		.col-xs-3 {
			float: none;
			width: 100%;
		}

		.itinerary-day-textarea {
			float: none;
			width: 100%;
		}
	}

	
}

.itinerary-day-textarea {		
	@include breakpoint(md) {
		& > p:last-child {
			margin: 0;
		}
	}
}

.itinerary-day-nav {
position: relative;
width: 92%;
border-top: 1px solid $categorylinks-hr-colour;
list-style-type: none;
margin: 0 auto;
padding: 20px 0 0;
text-align: center;
font-size: pxtoem(12px);

@include breakpoint(md) {
	position: absolute;
	top: 0;
	left: 15px;
	width: 15%;
	height: 100%;
	text-align: left;
	padding: 0;
	border-top: none;
	border-right: 1px solid $categorylinks-hr-colour;
	padding: 20px 15px 0;
	font-size: pxtoem(16px);
}

	li {
		display: inline-block;
		margin: 0 5px;
		position: relative;

		@include breakpoint(md) {
			display: block;
			margin: 0 0 10px;
		}

		& > a {				
			line-height: 20px;
		}
	}


	li.active a {
		color: $type-heading-colour;
		font-family: $font-family-base-b;
		font-weight: bold;
		text-decoration: none;

		&:after {				
			background: url(../imgs/icons/icon-down.gif) no-repeat left top;
			content: "";
			height: 10px;
			position: absolute;
			right: 50%;
			top: -20px;
			width: 20px;
			margin-right: -10px;


			@include breakpoint(md) {
				top: 0;
				right: -16px;
				width: 10px;
				height: 20px;
				background-image: url(../imgs/icons/icon-right.gif);
			}
		}
	}
}