///*
// * What you can see:
// * ---------------------------------------------------------------------------------------------------------------- */

.largetitle {
  background:$largetitle_bg ;

}
.largetitle h1{
  text-align: center;
  color:#fff;
  margin:.4em auto;
}

.largetitlewithsubdescription h1{
  @include vertical-spacing-responsive('zero','zero',0px, 17px);
}