.large-image-text { 
	position: relative;

	@extend .clearfix;

	&.col-xs-9 {
		width: 100%;

		@include breakpoint(md){
			width: 75%;
		}
	}	
}

.large-image-text-img {
	width: 100%;

	@include breakpoint(sm){
		width: 70%;
	}
}

.large-image-text-content {
	font-size: pxtoem($font-size-base / 1.3);
	padding: 0;
	width: 100%;
   	position: static;

	& > p:last-child {
		margin-bottom: 0;
	}

  	@include breakpoint(md){
		font-size: pxtoem($font-size-base);
	}

	@include breakpoint(sm){
		bottom : 0;
		padding: 0 0 0 1em;
		right: 0;
		width: 30%;
	    position: absolute;
  	}
}