///*
// * What you can see:
// * ---------------------------------------------------------------------------------------------------------------- */

.largetitle {
  background:$largetitle_bg ;

}
.largetitle h1{
  text-align: center;
  color:#fff;
  margin:.4em auto;
}
