.largeimage {
    padding-bottom: pxtoem($bottom-spacing);
    position: relative;
	-webkit-perspective: 600;
}

.largeimage-container {
	/* Base mobile height for image */
	height: 300px;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		position: absolute;
		top: 50%;
		margin-top: -35%;
		left: 0;
	}
}

.largeimage-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	.largeimage-overlay-container {
		display: table;
		height: inherit;
		width: inherit;
	}

	.inside {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	h3 {
		color: #fff;
		font-size: pxtoem(30px);
		
		@include breakpoint(sm) {
			font-size: pxtoem(50px);
		}
		@include breakpoint(md) {
			font-size: pxtoem(60px);
		}
		@include breakpoint(lg) {
			font-size: pxtoem(80px);
		}
	}
}

.largeimage-smallimage-container {
	position: relative;
	top: pxtoem(-50px);

	img {
		width: 100%;
		height: auto;
	}
	
	& >.column {
		float: left;
	}

	& > .col-first {
		width: 23%;
		padding-top: 2.5%;
	}

	& > .col-second {
		width: 32%;
	}

	& > .col-third {
		width: 13%;
		padding-top: 2.5%;
	}

	& > .col-fourth {
		width: 32%;
	}


}

.lt-ie9 {

	.largeimage {
		height: 400px;
		overflow: hidden;
		position: relative;

		img {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	.largeimage-container {
		display: none;
	}
}
