///*
// * What you can see:
// * ---------------------------------------------------------------------------------------------------------------- */

.map_title{
  display: none;
  @include breakpoint(lg){
    display: block;
  }
}

.map_shown_ontablet{

  .map_title{
    display: none;
    @include breakpoint(md){
      display: block;
    }
  }
}

.map_shown_onmobile{

  .map_title{
    display: none;
    @include breakpoint(sm){
      display: block;
    }
  }
}