///*
// * What you can see:
// * ---------------------------------------------------------------------------------------------------------------- */
.map{
  padding-top: pxtoem(107px);
  @include breakpoint(md){
    padding-top: pxtoem(159px);
  }
  @include breakpoint(lg){
    padding-top: pxtoem(130px);
  }
}
.map_title{
  display: none;
  @include breakpoint(lg){
    display: block;
  }
}

.map_shown_ontablet{

  .map_title{
    display: none;
    @include breakpoint(md){
      display: block;
    }
  }
}

.map_shown_onmobile{

  .map_title{
      display: block;
  }
}