
.mosaic-item-description {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0.7em;
    
    h4{
        color: #FFFFFF;
        font-size: 1.2em;
        font-family: "GearedSlab-Light";
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        line-height: 0.9em;
        padding-right: 1.8em;
    }
    p {
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        font-size: 0.9em;
        line-height: 1em;
        padding-right: 1.8em;
    }
}

.mosaic-item-share-icon{
    position: absolute;
    bottom:0.7em;
    right:0.7em;
    width: 28px;
}

.mosaic-item-content{
    position: absolute;
    top:1em;
    left:1em;
    bottom:1em;
    right:1em;
}

.mosaic-overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #17819b;
    padding: 0em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    opacity: 0.95;

    
    @include breakpoint(sm) {
       padding: 0.7em;
    }
    
    p{
        color: #FFF;
        font-size: 0.9em;
        line-height: 1.2em;
        letter-spacing: -0.05em;
        
        b{
            font-family: "ProximaNova Bold Italic"; 
        }
    }
}

.mosaic-overlay-inner{
    background-color: #007491;
    margin-top: 0em;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    
    @include breakpoint(sm) {
        margin-top: 2.5em;
        padding: 0.7em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

