/**
* Mosaic Styles
*/

.mosaic {
  position: relative;
  width: 100%;
  max-width: pxtoem(1180px);
  margin: 0 auto pxtoem(20px);
}

/**********************************************/

.mosaic-item {
  position: relative;
  //padding: 0px 0px pxtoem(3px) 0px;
  width: 100%;
  overflow: visible;
  @include opacity(1);
  margin-bottom: pxtoem($mosaic-row-bottom-margin);

  @include breakpoint(md) {
    padding: pxtoem(3px);
    margin-bottom: 0;
  }

  &:hover {
    @include opacity(1, true);
  }

}

.mosaic-item.is-opacity {
  @include opacity(.5, true);
}
.mosaic-item.is-opacity:hover {
  @include opacity(1, true);
}
.mosaic-item.is-trigger-content {
  @include opacity(1);
}
.mosaic-item.is-flip{
  z-index: 2;
}



.mosaic-item .outbound-link a {
  text-decoration: none;
}

.mosaic-item .theme-nature a {
  @extend .theme-nature;
}
.mosaic-item .theme-outback a { 
  @extend .theme-outback;
}
.mosaic-item .theme-aboriginal a { 
  @extend .theme-aboriginal;
}
.mosaic-item .theme-food a { 
  @extend .theme-food;
}
.mosaic-item .theme-arts a { 
  @extend .theme-arts;
}
.mosaic-item .theme-islands a { 
  @extend .theme-islands;
}
.mosaic-item .theme-beaches a { 
  @extend .theme-beaches;
}
.mosaic-item .theme-sports a { 
  @extend .theme-sports;
}
.mosaic-item .theme-adventure a { 
  @extend .theme-adventure;
}

.mosaic-item .theme-discover a { 
  @extend .theme-discover;
}


/* fix for inconsistent height issue */
.col-md-6 .col-sm-6 .mosaic-item,
.col-md-3 .col-sm-6 .mosaic-item {
    @include breakpoint(md) {
      //width: 100%;
      width: 98.9%;
      margin: 0 auto;
    }
  }

/* Media */
.mosaic-media {
  img { 
    width: 100%;
  }
}

.mosaic-content {
    p {
      margin: pxtoem(4px) 0 0 0;
    }

    .type-destination.line-through-line-wrapper {
      display: inline-block;;
      position: relative;
    }
}

.icon-generic {
  display: block;
  margin: 0 auto;
}

.mosaic-link {
  padding: 0 20%;

}

///////////////////////////////////////
/* 2 Column Mobile */
.mosaic-mobile-two-column {
  .label-destination {
    text-align: left;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    /*@include breakpoint(md) {
      overflow: visible;
      max-width: inherit;
      white-space: normal;
    }*/
  }
  .type-date-mosaic .month {
    display: none;
    @include breakpoint(lg) {
      display: block;
      font-size: pxtoem(28px);
    }
  }
}

.mosaic-mobile-two-column .mosaic-item {
  padding: pxtoem(3px);
  margin-bottom: 0;
}
.mosaic-mobile-two-column .mosaic-grid-2 {
  margin: 0 pxtoem(-3px);
  @include breakpoint(sm) {
    margin: inherit;
  }
}
.mosaic-mobile-two-column .mosaic-grid-2-content .mosaic-item-detail-container {
  display: block;
}
.mosaic-mobile-two-column .mosaic-grid-2-tile .mosaic-item-detail-container {
  display: none !important;
}
.mosaic-mobile-two-column .video-container {
  margin: 0;
}
.mosaic-mobile-two-column .video-play-icon {
  width: 40%;
}
// remove copy from back panel
.mosaic-mobile-two-column .mosaic-column-back .type-destination {
  display: none;
  line-height: 1.2em;
  @include breakpoint(md) {
    display: inline-block;
  }
}
///////////////////////////////////////
/* Destination */
.mosaic-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  .label-destination {
    position: absolute;
    bottom: 0;
    left: 0px;
    padding: pxtoem(8px) pxtoem(12px);
    font-size: pxtoem(15px);
    @include breakpoint(md) {
      font-size: pxtoem(18px);
    }
  }  
}

/* 
  TODO - move
  Verticle Text Container 
*/
.vertical-container {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-content {
  display: table-cell;
  vertical-align: middle;

  &.text-center {
    text-align: center;
  }
}

.mosaic-item-container {
  padding-top: pxtoem(40px);
  max-width: 100%;
  background-color: #f3f2eb;
  font-size: .95em;
  position: relative;
  margin: 0 auto;
}

/* Hide / show mosaic details */
/*
.trigger-hide-show-mosaic:hover {
  cursor: pointer;
}
.trigger-hide-show-mosaic .mosaic-item-detail-container {

}
*/
.mosaic-item-detail-container {
  position: relative;
  max-height: 0px;
  overflow: hidden;
  -moz-transition: max-height 0.6s ease;
  -ms-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;

  .mosaic-detail-close-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 2;
  }
}
.mosaic-item-detail-container.active {
  max-height:999px;
  -moz-transition: max-height 0.6s ease;
  -ms-transition: max-height 0.6s ease;
  -o-transition: max-height 0.6s ease;
  -webkit-transition: max-height 0.6s ease;
  transition: max-height 0.6s ease;
}

///////////////////
// mosaic close social icons
///////////////////
.mosaic-socialtiles-icon {
  position: absolute;
  bottom: .6em;
  right: .6em;
}
.mosaic-close-icon {
  position: absolute;
  top: -.5em;
  right: -.5em;
}

///////////////////
// mosaic events
///////////////////
.mosaic-front-back-container {
  position: relative;
  cursor: pointer;
}

.mosaic-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  @include breakpoint(md) {
    padding: 2em;
  }
}
.mosaic-primary {
  position: relative;
}
.mosaic-column-front {
  position: relative;
}
.mosaic-column-back {
  z-index: 1;
}
.mosaic-grid-2-content {
  top: pxtoem(-3px);
  position: relative;
  padding-left: .2em;
  width: 100%;
  @include breakpoint(md) {
    width: 99%;
  }
}
.mosaic-grid-1, .mosaic-grid-4 {
  padding: 0;
  margin: 0;
}

// mosaic grid 4 video icon size
.mosaic-grid-4 .video-play-icon {
  @include breakpoint(md) {
    width: 25%;
    padding-bottom: 1em;
  }
}

// show detail-content at certain views
.mosaic-grid-2-tile .mosaic-item-detail-container {
  display: none;
  &.active {
    display: block;
    @include breakpoint(md) {
      display: none;
    }
  }
  @include breakpoint(md) {
    display: none;
  }
}
.mosaic-grid-2-content .mosaic-item-detail-container {
  display: none;
  @include breakpoint(md) {
    display: block;
  }
}


///////////////////
// mosaic 3 column
///////////////////
.mosaic-3column-item-option{
  //padding: .2em;
  margin-bottom: pxtoem($mosaic-row-bottom-margin);

  @include breakpoint(md) {
    margin-bottom: inherit;
    padding: pxtoem($mosaic-col-padding);
  }
  opacity: 1;
  transition: opacity .15s;
  -moz-transition: opacity .15s;
  -webkit-transition: opacity .15s;
}
.mosaic-3column-item-option.is-opacity {
  opacity: .5;
  transition: opacity .15s;
  -moz-transition: opacity .15s;
  -webkit-transition: opacity .15s;
}
.mosaic-3column-item-option.is-flip {
  opacity: 1;
  transition: opacity .15s;
  -moz-transition: opacity .15s;
  -webkit-transition: opacity .15s;
}
.mosaic-3column-container {
  position: relative;
  cursor: pointer;
}

// IE9 does simple rollover flip
.no-csstransforms3d {
  .mosaic-3column-item-option.is-flip:not(.is-trigger-content) {
    .mosaic-3column-back {
      opacity: 1;
    }
  }
}
// Modern browsers 3d flip
.csstransforms3d {
  .mosaic-3column-item-option {
    &.is-flip:not(.is-trigger-content) {
      .mosaic-3column-front {
        //display: table;
        //z-index: 1;
      }
      .mosaic-3column-back {
        //display: table;
        opacity: 1;
        transition: opacity .15s;
        -moz-transition: opacity .15s;
        -webkit-transition: opacity .15s;
      }
    }
  }
}
.mosaic-3column-front-back-container{
  position: absolute;
  left: 50%;
  height: 100%;
}
.mosaic-3column-front {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  //z-index: 2;
  z-index: 3;
}
.mosaic-3column-back {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  position: absolute;
  z-index: 2;
}
.mosaic-3column-media{
  vertical-align: middle;
  display: table-cell;
}
.mosaic-3column-item-content {
  display: block;
}

/****************************
** ATDW DIMENSIONS
/****************************/
.mosaic-atdw .mosaic-column-front {
  position: absolute;
}
.mosaic-atdw-square .mosaic-column-front {
  position: absolute;
}
.mosaic-atdw-square .mosaic-column-front, .mosaic-atdw-square .mosaic-column-back {
  width: 50.1%;
  left: 49.9%;
  .mosaic-atdw-image {
    width: 50%;
  }
}
.mosaic-atdw-square .mosaic-atdw-image {
  width: 50%;
}

.mosaic-atdw-16-9 .mosaic-column-front {
  position: absolute;
}
.mosaic-atdw-16-9 .mosaic-column-front, .mosaic-atdw-16-9 .mosaic-column-back {
  width: 43.654822335025%;
  left: 56.345177664975% !important;
}
.mosaic-atdw-16-9 .mosaic-atdw-image {
  width: 56.6%;
  height: 100%;
  top: 0;
}

.mosaic-column-front {
  background-color: #f3f2eb;
}


/* simple */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/****************************
** FLIP IE SUPPORT
/****************************/

/* END: Accommodating for IE */
.mosaic-item[data-interactive-type="flip"] .flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;

  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

// IE9 does simple rollover flip
.no-csstransforms3d {
  .mosaic-item.is-flip:not(.is-trigger-content) {
    .flip-front {
      z-index: 1;
    }
  }
}
// Modern browsers 3d flip
.csstransforms3d {
  .mosaic-item.is-flip:not(.is-trigger-content) {
    .flip-front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
    .flip-back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }
}

/****************************
** FLIP
/****************************/

.mosaic-item[data-interactive-type="flip"] .flip-front, .mosaic-item[data-interactive-type="flip"] .flip-back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.mosaic-item[data-interactive-type="flip"] .flip-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}

.mosaic-item[data-interactive-type="flip"] .flip-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/****************************
** FADE
/****************************/
.mosaic-item .flip-front {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(1);
}

.mosaic-item .flip-back {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(0);
}

.mosaic-item.is-fade:not(.is-trigger-content) .flip-front {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(0);
}

.mosaic-item.is-fade:not(.is-trigger-content) .flip-back {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(1);
}

.mosaic-3column-item-option.is-fade.is-opacity {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(1);
}

.mosaic-3column-item-option.is-fade:not(.is-trigger-content) .flip-front-fade {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(0);
}

.mosaic-3column-item-option.is-fade:not(.is-trigger-content) .flip-back-fade {
  transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  @include opacity(1);
}