
.no-js-message {
  display: block;
  //position: absolute;
  //left: 0;
  //right: 0;
  background-color: #0a2e44;
  text-align: center;
  padding: 1.2em;
  color: #FFF;
  font-weight: bold;
}

/* default state of page no-js, modernizer injects styles and removes no-js */
.js {
  .no-js-message {
    display: none;
  }
}