
//Fix for Article / AEM "CQ" integration issues.
//Need to target the default paragraph tag directly to ensure it works consistent with the grid
//Unable to apply class directly to paragraph this needs to be targeted specifically without impacting other modules
//Todo - May need to target the AEM "CQ" div that gets wrapped around the p target to ensure there is minimal implact.

/* Templates/Page Components
- Article Template
- City/State Template
- Event Template
- Generic Template
- Iconic Places Template
- Itinerary Page
- Video
*/

.paragraph-home,
.paragraph-icon,
.paragraph-city,
.paragraph-state,
.paragraph-article,
.paragraph-video
{
  background: #fff;
  position: relative;
}

//** START - solve Background issue: where hero image is shown when Margin top is given to any Paragraph element
// Working in Chrome, Safari, Firefox/Mozilla, IE8, IE9, IE10, IE11, iPhone3Gs, iPhone5, iPad ,Android default browser(stock)

.paragraph-home:before,
.paragraph-icon:before,
.paragraph-city:before,
.paragraph-state:before,
.paragraph-article:before,
.paragraph-video:before{
  content: '';
  width: 100%;
  border-top: $large-spacing-lg solid white;
  top: -$large-spacing-lg;
  position: absolute;
}
.paragraph-home:after,
.paragraph-icon:after,
.paragraph-city:after,
.paragraph-state:after,
.paragraph-article:after,
.paragraph-video:after,
.paragraph-generic:after{
  content: '';
  width: 100%;
  border-bottom: $large-spacing-lg solid #fff;
  bottom: -$large-spacing-lg;
  position: absolute;
}

// Patch to support Slim Header within paragraph-generic pages //
// Second paragraph-generic element will have a background //
.paragraph-generic ~ .paragraph-generic {
  background: #fff;
  position: relative;
}
/*
// This turns off the white background for the paragraph and applies a background to home-hero //
.paragraph-generic .home-hero:after {
  content: '';
  width: 100%;
  border-bottom: 60000px solid #fff;
  bottom: -60000px;
  position: absolute;
  z-index:-1;
  @include gpu-render();
}
*/
.paragraph-generic-no-style{
  background:none;
  position: static;
}

//** END - solve Background issue: where hero image is shown when Margin top is given to any Paragraph element

.paragraph-article {

  //CMS implementation
  & > .text >  p {
    padding-left: pxtoem(15px);
    padding-right: pxtoem(15px);
  }

  @include breakpoint(md) {
    & > .text >  p {
      padding-left: 26.8%;
    }
  }

  @include breakpoint(lg) {
    & > .text >  p {
      padding-right: 37.1%;
    }
  }

  @include breakpoint(mx) {

    & > .text >  p {
      padding-right: 28em;
      padding-left: 19.7em;
      max-width: pxtoem(1200px);
      margin-left: auto;
      margin-right: auto;
    }

  }

}

// same styles applied for testing with styleguide
.styleguide .paragraph-article {

  //CMS implementation
  & >  p {
    padding-left: pxtoem(15px);
    padding-right: pxtoem(15px);
  }

  @include breakpoint(md) {
    & >  p {
      padding-left: 26.8%;
    }
  }

  @include breakpoint(lg) {
    & >  p {
      padding-right: 37.1%;
    }
  }

  @include breakpoint(mx) {

    & >  p {
      padding-right: 28em;
      padding-left: 19.7em;
      max-width: pxtoem(1200px);
      margin-left:auto;
      margin-right:auto;
    }

  }

}

// same styles applied for testing with styleguide

.styleguide .paragraph-generic.padded-900 > *:last-child{
  @include vertical-spacing-responsive('','large');
}
.styleguide .paragraph-generic.padded-900 {

  //CMS implementation
  & >  p,
  & >  ol,
  & >  ul,
  & >  h2,
  & >  h3{
    padding-left: pxtoem(15px);
    padding-right: pxtoem(15px);
    display: block;
  }

  @include breakpoint(md) {
    & >  p,
    & >  ol,
    & >  ul,
    & >  h2,
    & >  h3{
      padding-right: 13%;
      padding-left: 13%;
    }
  }

  @include breakpoint(mx) {

    & >  p,
    & >  ol,
    & >  ul,
    & >  h2,
    & >  h3{
      padding-right: 208px;
      padding-left: 208px;
      max-width: 1200px;
      margin-left:auto;
      margin-right:auto;
    }

  }

}

.paragraph-generic.padded-900 {

  //CMS implementation
  & .text p,
  & .text ol,
  & .text ul,
  & .text h2,
  & .text h3{
    padding-left: pxtoem(15px);
    padding-right: pxtoem(15px);
    display: block;
  }

  @include breakpoint(md) {
    & .text p,
    & .text ol,
    & .text ul,
    & .text h2,
    & .text h3{
      padding-right: 13%;
      padding-left: 13%;
    }
  }

  @include breakpoint(mx) {

    & .text p,
    & .text ol,
    & .text ul,
    & .text h2,
    & .text h3{
      padding-right: 208px;
      padding-left: 208px;
      max-width: 1200px;
      margin-left:auto;
      margin-right:auto;
    }

  }

}

// same styles applied for testing with styleguide
.styleguide .paragraph-campaign  {

  //CMS implementation
  & >  p {
    padding-left: pxtoem(15px);
    padding-right: pxtoem(15px);
  }

  @include breakpoint(md) {
    & >  p {
      padding-left: 26.8%;
    }
  }

  @include breakpoint(lg) {
    & >  p {
      padding-right: 37.1%;
    }
  }

  @include breakpoint(mx) {

    & >  p {      
      padding-right: pxtoem(130px);
      padding-left: 19.7em;
      max-width: pxtoem(1200px);
      margin-left:auto;
      margin-right:auto;
    }

  }

}
