.paragraph-privacy-policy{
  padding-bottom: pxtoem(100px);
}
.paragraph-privacy-policy .section-intro{
  margin-top: pxtoem(78px);
  margin-bottom: pxtoem(40px);
}

.paragraph-privacy-policy .l-center-900 .col-xs-12{
  text-align: left;
}

.paragraph-privacy-policy ol{
  padding-left: pxtoem(15px);
  margin-left: 0;
  @include breakpoint(lg){
    padding-left: 0;
  }
}