///*
// * What you can see:
// * ---------------------------------------------------------------------------------------------------------------- */

.quote {

}

.quote-social-image {
  position: relative;
  text-align: center;

  @include breakpoint(md) {
    display: table-cell;
    top: 1em;
    padding-left: .5em;
  }
}
.quote-content {
  padding: 0 1em;
  @include breakpoint(md) {
    display: table-cell;
    padding: 0 2em;
    max-width: 430px;
    vertical-align: top;
  }
}
.quote-text {
  color: #297c9a;
  font-family: $font-family-base-i;
  font-size: 1.5em;
  line-height: 1.4em;
  padding: 0;
  margin: 0 0 .3em 0;
}
.quote-byline {
  font-size: pxtoem(14px);
}
.quote-hr {
  margin: 1em;
}
.quote-hr:first-of-type {
  margin-top: 0;
}
.quote-hr:last-of-type {
  margin-bottom: 0;
}