.section-intro,
.section-title {
    padding: 0 pxtoem(15px) 0;
}

.section-title {
  @include vertical-spacing-responsive('large','zero', 13px, 0px);

  h1 {
    font-size: pxtoem(80px);
    @include vertical-spacing-responsive('zero','zero',0px, 17px);
    @include breakpoint(md) {
      font-size: pxtoem(120px);
    }
  }
}

.section-title + .double-mosaic{
  @include vertical-spacing-responsive('large','');
}

.section-buttons {

    padding: 0;
    @include vertical-spacing-responsive('standard','standard');

  .section-buttons-desktop {
        display: none;
    }

    .section-buttons-mobile {
        hr {
            border-color: $colour-horizontal-rule-dark;
        }
    }

    // custom break to allow 2 buttons
    @media (min-width: 560px) {
        //padding: 0.25em 0 1.5em;
        .section-buttons-mobile {
            display: none;
        }
        .section-buttons-desktop {
            display: block;
        }
    }
}


