.section-intro,
.section-title {

    padding: 0 pxtoem(15px) 0;

    p {
        margin: 2em 0;
    }
}

.section-title {
  padding-top: pxtoem(60px);
  padding-bottom: pxtoem(40px);

  h1 {
    font-size: pxtoem(80px);
    margin-bottom: 0;
    @include breakpoint(md) {
      font-size: pxtoem(120px);
    }
  }
}

.section-buttons {

    padding: 0;

    .section-buttons-desktop {
        display: none;
        margin-bottom: -1em;

        .btn-bubble {
            margin-bottom: 1em;
        }
    }

    .section-buttons-mobile {
        hr {
            border-color: $colour-horizontal-rule-dark;
        }
    }

    // custom break to allow 2 buttons
    @media (min-width: 560px) {
        padding: 0.25em 0 1.5em;
        .section-buttons-mobile {
            display: none;
        }
        .section-buttons-desktop {
            display: block;
        }
    }
}


