
.shareicons {
  min-width: 200px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: inherit;
    @include breakpoint(md){
      float: left;
    }
    margin-right: pxtoem(10px);
    margin-bottom: pxtoem(8px);
    display: inline-block;
  }

    li.social-fblike {
      //display:block;
      //padding-top: 0.5em;

      top: pxtoem(-12px);
      right: pxtoem(-2px);
      padding-top: 22px;

      @include breakpoint(md){
        top: pxtoem(14px);
        padding-top: 0;
      }
      display: inline-block;
      position: relative;
      margin-right: 0.6em;
      width: pxtoem(80px);
    }

  margin-top: 1em;
  @include breakpoint(sm){
    margin-top: 0.5em
  }
}

.shareicons-container {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 4em;
  @include breakpoint(md){
    text-align: left;
    margin-bottom: inherit;
  }
}

.shareicons-icon {
  @include circle_standard(2em, 6px, #297c9a);
}

.shareicons-email-btn {
  text-decoration: none;
  &:hover, &:focus {
    background: #297c9a;
    color: #FFF;
    &:before {
      content: "\e60d";
    }
    text-decoration: none;
  }
}

.shareicons-facebook-btn {
  text-decoration: none;
  &:hover, &:focus {
    background: #297c9a;
    color: #FFF;
    &:before {
      content: "\e608";
    }
    text-decoration: none;
  }
}

.shareicons-twitter-btn {
  text-decoration: none;
  &:hover, &:focus {
    background: #297c9a;
    color: #FFF;
    &:before {
      content: "\e60a";
    }
    text-decoration: none;
  }
}