.sitemap-content{
  @include vertical-spacing-responsive('zero','medium');
}
.sitemap-content .col-xs-12{
 text-align: left;
  @include breakpoint(sm) {
    text-align: center;
  }
  @include breakpoint(md) {
    text-align: left;
  }
}
.sitemap-content h2{
  @include vertical-spacing-responsive('standard','zero');
}

.sitemap-content ul{
  padding:0;
  margin-right:pxtoem(52px);
  list-style: none;
  @include vertical-spacing-responsive('zero','standard',0px, 3px);
}

.sitemap-content ul li{
  padding: .13em 0;
  line-height: 1em;
}

.sitemap-content ul li a{
  line-height: pxtoem(30px);
}