.small-image-text {
	position: relative;

	@extend .clearfix;
}

.small-image-text-img {
	width: 100%;

	@include breakpoint(md){
		float: left;
		width: 60%;
	}
}

.small-image-text-content {
	font-size: pxtoem($font-size-base / 1.3);
	padding: 0;
	width: 100%;
   	position: static;

	& > p:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(md){
		font-size: pxtoem($font-size-base / 1.1 );
	}

	@include breakpoint(md){
		bottom : 0;
		padding: 0 0 0 1em;
		right: 0;
		width: 40%;
	    position: absolute;
  	}
}