/////////////////
// Share This
/////////////////

.st_email_large .stButton .stLarge {
  background-image: url("../imgs/icons/email_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_email_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/email.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_facebook_large .stButton .stLarge {
  background-image: url("../imgs/icons/facebook_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_facebook_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/facebook.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_twitter_large .stButton .stLarge {
  background-image: url("../imgs/icons/twitter_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_twitter_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/twitter.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_sharethis_large .stButton .stLarge {
  background-image: url("../imgs/icons/sharethis_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_sharethis_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/sharethis.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_tumblr_large .stButton .stLarge {
  background-image: url("../imgs/icons/tumblr_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_tumblr_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/tumblr.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_googleplus_large .stButton .stLarge {
  background-image: url("../imgs/icons/googleplus_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_googleplus_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/googleplus.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_xing_large .stButton .stLarge {
  background-image: url("../imgs/icons/xing_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_xing_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/xing.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_reddit_large .stButton .stLarge {
  background-image: url("../imgs/icons/reddit_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_reddit_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/reddit.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_myspace_large .stButton .stLarge {
  background-image: url("../imgs/icons/myspace_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_myspace_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/myspace.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_orkut_large .stButton .stLarge {
  background-image: url("../imgs/icons/orkut_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_orkut_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/orkut.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}

.st_linkedin_large .stButton .stLarge {
  background-image: url("../imgs/icons/linkedin_outline.png") !important;
  width: 52px;
  height: 52px;
}
.st_linkedin_large .stButton .stLarge:hover {
  background-image: url("../imgs/icons/linkedin.png") !important;
  opacity: 1 !important;
  background-position: 0 !important;
}