/* 
  Themes 
*/
.theme-mosaic-3column-entire {
  background-color: $mosaic-colour-front-3column;
  color: $body-colour;
}
.theme-mosaic-3column-front {
  background-color: $mosaic-colour-front-3column;
  color: $body-colour;
}
.theme-mosaic-3column-back {
  background-color: $mosaic-colour-back-3column;
  color: #FFF;
}
.theme-mosaic-social-front {
  background-color: #f2f1e9;
  color: #FFF;
  a {
    color: #00535e;
  }
}
.theme-mosaic-social-detail {
  background-color: $mosaic_social_tile_static_bg;
  color: $mosaic_social_tile_static_text_color;
  font-size: .95em;
  padding: 4em 3em 3em;
}

.theme-mosaic-social-back {
  background-color: #297c9a;
  color: #FFF;
  padding: 1em;
}

.theme-nature      {
  background: $category-colour-nature;
  color: $type-category-colour-secondary;
}
.theme-nature      { 
  background: $category-colour-nature; 
  color: $type-category-colour-secondary;
}
.theme-outback     { 
  background: $category-colour-outback; 
  color: $type-category-colour-primary;
}
.theme-aboriginal  { 
  background: $category-colour-aboriginal;
  color: $type-category-colour-secondary;
}
.theme-food      { 
  background: $category-colour-food; 
  color: $type-category-colour-secondary;
}
.theme-arts        { 
  background: $category-colour-arts; 
  color: $type-category-colour-secondary;
}
.theme-islands     { 
  background: $category-colour-islands; 
  color: $type-category-colour-primary;
}
.theme-beaches     { 
  background: $category-colour-beaches; 
  color: $type-category-colour-primary;
}
.theme-sports      { 
  background: $category-colour-sports; 
  color: $type-category-colour-primary;
}
.theme-adventure   { 
  background: $category-colour-adventure;
  color: $type-category-colour-primary; 
}