.two-images {
	margin-bottom: 1em;
}

.two-images-column {

	@include breakpoint(xs){
		float: none;
		margin-bottom: 1em;
		width: 100%;
	}
}

.two-images-large-img {
	width: 100%;
}

.two-images-large-content {
	font-size: pxtoem($font-size-base / 1.3);

	& > p:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(md){
		font-size: pxtoem($font-size-base);
	}
}

.two-images-small-img {
	width: 100%;
}

.two-images-small-content {
	font-size: pxtoem($font-size-base / 1.3);

	& > p:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(md){
		font-size: pxtoem($font-size-base);
	}
}