
//**********************
// Font styles:
//**********************

// TAheadline will always include a letter-spacing element
@mixin type_TAheadline(){
  font-family: "TAheadline", Helvetica, Arial, sans-serif;
  letter-spacing: .015em;
}

//**********************
// Headings
//**********************

.type-h1-responsive {

  // most of these are now h2's for semantics
  color: $type-main-heading-colour;

  font-size: pxtoem(30px);
  margin-bottom: 1em;
  @include breakpoint(sm){
    font-size: pxtoem(50px);
  }
  @include breakpoint(md){
    font-size: pxtoem(80px);
    margin-bottom: .1em;
  }
}

.type-h3-responsive {

  color: $type-main-heading-colour;

  font-size: pxtoem(30px);
  margin-bottom: .5em;
  @include breakpoint(sm){
    font-size: pxtoem(50px);
  }
  @include breakpoint(md){
    font-size: pxtoem(80px);
    margin-bottom: .1em;
  }
}

.type-h3 {
  font-family: $font-family-secondary;
  font-size: pxtoem($h3-size);
  font-weight: normal;
  color: $type-heading-colour;
  margin-top: 0;
  margin-bottom: 0;
}

.type-h4 {
  font-family: $font-family-base-b;
  font-size: pxtoem($h4-size);
  font-weight: normal;
  color: $type-heading-colour;
  margin-top: 0;
  margin-bottom: 0;
}

.type-main-heading-colour {
  color: $type-main-heading-colour;
}

.type-gallery-section-title {
  @include type_TAheadline();
  font-size: 1.75em;
  color: $gallery-section-title-colour;
  display: table-cell;
  padding: 0 pxtoem(8px);
  display: inline-block;
  padding-bottom: .8em;
}

//**********************
// IE Text Fixes
//**********************
.type-ieAntialias {
  filter:alpha(opacity=100);
}
//**********************
// Spacing above or below element styles:
//**********************
.type-spacing-10 {
  margin-bottom: 10px;
}
.type-spacing-15 {
  margin-bottom: 15px;
}
.type-spacing-20 {
  margin-bottom: 20px;
}
.type-spacing-25 {
  margin-bottom: 25px;
}
.type-spacing-30 {
  margin-bottom: 30px;
}
.type-spacing-40 {
  margin-bottom: 40px;
}
.type-spacing-50 {
  margin-bottom: 50px;
}
.type-spacing-60 {
  margin-bottom: 60px;
}
.type-spacing-70 {
  margin-bottom: 70px;
}
.type-spacing-80 {
  margin-bottom: 80px;
}
.type-spacing-90 {
  margin-bottom: 90px;
}
.type-spacing-100 {
  margin-bottom: 100px;
}
.type-spacing-110 {
  margin-bottom: 110px;
}
.type-spacing-120 {
  margin-bottom: 120px;
}

//**********************
// Font styles:
//**********************

.type-font-base {
  font-family: $font-family-base;
  strong{
    font-family: $font-family-base-b;
    em{
      font-family: $font-family-base-bi;
    }
  }
  em{
    font-family: $font-family-base-i;
  }
}
.type-font-primary {
  font-family: $font-family-primary;
  strong{
    font-family: $font-family-base-b;
  }
  em{
    font-family: $font-family-base-bi;
  }
}
.type-font-secondary {
  font-family: $font-family-secondary;
  strong{
    font-weight: bold;
  }
  em{
    font-style: italic;
  }
}
.type-font-feature {
  font-family: $font-family-feature;
  strong{
    font-weight: bold;
  }
  em{
    font-style: italic;
  }
}

//**********************
// Type styles:
//**********************
.type-article {
  color: $type-heading-colour;
  margin-bottom: pxtoem(5px);
}
.type-secondary {
  //font-family: $font-family-base;
  //line-height:  pxtolineheightem(28px, 38px);
  letter-spacing: pxtoletterspacingem(-20);
  margin-bottom: pxtoem(4px);
}
.type-tertiary {
  //line-height: pxtolineheightem(24px, 38px);
  letter-spacing: pxtoletterspacingem(-20);
  margin-bottom: pxtoem(3px);
}
.type-category {
   line-height: pxtolineheightem(18px, 24px);
   color: $type-category-colour;
   margin-bottom: pxtoem(2px);
 }

.type-hero-image {
  @extend .type-font-feature;
  letter-spacing: pxtoletterspacingem(-10);
}
.type-intro-copy{
  font-family: $font-family-base-i;
  font-size: pxtoem(22px);
  line-height: pxtolineheightem(22px, 32px);
}

.type-module {
  font-family: $font-family-module-link;
  font-size: pxtoem(14px);
  line-height: pxtolineheightem(14px, 22px);
  text-decoration: none;
}
.type-module:hover {
  text-decoration: none;
}

.type-summary {
  font-family: "ProximaNova Regular Italic", Helvetica, Arial, sans-serif;
  font-size: pxtoem(22px);
  color: #231f20;

    @include breakpoint(lg) {
        p:first-of-type {
            margin-top: 0;
        }
    }

    p:last-of-type {
        margin-bottom: 0.5em;
    }
}

.type-body p:last-of-type {
    margin-bottom: 0;
    
    @include breakpoint(xs) {
        margin-bottom: -(pxtoem(10px));
    }
}

.type-center {
  text-align: center;
}

.type-date {
  font-family: "ProximaNova Bold", Helvetica, Arial, sans-serif;
  font-size: pxtoem(18px);
  font-weight: bold;
}
.type-date-mosaic {
  font-size: 1em;
  color: #fff;
  font-weight: normal;
  font-family: "ProximaNova Regular", Helvetica, Arial, sans-serif;
  span { display: block; }
  .month { font-size: pxtoem(30px);}
  .day {
    font-size: pxtoem(114px);
    letter-spacing: -4px;
    line-height: 0.9em;
  }
}

//**********************
// Added type-destination styling here for mosaic-grid-4 as it needs to be scaled
//**********************
.type-destination { 
  font-size: pxtoem(18px);
}


//**********************
// Style like Paragraph links
//**********************
.type-links-bottom-border a {
  text-decoration: none;
  border-bottom: 1px solid #d4dcde;
}

.type-links-bottom-border a:hover {
  text-decoration: none;
  border-bottom: 2px solid #00535e;
}

.type-links-bottom-border a.is-active{
  text-decoration: none;
  border-bottom: 2px solid #00535e;
}