
.videoaddtagsshare {
  @include vertical-spacing-responsive('standard','zero',0px, 13px);
}

.videoaddtagsshare .tagcloud, .videoaddtagsshare .tagcloud ul {
  margin-top: 0;
}
.videoaddtagsshare .shareicons, .videoaddtagsshare .shareicons ul {
  margin-top: 0;
}

.videoaddtagsshare-favourite {
  margin-left: -5px;
  @include vertical-spacing-responsive('zero','standard');
  @include breakpoint(md){
    margin-left: 0;
  }
}

.videoaddtagsshare-tags {
  @include vertical-spacing-responsive('zero','standard');

  @include breakpoint(md){
    .tagcloud {
      text-align: left;
    }
  }
}

.videoaddtagsshare-social {
  text-align: center;
  @include breakpoint(md){
    padding: 0;
    text-align: right;
    right: -.5em;
  }
}
.videoaddtagsshare-fav-tags {

  text-align: center;
  padding: 0 .5em;
  @include breakpoint(md){
    text-align: left;
    padding: 0;
  }

}

/* Custom breakpoint */
@media (min-width:1094px) {
  .videoaddtagsshare-favourite {
    float: left;
  }
  .videoaddtagsshare-tags {
    max-width: 300px;
    float: left;
    margin-left: 1.2em;
    padding: 0;
  }
}