/////////////////
// 2 COLUMN VIDEO
/////////////////
.video-container {
  text-align: center;
  position: inherit;
  background-color: #000;
  margin: 0 -15px;
  @include breakpoint(sm){
    margin: inherit;
  }
}
.video-container-table {
  display: block;
  position: relative;
}
.video-play-icon {
  width: 23.33%;
  max-width: 164px;
  max-height: 165px;
}
.video-title {
  margin-bottom: -.5em;
}
.video-link {
  display: table;
  margin-top: .8em;
  margin-bottom: .3em;
  line-height: 1em;
}
.video-copy {

  padding: 10px 0;

  @include breakpoint(sm) {
    padding: 10px 0 0 10px;
  }
  @include breakpoint(md) {
    bottom: -16px;
    margin-right: -240px;
    position: absolute;
    right: 0;
    width: 220px;
  }
}

.video-2column-container {
  padding-bottom: pxtoem($bottom-spacing);

  @include breakpoint(md) {
    padding-right: 240px;
  }
}
.video-position {
  position: relative;
}

///////////////
// LARGE VIDEO
///////////////
.video-large-container {
  padding-bottom: pxtoem($bottom-spacing);
}
.video-title-large-video {
  font-family: $font-family-secondary;
  font-size: pxtoem(28px);
}
.video-text-large {
  padding: .4em 0;
  display: block;
  line-height: pxtolineheightem(16px, 24px);
}
.video-copy-large-container {
  background-color: $video_large_copy_bg;
  margin: 0 -15px;
  padding: 1em;
  @include breakpoint(sm){
    margin: inherit;
  }
}

///////////////
// VIDEO DESKTOP
///////////////
.video-desktop-title-fullvideo-fav-tags-share{
  padding: pxtoem($bottom-spacing-double) 0;
}
.videoitemwithtitle {
  background-color: $video_relatedvideos_bg;
  text-align: left;

  margin: 0 pxtoem(-15px);
  margin-bottom: pxtoem($mosaic-row-bottom-margin);
  .video-container {
    margin: 0;
  }

  @include breakpoint(sm){
    margin: 0;
    margin-bottom: pxtoem($mosaic-row-bottom-margin);
  }
  @include breakpoint(md){
    margin: pxtoem($mosaic-col-padding);
  }

}
.videoitemwithtitle-copy {
  padding: 1em;
  display: inline-block;
  @include breakpoint(sm){
    padding: .5em;
  }
}
.videoitemwithtitle-time {
  color: $video-relatedvideos-colour;
  display: block;
  @include breakpoint(sm){
    display: inline-block;
  }
}
.video-container:hover {
  cursor: pointer;
}