/////////////////
// 2 COLUMN VIDEO
/////////////////
.video-container {
  text-align: center;
  position: inherit;
  background-color: #000;
  margin: 0 -15px;
  @include breakpoint(sm){
    margin: inherit;
  }
}
.video-container-table {

  position: relative;
}
.video-play-icon {
  width: 23.33%;
  max-width: 164px;
  max-height: 165px;
}
.video-title {
  margin-bottom: -.5em;
}
.video-link {
  display: block;
  margin-top: .8em;
}
.video-copy {

  padding: 10px 0;

  @include breakpoint(sm) {
    padding: 10px 0 0 10px;
  }
  @include breakpoint(md) {
    bottom: -20px;
    margin-right: -240px;
    position: absolute;
    right: 0;
    width: 220px;
  }
}

.video-2column-container {
  @include breakpoint(md) {
    padding-right: 220px;
  }
}
.video-position {
  position: relative;
}

///////////////
// LARGE VIDEO
///////////////
.video-large-container {
  max-width: 1194px;
  padding: 0;

  @include breakpoint(lg){
    padding: 0 15px;
  }
}
.video-title-large-video {
  font-family: $font-family-secondary;
  font-size: pxtoem(28px);
}
.video-text-large {
  padding: .4em 0;
  display: block;
  line-height: pxtolineheightem(16px, 24px);
}
.video-copy-large-container {
  background-color: $video_large_copy_bg;
  margin: 0 -15px;
  padding: 1em;
  @include breakpoint(sm){
    margin: inherit;
  }
}