/*breakpoint disabler for IE8*/
/*IE8 Overrides*/
/* line 2, ../../assets/scss/site/_ie8-overrides.scss */
body {
  width: 1580px !important;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../../assets/scss/site/_ie8-overrides.scss */
.mosaic .flip-front-fade {
  z-index: 3;
}
/* line 14, ../../assets/scss/site/_ie8-overrides.scss */
.mosaic .is-flip .flip-front {
  z-index: 1;
}
/* line 17, ../../assets/scss/site/_ie8-overrides.scss */
.mosaic .is-flip .flip-front-fade {
  z-index: 1;
}
