<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[Laman Depan]]></headline>
            <href><![CDATA[/id/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[Tentang]]></headline>
            <href><![CDATA[/id/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[Australia musim]]></headline>
            <href><![CDATA[/id/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[Jelajahi musim semi Australia]]></headline>
            <href><![CDATA[/id/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[Jelajahi musim semi Australia]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[Menikmati gaya hidup pantai hingga peristiwa nasional penting, temukan hal yang dapat dilakukan selama musim panas di Australia, mulai dari Desember hingga Februari.]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[Jelajahi musim semi Australia]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[musim panas di australia, musim panas australia]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Pelajari Lebih Lanjut]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[Jelajahi musim semi Australia]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[Musim panas di Australia - Tourism Australia]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[Jelajahi musim semi Australia yang berlangsung dari September ke November. Pada daerah utara yang tropis, bulan tersebut adalah awal dari musim hujan.]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>Jelajahi musim semi Australia, dari bulan September sampai November di sebagian besar kawasan negeri ini. Di daerah utara kami yang beriklim tropis, ini adalah musim ‘bergerombol’ atau musim pra-monsun.</p>
                    <p>Saksikan Melbourne yang berbenah menyambut Melbourne Cup yang menyedot perhatian seluruh negeri. Nikmati pertunjukan opera, musik jazz, musik blues dan seni pahat di antara kilang-kilang anggur di Hunter Valley, dekat Sydney. Gabungkan makanan, anggur, kegiatan menyelam dan berselancar di Margaret River Australia Barat. Jelajahi puncak-puncak pohon kuno di Hutan Hujan Daintree yang terdaftar sebagai Warisan Dunia di Queensland. Saksikan pertunjukan satwa liar dan bunga liar di Pulau Kanguru Australia Selatan atau tangkaplah ikan kakap putih besar pada musim ‘bergerombol’ di Teritorial Utara. Saksikan Canberra yang semarak dengan sejuta bunga mekar musim semi di Floriade atau ikuti perjalanan wisata dari taman-taman bunga yang bermekaran di Tasmania ke tujuan wisata alam yang bersejarah. Di Australia, musim semi juga merupakan musim yang cocok untuk berselancar, berkayak di laut dan berkano. </p>
                    <br />
                    <p><img alt="Musim Semi Kami Membawakan Anda..." src="/contentimages/about-australias-landscapes-australias-seasons-spring-id-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/events/vic-spring-racing.xml" target="_self"><img alt="Spring Racing Carnival di Australia" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/id/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Spring Racing Carnival di Australia</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Berhenti sejenak untuk menyaksikan Melbourne Cup dan menikmati kegembiraan, mode dan pacuan kuda pada Spring Racing Carnival. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="Musim Semi di Hutan Hujan Daintree" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/id/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">Musim Semi di Hutan Hujan Daintree</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Jelajahi hutan kuno Daintree, hutan hujan tertua di dunia. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/states/wa/margaret-river.xml" target="_self"><img alt="Liburan Musim Semi di Margaret River" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/id/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">Liburan Musim Semi di Margaret River</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Musim semi menyegarkan pandangan hidup Anda dengan menikmati anggur, bersantap, melihat ikan paus, menyelam dan berselancar selama seminggu di Margaret River Australia Barat. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="Pertunjukan Musim Semi Pulau Kanguru" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">Pertunjukan Musim Semi Pulau Kanguru</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Dari hewan liar sampai bunga liar, musim semi menampilkan pertunjukan penuh aksi di Pulau Kanguru. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/states/tas/tas-gardens.xml" target="_self"><img alt="Taman bunga yang bermekaran di Tasmania" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/id/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">Taman bunga yang bermekaran di Tasmania</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Taman bunga musim semi yang sedang mekar di Tasmania semakin menambah keindahan lingkungan yang begitu mempesona. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="Memancing di tengah gerombolan ikan kakap putih, Teritorial Utara" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/id/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Memancing di tengah gerombolan ikan kakap putih, Teritorial Utara</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Tangkap ikan kakap putih besar ketika ikan ini bergerombol di Teritorial Utara, yang berlangsung dari bulan Oktober sampai Desember. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="Acara Musim Semi di Hunter Valley" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/id/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">Acara Musim Semi di Hunter Valley</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Nikmati aroma musim semi di kawasan perkebunan anggur ini, dua jam berkendara ke utara Sydney. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/events/floriade.xml" target="_self"><img alt="Festival Floriade, Canberra" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/id/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/id/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">Festival Floriade, Canberra</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Saksikan Canberra yang bersemi bersama sejuta bunga mekar di musim semi dalam festival Floriade, festival bunga terbesar di Australia. </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 10px;" alt="Perjalanan" src="/contentimages/about-australias-landscapes-australias-seasons-spring-id-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="Perjalanan" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/id/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">Ide-Ide Liburan di Australia</span></a></strong></p>
                    <table width="95%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                <p>Gagas sendiri liburan Anda di Australia dengan aneka ide mudah berikut ini. Bermula dari salah satu gerbang internasional kami, segmen tiga minggu serbaguna ini akan memberikan Anda gambaran seberapa banyak yang dapat Anda lihat dan lakukan dalam sebuah liburan singkat sekalipun di Australia. Anda dapat mengotak-atik gagasan tersebut agar sesuai dengan waktu liburan Anda, kota kedatangan dan daftar tujuan wisata yang ‘wajib dikunjungi’. Australia adalah sebuah negeri yang luas, namun dengan perencanaan yang matang, Anda dapat menjelajahi aneka ragam bentang alam hanya dalam waktu beberapa minggu. </p>
                                <p>Dari Sydney, kunjungi Melbourne dan jalan Great Ocean Road, kemudian terbang ke Uluru. Gabungkan Great Barrier Reef dan Red Centre dari Cairns. Dari Brisbane, jelajahi Gold Coast, Fraser Island dan kepulauan Whitsundays sebelum terbang ke Sydney. Temukan Margaret River, terumbu karang Ningaloo Reef, Broome, Darwin dan bahkan Sydney dari Perth. Dari Melbourne, naik kendaraan ke Adelaide yang anggun atau hutan belantara Tasmania yang terdaftar sebagai Warisan Dunia. Dari Adelaide, kunjungi Pulau Kanguru, pegunungan Flinders Ranges, kemudian naik kereta api Ghan melintasi Alice Springs menuju Darwin.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Sydney</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Melbourne</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Brisbane</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Perth</span></a></span></p>
                                </td>
                                <td style="width: 40%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Adelaide</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Cairns</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/id/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Darwin</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="Australia's spring" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/id/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Berselancar di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-id-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Berselancar di Australia" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Pantai-pantai selancar Australia, tempat terhempasnya ombak-ombak kelas satu untuk semua tingkat keahlian berselancar, dihasilkan dari Samudera Pasifik di timur, Samudera Hindia di barat dan Samudera Antartika di selatan. Kunjungi Bells Beach yang ternama, dekat Torquay, yang merupakan pintu gerbang menuju Surf Coast Victoria di jalan Great Ocean Road. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/id/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/id/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Berkano dan Berkayak di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-id-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/id/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Berkano dan Berkayak di Australia" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Dari teluk dan kolam yang tenang sampai sungai dan ngarai yang indah, Australia menawarkan banyak tempat untuk disusuri. Berkanolah menyusuri Sungai Blackwood, yang berkelok-kelok melintasi kawasan barat daya Australia Selatan, atau di sepanjang labirin sungai-sungai yang tenang di Coorong Australia Selatan.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>