<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[Página inicial]]></headline>
            <href><![CDATA[/pt-br/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[Sobre]]></headline>
            <href><![CDATA[/pt-br/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[As estações na Austrália ]]></headline>
            <href><![CDATA[/pt-br/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[Descubra a primavera da Austrália]]></headline>
            <href><![CDATA[/pt-br/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[Descubra a primavera da Austr&aacute;lia]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[Aprecie a flora e fauna em uma s&eacute;rie de eventos e aproveite todas as atra&ccedil;&otilde;es de incomensur&aacute;vel beleza que a Austr&aacute;lia oferece na primavera que vai de setembro a novembro.]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[Descubra a primavera da Austr&aacute;lia]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[primavera na austr&aacute;lia, primavera australiana]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Learn More]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[Primavera na Austr&aacute;lia - Tourism Australia]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[Descubra a primavera na Austr&aacute;lia, que vai de setembro a novembro. No nosso norte tropical, esta &eacute; a esta&ccedil;&atilde;o que precede a mon&ccedil;&atilde;o. Saiba mais.]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>Descubra a temporada de primavera da Austr&aacute;lia, de setembro a novembro, na maior parte do pa&iacute;s. Em nosso norte tropical, este &eacute; o ‘impulso’ ou esta&ccedil;&atilde;o pr&eacute;-mon&ccedil;&atilde;o.</p>
                    <p>Veja Melbourne se vestir para a Copa Melbourne, que faz o pa&iacute;s parar. Curta &oacute;pera, jazz, blues e esculturas entre as vin&iacute;colas de Hunter Valley, vizinho a Sydney. Combine culin&aacute;ria, vinho, mergulho e surfe no Margaret Rives, no Oeste da Austr&aacute;lia. Caminhe pelas copas de &aacute;rvores primitivas na floresta tropical Daintree, Patrim&ocirc;nio da Humanidade, em Queensland. Vivencie o show de vida selvagem e flores silvestres na ilha Kangaroo, na Austr&aacute;lia do Sul ou capture uma perca-gigante digna de pr&ecirc;mio durante ‘ac&uacute;mulo’ no Territ&oacute;rio do Norte Veja Canberra ganhar vida com um milh&atilde;o de flores na primavera em Floriade ou siga os jardins floridos da Tasm&acirc;nia at&eacute; as atra&ccedil;&otilde;es naturais e hist&oacute;ricas. Na Austr&aacute;lia, a primavera tamb&eacute;m &eacute; uma excelente esta&ccedil;&atilde;o para surfar, passear de caiaque no mar e fazer canoagem.</p>
                    <br />
                    <p><img alt="Nossa primavera traz voc&ecirc;..." src="/contentimages/about-australias-landscapes-australias-seasons-spring-pt-br-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/events/vic-spring-racing.xml" target="_self"><img alt="Spring Racing Carnival da Austr&aacute;lia" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/pt-br/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Spring Racing Carnival da Austr&aacute;lia</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>D&ecirc; uma parada para ver a Copa Melbourne e curta divers&atilde;o, moda e corrida de cavalos no Festival de Corrida de Primavera. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="Primavera na Daintree Rainforest" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/pt-br/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">Primavera na Daintree Rainforest</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Revigore-se na ancestral Daintree, a floresta mais antiga do mundo. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/states/wa/margaret-river.xml" target="_self"><img alt="F&eacute;rias da primavera em Margaret River" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/pt-br/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">F&eacute;rias da primavera em Margaret River</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>A primavera clareia sua vis&atilde;o da vida com uma semana de vinhos, culin&aacute;ria, observa&ccedil;&atilde;o de baleias, mergulho e surfe no Margaret River no Oeste da Austr&aacute;lia.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="Apresenta&ccedil;&atilde;o da primavera na ilha Kangaroo" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">Apresenta&ccedil;&atilde;o da primavera na ilha Kangaroo </span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Desde vida selvagem a flores silvestres, a primavera oferece um show repleto de a&ccedil;&atilde;o na ilha Kangaroo. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/states/tas/tas-gardens.xml" target="_self"><img alt="Jardins em flor da Tasm&acirc;nia" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/pt-br/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">Jardins em flor da Tasm&acirc;nia</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Os jardins em flor na primavera da Tasm&acirc;nia trazem cor a um ambiente j&aacute; maravilhoso.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="
                                Pescando na temporada de barras, Territ&oacute;rio do Norte" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/pt-br/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Pescando na temporada de barras, Territ&oacute;rio do Norte</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Pesque uma perca-gigante (“barramundi”) premiada durante a temporada no Territ&oacute;rio do Norte, que dura de outubro a dezembro. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="Eventos de Primavera de Hunter Valley" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/pt-br/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">Eventos de Primavera de Hunter Valley</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Desfrute de toda a ess&ecirc;ncia da primavera nesta regi&atilde;o cercada por vinhedos, a duas horas de carro ao norte de Sydney.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/events/floriade.xml" target="_self"><img alt="
                                Floriade, Canberra" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/pt-br/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/pt-br/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">Floriade, Canberra</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Veja como Canberra se enche de vida com o surgimento de milhares de flores na Floriade, o maior festival de flores da Austr&aacute;lia.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="Roteiros" src="/contentimages/about-australias-landscapes-australias-seasons-spring-pt-br-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="Roteiros" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/pt-br/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">Ideias para f&eacute;rias na Austr&aacute;lia</span></a></strong></p>
                    <p style="padding-right: 15px;">Cria suas pr&oacute;prias f&eacute;rias na Austr&aacute;lia com essas ideias f&aacute;ceis de itiner&aacute;rio. Come&ccedil;ando de cada um de nossos port&otilde;es de entrada internacionais, esses vers&aacute;teis segmentos de tr&ecirc;s semanas d&atilde;o a voc&ecirc; uma ideia do quanto voc&ecirc; pode ver e fazer mesmo em f&eacute;rias curtas na Austr&aacute;lia. Divida-os ou combine-os para se adequarem ao seu per&iacute;odo de f&eacute;rias, ponto de chegada e lista de destinos ‘imperd&iacute;veis’. A Austr&aacute;lia &eacute; um vasto pa&iacute;s, mas com planejamento voc&ecirc; pode cobrir uma diversidade de paisagens em apenas algumas semanas.</p>
                    <p style="padding-right: 15px;">De Sydney, veja Melbourne e a Great Ocean Road, depois voe para Uluru. Combine a Grande Barreira de Corais e o Red Centre a partir de Cairns. De Brisbane, visite a Costa de Ouro, a ilha Fraser e Whitsundays antes de voar para Sydney. Descubra o Margaret River, o Ningaloo Reef, Broome, Darwin e at&eacute; mesmo Sydney, a partir de Perth. De Melbourne, dirija at&eacute; a elegante Adelaide ou at&eacute; a vida selvagem, Patrim&ocirc;nio da Humanidade, da Tasm&acirc;nia. De Adelaide, veja a ilha Kangaroo, a cordilheira Flinders, e em seguida pegue o Ghan por Alice Springs at&eacute; Darwin.</p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Sydney</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Melbourne</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Brisbane</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Perth</span></a></span></p>
                                </td>
                                <td style="width: 50%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Adelaide</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Cairns</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/pt-br/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">Tr&ecirc;s semanas a partir de Darwin</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="Floriade, ACT" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/pt-br/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Surfe na Austr&aacute;lia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-pt-br-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Surfe na Austr&aacute;lia" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>As praias para surfe da Austr&aacute;lia, onde quebram ondas de classe mundial para todas as habilidades de surfe, nascem no Oceano Pac&iacute;fico ao leste e no Oceano &Iacute;ndico ao oeste e no Oceano Ant&aacute;rtico ao sul. Visite a ic&ocirc;nica Bells Beach, perto de Torquay, o port&atilde;o de entrada para a costa do surfe de Victoria pela Great Ocean Road.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/pt-br/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/pt-br/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Canoagem e caiaque na Austr&aacute;lia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-pt-br-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/pt-br/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Canoagem e caiaque na Austr&aacute;lia" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Das entradas tranquilas e &aacute;guas paradas at&eacute; os rios pitorescos e gargantas, a Austr&aacute;lia oferece muitos lugares para remar. Passeie de canoa pelo Blackwood River, que serpenteia atrav&eacute;s da regi&atilde;o sudoeste do Oeste da Austr&aacute;lia, ou ao longo do labirinto de canais em Cooroong na Austr&aacute;lia do Sul.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>