---
title: Buttons
---
<p>
	<a href="#" class="btn-primary">Button</a>
</p>
<p>
	<a href="#" class="btn-primary alt">Alternate Button</a>
</p>
<p>
	<a href="#" class="btn-primary disabled">Disabled Button</a>
</p>
<p>
    <a href="#" class="btn-tag-item">Tag Cloud</a>
</p>


<p>
	<a href="#" class="text-btn">Text Button</a>
</p>

<a href="#" class="favourite favourite-btn">

    <span class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/favourite_white_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/favourite_white.png" alt=""/>
        </span>
    </span>
    <span class="favourite-text">add to your dream trip</span>
</a>




<p>
    BUTTONS USING IMAGES ONLY
</p>

<div style="margin: 0 auto;text-align: center;">

    OTHER BUTTONS
    <br>
    <div style="background-color: #ccc">
        <a href="#" class="btn-bubble">
    <span class="btn-bubble-button">
        <img class="btn-bubble-std" src="imgs/icons/favourite_white_outline.png" alt=""/>
        <img class="btn-bubble-active" src="imgs/icons/favourite_white.png" alt=""/>
    </span>
        </a>
    </div>
    <div style="background-color: #ccc">
        <a href="#" class="btn-bubble is-active">
    <span class="btn-bubble-button">
        <img class="btn-bubble-std" src="imgs/icons/favourite_white_outline.png" alt=""/>
        <img class="btn-bubble-active" src="imgs/icons/favourite_white.png" alt=""/>
    </span>
        </a>
    </div>
    <a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/mappin_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/mappin.png" alt=""/>
        </span>
    </a>
    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/mappin_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/mappin.png" alt=""/>
        </span>
    </a>

    <br>
    SPEECH BUBBLE BUTTONS
    <br>
    <a href="" class="btn-bubble">
        <span class="btn-bubble-tooltip">
            <span class="btn-bubble-tooltip-container">
                This is a tool tip
            </span>
        </span>
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/mappin_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/mappin.png" alt=""/>
        </span>
    </a>
    <a href="" class="btn-bubble is-active">
        <span class="btn-bubble-tooltip">
            <span class="btn-bubble-tooltip-container">
                This is a tool tip
            </span>
        </span>
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/mappin_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/mappin.png" alt=""/>
        </span>
    </a>

    <a href="" class="btn-bubble bubble-colour-favourite">
        <span class="btn-bubble-tooltip">
            <span class="btn-bubble-tooltip-container">
                Add to your dream trip
            </span>
        </span>
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/favourite_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/favourite.png" alt=""/>
        </span>
    </a>
    <br><br><br>
    <p><a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/accommodation_outline.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/accommodation.png" alt=""/>
        </span>
        <span class="type-below-btn">Accommodation</span>
    </a>
    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/accommodation_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/accommodation.png" alt=""/>
        </span>
        <span class="type-below-btn">Accommodation</span>
    </a>
    </p>

    <p><a href="#" class="btn-bubble is-active btn-category-extra-space">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/attraction_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/attraction.png" alt=""/>
        </span>
        <span class="type-below-btn">Attractions around Sydney</span>
    </a>
        <a href="#" class="btn-bubble btn-category-extra-space">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/attraction_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/attraction.png" alt=""/>
        </span>
            <span class="type-below-btn">Attractions around Sydney</span>
        </a>
    </p>

    <p><a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/restaurant_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/restaurant.png" alt=""/>
        </span>
        <span class="type-below-btn">Restaurant</span>
    </a>
        <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/restaurant_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/restaurant.png" alt=""/>
        </span>
        <span class="type-below-btn">Restaurant</span>
        </a>
    </p>



    <p><a href="#" class="btn-bubble is-active btn-category-extra-space">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/trips_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/trips.png" alt=""/>
        </span>
        <span class="type-below-btn">Trips Around Sydney</span>
    </a>
        <a href="#" class="btn-bubble btn-category-extra-space">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/trips_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/trips.png" alt=""/>
        </span>
            <span class="type-below-btn">Trips Around Sydney</span>
        </a>
    </p>


    <p><a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/tours_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/tours.png" alt=""/>
             <span class="type-below-btn">Tours</span>
        </span>
    </a>
        <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/tours_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/tours.png" alt=""/>
             <span class="type-below-btn">Tours</span>
        </span>
        </a>
    </p>


    <p><a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/hire_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/hire.png" alt=""/>
             <span class="type-below-btn">Hire</span>
        </span>
    </a>
        <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/hire_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/hire.png" alt=""/>
        </span>
            <span class="type-below-btn">Hire</span>
        </a>
    </p>

    <p><a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/events_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/events.png" alt=""/>

        </span>
        <span class="type-below-btn">Events</span>
    </a>
        <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/events_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/events.png" alt=""/>
        </span>
            <span class="type-below-btn">Events</span>
        </a>
    </p>

    <p>
        <a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/transport_outline.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/transport.png" alt=""/>
        </span>
            <span class="type-below-btn">Transport</span>
        </a>
        <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/transport_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/transport.png" alt=""/>
        </span>
            <span class="type-below-btn">Transport</span>
        </a>
    </p>


    <a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/menu_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/menu.png" alt=""/>
                    <span class="type-below-btn">Things To Do</span>
        </span>
    </a>
    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/menu_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/menu.png" alt=""/>
            <span class="type-below-btn">Things To Do</span>
        </span>
    </a>

    <a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/star_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/star.png" alt=""/>
                <span class="type-below-btn">Highlights</span>
        </span>
    </a>
    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/star_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/star.png" alt=""/>
        </span>
        <span class="type-below-btn">Highlights</span>
    </a>

<p>UI Icons</p>

<p>

    <a href="#" class="btn-bubble is-active">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/close_outline.png" alt=""/>
                <img class="btn-bubble-active" src="imgs/icons/close.png" alt=""/>
        </span>
        <span class="type-below-btn">Close</span>
    </a>
    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/close_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/close.png" alt=""/>
        </span>
        <span class="type-below-btn">Close</span>
    </a>

    <br>

    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/close_button_std.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/close_button_rol.png" alt=""/>
        </span>
    </a>

    <br>

</p>

</div>

<div style="margin: 0 auto;text-align: center; background: #ccc;">

    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/close_button_white_std.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/close_button_white_rol.png" alt=""/>
        </span>
    </a>

    <br>

    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/hot_or_not_close_std.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/hot_or_not_close_rol.png" alt=""/>
        </span>
    </a>

    <br>

    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/hot_or_not_like_std.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/hot_or_not_like_rol.png" alt=""/>
        </span>
    </a>

    <br>

    <a href="#" class="btn-bubble">
        <span class="btn-bubble-button">
              <img class="btn-bubble-std" src="imgs/icons/hot_or_not_refresh_std.png" alt=""/>
              <img class="btn-bubble-active" src="imgs/icons/hot_or_not_refresh_rol.png" alt=""/>
        </span>
    </a>

</div>