---
title: Template - City - Component - Favourite
---


<a href="#" class="favourite favourite-btn">
    <span class="btn-bubble">
        <span class="btn-bubble-button">
            <img class="btn-bubble-std" src="imgs/icons/favourite_white_outline.png" alt=""/>
            <img class="btn-bubble-active" src="imgs/icons/favourite_white.png" alt=""/>
        </span>
    </span>
    <span class="favourite-text">add to your dream trip</span>
</a>