---
title: Fonts
---

<p class="font-base">Base font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p class="font-base"><em>Base font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-base"><strong>Base font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</strong></p>
<hr>
<p class="font-primary">Primary font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p class="font-primary"><em>Primary font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-primary"><strong>Primary font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</strong></p>
<hr>
<p class="font-secondary">Secondary font: "TAheadline", "Helvetica", "Arial", sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: "TAheadline", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: "TAheadline", "Helvetica", "Arial", sans-serif;</strong></p>
<hr>
<p class="font-feature">Feature font: "Mission Gothic Light Italic", "Helvetica", "Arial", sans-serif;</p>
<p class="font-feature"><em>Feature font italic: "Mission Gothic Light Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p class="font-feature"><strong>Feature font bold: "Mission Gothic Light Italic", "Helvetica", "Arial", sans-serif;</strong></p>