---
title: Fonts
---

<p class="type-font-base">Base font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-base"><em>Base font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p class="type-font-base"><strong>Base font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</strong></p>
<hr>
<p class="type-font-primary">Primary font: "ProximaNova Regular", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-primary"><em>Primary font italic: "ProximaNova Italic", "Helvetica", "Arial", sans-serif;</em></p>
<p class="type-font-primary"><strong>Primary font bold: "ProximaNova Bold", "Helvetica", "Arial", sans-serif;</strong></p>
<hr>
<p class="type-font-secondary">Secondary font: "TAheadline", "Helvetica", "Arial", sans-serif;</p>
<p class="type-font-secondary"><em>Secondary font italic: "TAheadline", "Helvetica", "Arial", sans-serif;</em></p>
<p class="type-font-secondary"><strong>Secondary font bold: "TAheadline", "Helvetica", "Arial", sans-serif;</strong></p>
