---
title: Footer About
---

<div class="footer-col">
    <p class="footer-heading">About this site</p>
    <ul class="footer-text-list footer-type-light l-list-clean">
        <li><a href="#">Sitemap</a></li>
        <li><a href="http://www.australia.com/privacypolicy.aspx">Privacy policy</a></li>
        <li><a href="http://www.australia.com/terms-conditions.aspx">Terms & conditions</a></li>
        <li><a href="#">Special offers disclaimer</a></li>
        <li><a href="#">Feedback</a></li>
    </ul>
</div>