---
title: Headings
---
<h1 class="type-article">Article Headline</h1>
<h2 class="type-secondary">Secondary headline</h2>
<h3 class="type-tertiary">Tertiary headline</h3>
<h4 class="type-category">Category</h4>
<h1 class="type-hero-image">Hero image headline</h1>