---
title: Headings
---

<h1 class="home-hero-title">Hero image headline - 120pt/110pt</h1>
<h1 class="type-article">Article Headline - 80pt/75pt</h1>
<h2 class="type-secondary">Secondary headline</h2>
<h3 class="type-tertiary">TERTIARY headline - 28pt/26pt</h3>
<h4>H4 headline - 18pt</h4>
<h1 class="type-hero-image">Hero image headline</h1>
