---
title: Template - City/State - Component - Hero
note: note-herohome
---

<div class="home-hero make-white">
	<div class="home-bg fullwidth-bg">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/herohome_grampains.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/herohome_grampains.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/herohome_grampains.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/herohome_grampains.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/placeholders/herohome_grampains.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/placeholders/herohome_grampains.jpg' alt=''>
        <![endif]-->
	</div>

	<div class="home-hero-text-table-container">
		<div class="home-hero-text-table-cell">
			<div class="home-hero-title">
				Victoria
			</div>
			<div class="home-hero-sub-title">
				A state of inspiration
			</div>
		</div>
	</div>
	<div class="row l-center-1200 home-hero-favourite-container">
		<div class="col-xs-12 col-sm-3">
			<div class="hero-home-favourite">
				{{> favourite }}
			</div>
		</div>
	</div>
</div>