---
title: Icons
---

<p>

    <!-- icons, aboriginal_australia, adventure, art_culture, beaches,
                    food_wine, island, nature_wildlife, outback, sports -->
<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>


<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>

<div style="background-color: #ccc">
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

</div>

<p>
    <img src="imgs/icons/facebook_outline_small_black.png" alt="">
</p>

<div class="shareicons">
    <ul>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_email_large" displayText="Email">
                <img class="btn-bubble-std" src="imgs/icons/email_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/email.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_facebook_large" displayText="Facebook">
                <img class="btn-bubble-std" src="imgs/icons/facebook_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/facebook.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_twitter_large" displayText="Twitter">
                <img class="btn-bubble-std" src="imgs/icons/twitter_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/twitter.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_sharethis_large" displayText="ShareThis">
                <img class="btn-bubble-std" src="imgs/icons/sharethis_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/sharethis.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_tumblr_large" displayText="Tumblr">
                <img class="btn-bubble-std" src="imgs/icons/tumblr_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/tumblr.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_googleplus_large" displayText="Google +">
                <img class="btn-bubble-std" src="imgs/icons/googleplus_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/googleplus.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_xing_large" displayText="Xing">
                <img class="btn-bubble-std" src="imgs/icons/xing_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/xing.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_reddit_large" displayText="Reddit">
                <img class="btn-bubble-std" src="imgs/icons/reddit_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/reddit.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_myspace_large" displayText="MySpace">
                <img class="btn-bubble-std" src="imgs/icons/myspace_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/myspace.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_orkut_large" displayText="Orkut">
                <img class="btn-bubble-std" src="imgs/icons/orkut_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/orkut.png" alt="">
            </span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_linkedin_large" displayText="MySpace">
                <img class="btn-bubble-std" src="imgs/icons/linkedin_outline.png" alt="">
                <img class="btn-bubble-active" src="imgs/icons/linkedin.png" alt="">
            </span>
        </li>

        <li class="social-fblike"><span class="st_fblike_large" displayText="Facebook Like"></span></li>
    </ul>

</div>

</p>
