---
title: Icons
---

<p>

    <!-- icons, aboriginal_australia, adventure, art_culture, beaches,
                    food_wine, island, nature_wildlife, outback, sports -->
<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>


<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>

<div style="background-color: #ccc">
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

</div>

<div style="background-color: #ccc">
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_stroke.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>

<p>
    <img src="imgs/icons/facebook_outline_small_black.png" alt="">
    <img src="imgs/icons/pin_sml.png" class="map-pin" alt="">
    <img src="imgs/icons/footer/footer-fb-icon.png" alt="">
    <img src="imgs/icons/footer/footer-instagram-icon.png" alt="">
    <img src="imgs/icons/footer/footer-yt-icon.png" alt="">
    <img src="imgs/icons/footer/footer-gplus-icon.png" alt="">
    <img src="imgs/icons/footer/footer-twitter-icon.png" alt="">
</p>

<div style="background: #004165;height: 55px;padding: 1em;">
    <span class="icon icon-32 icon-search" aria-hidden="true"></span>
    <span class="icon icon-32 icon-map" aria-hidden="true"></span>
    <span class="icon icon-32 icon-heart circle" aria-hidden="true"></span>
</div>

<div class="shareicons">
    <ul>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_email_large" displayText="Email"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_facebook_large" displayText="Facebook"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_twitter_large" displayText="Twitter"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_sharethis_large" displayText="ShareThis"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_tumblr_large" displayText="Tumblr"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_googleplus_large" displayText="Google +"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_xing_large" displayText="Xing"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_reddit_large" displayText="Reddit"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_myspace_large" displayText="MySpace"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_orkut_large" displayText="Orkut"></span>
        </li>
        <li class="btn-bubble">
            <span class="btn-bubble-button st_linkedin_large" displayText="MySpace"></span>
        </li>

        <li class="social-fblike"><span class="st_fblike_large" displayText="Facebook Like"></span></li>
    </ul>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-f4ab25a3-9e79-84bb-993-552e71e1bc9", onhover: false, doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

</div>

</p>
