---
title: Icon
---

<p style="font-size: 20px;">
    <span class="icon-font-favourite-heart-outline"></span>
    <span class="icon-font-favourite-circle-solid"></span>
    <span class="icon-font-highlights"></span>
    <span class="icon-font-todo"></span>
    <span class="icon-font-whatscoming"></span>
    <span class="icon-font-favourite-heart-solid"></span>
    <span class="icon-font-favourite-heart-outline"></span>
    <span class="icon-font-mappin"></span>
    <span class="icon-font-facebook"></span>
    <span class="icon-font-facebook-outline"></span>
    <span class="icon-font-twitter"></span>
    <span class="icon-font-twitter-outline"></span>
    <span class="icon-font-mail"></span>
    <span class="icon-font-mail-outline"></span>
</p>


<p>

    <!-- icons, aboriginal_australia, adventure, art_culture, beaches,
                    food_wine, island, nature_wildlife, outback, sports -->
<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>


<div>
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>

<div style="background-color: #ccc">
    {{#parseJSON '{"src": "imgs/icons/aboriginal_australia_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/adventure_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/art_culture_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/beaches_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/food_wine_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/island_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/nature_wildlife_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/outback_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}

    {{#parseJSON '{"src": "imgs/icons/sports_white_outline.png"}'}}
        {{> icon_generic }}
    {{/parseJSON}}
</div>


</p>
