---
title: Search Box
---

<div class="search-box">
    <div class="row l-center-1200">
        <div class="col-xs-12">
            <div class="search-box-wrapper">
                <form method="" action="#">
                    <label class="search-input-label" for="searchinput">Type text to search</label>
                    <input class="search-input" name="searchinput" type="text" placeholder="Type text to search" />
                    <span class="search-input-go-icon icon-search icon-font-Search_Icon" aria-hidden="true"></span>
                    <input type="button" class="search-input-go" type="submit" name="submit" />
                    <input type="button" class="search-input-clear" type="button" name="submit" />
                </form>
            </div>
        </div>
    </div>
</div>



