---
title: Search Box
---

<div class="search-box">
    <div class="row l-center-1200">
        <div class="col-xs-12">
            <div class="search-box-wrapper">
                <input class="search-input" type="text" placeholder="Type text to search" />
                <input type="button"/>
            </div>
        </div>
    </div>
</div>

