---
title: Special Offer
note: note-specialoffer
---

<div class="specialoffer">
    <div class="row">
        <div class="col-xs-12 col-sm-7">

            <div class="specialoffer-image">
                <img src="imgs/placeholders/specialoffer.jpg" alt="image alt text"/>
            </div>

        </div>
        <div class="col-xs-12 col-sm-5">

            <div class="specialoffer-content">

                <h3 class="specialoffer-title">The old bar</h3>

                <div class="specialoffer-text">
                    <p>Stay in Melbourne and come down to The Old Bar to watch bands play live music 7 nights a week.</p>
                </div>

                <div class="specialoffer-price">
                    <span class="specialoffer-currency">$</span>
                    <span class="specialoffer-value">30</span>
                    <span class="specialoffer-per">/per person</span>
                </div>

                <div class="specialoffer-links">
                    <a href="#">View More Information</a>
                    <a href="#">View Terms and condition</a>
                </div>

            </div>

        </div>
    </div>
</div>
