<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[홈]]></headline>
            <href><![CDATA[/ko/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[호주 소개]]></headline>
            <href><![CDATA[/ko/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[호주의 계절]]></headline>
            <href><![CDATA[/ko/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[호주의 봄을 만끽해 보세요]]></headline>
            <href><![CDATA[/ko/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[호주의 봄을 만끽해 보세요]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[야생화나 야생 동물을 보는 것에서 다양한 이벤트 체험까지, 9월에서 11월까지 지속되는 호주의 봄에 체험할 수 있는 다양한 즐길거리에 대해 알아보세요.]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[호주의 봄을 만끽해 보세요]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[호주의 봄, 호주 봄]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Learn More]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[호주의 봄을 만끽해 보세요]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[호주의 봄 - 호주정부관광청]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[9월부터 11월까지 호주의 봄을 만끽해 보세요. 호주의 봄은 자연경관 뿐 아니라 서핑과 바다 카약, 카누를 즐기기에도 최적의 계절입니다.]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>호주 대부분의 지역에서는 9월부터 11월까지 봄을 즐길 수 있습니다. 열대 북부에서 봄은 몬순 철에 대비하는 계절입니다.</p>
                    <p>전국에서 찾아오는 멜버른 컵(Melbourne Cup) 팬들을 위해 새단장하는 멜버른의 모습을 지켜보세요. 시드니 근방의 헌터 밸리(Hunter Valley)에서 와이너리를 돌며 오페라, 재즈, 블루스와 조각 예술을 감상해 보세요. 서호주(West Australia)의 마가렛 리버(Margaret River)에서는 음식과 와인, 다이빙과 서핑을 모두 즐길 수 있답니다. 퀸즈랜드(Queensland)의 세계유산지 데인트리 우림(Daintree Rainforest)에서 태고의 신비를 간직한 나무 사이로 트레킹을 해보세요. 남호주(South Australia)의 캥거루 섬(Kangaroo Island)에서 펼쳐지는 야생동물과 들꽃의 향연을 감상하거나 노던 테리토리(Northern Territory)의 봄이 선사하는 선물 바라문디를 낚아보세요. 캔버라의 꽃축제인 플로리아드(Floriade)에서는 수백만 송이 꽃과 함께 생기에 넘치는 수도의 모습을 볼 수 있고, 타즈마니아(Tasmania)에서는 꽃이 만발하는 정원을 따라 자연과 역사의 명소를 둘러볼 수도 있답니다. 호주에서 봄은 서핑을 즐기고 바다 카약과 카누를 타기에 최적의 계절이기도 합니다.</p>
                    <br />
                    <p><img alt="Out spring brings you" src="/contentimages/about-australias-landscapes-australias-seasons-spring-ko-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/events/vic-spring-racing.xml" target="_self"><img alt="호주의 스프링 레이싱 카니발" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/ko/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">호주의 스프링 레이싱 카니발</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>멜버른 컵에 들르고 스프링 레이싱 카니발(Spring Racing Carnival)에서 재미난 패션과 경마를 구경하세요.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="데인트리 열대우림의 봄" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/ko/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">데인트리 열대우림의 봄</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>세계에서 가장 오래 된 열대우림인 태고의 데인트리(Daintree)에서 심신을 재충전하세요. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/states/wa/margaret-river.xml" target="_self"><img alt="마가렛 리버(Margaret River)의 봄 휴식" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/ko/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">마가렛 리버(Margaret River)의 봄 휴식</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>봄날 일주일 동안 호주의 마가렛 리버에서 즐기는 와인과 정찬, 고래관광, 스쿠버와 서핑은 삶에 대한 태도를 새롭게 합니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="캥거루 섬의 봄" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">캥거루 섬의 봄</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>야생동물에서 야생화까지 캥거루 섬의 봄은 활력이 넘치는 쇼를 선사합니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/states/tas/tas-gardens.xml" target="_self"><img alt="
                                타즈마니아의 꽃 정원" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/ko/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">타즈마니아의 꽃 정원</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>만발하는 타즈마니아의 봄꽃 정원은 그렇잖아도 너무나 아름다운 자연 환경에 더욱 화사한 색채를 불어 넣습니다. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="바라 번식기의 낚시 - 노던 테리토리" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/ko/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">바라 번식기의 낚시 - 노던 테리토리</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>10월에서12월까지 이어지는 노던 테리토리의 바라 ‘번식기’ 동안에 바라문디 월척을 낚아보세요.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="헌터 밸리(Hunter Valley) 봄 이벤트" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/ko/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">헌터 밸리(Hunter Valley) 봄 이벤트</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>시드니 북쪽으로 2시간 드라이브 거리인 이 와인 산지에서 봄의 진수를 느껴보세요. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/events/floriade.xml" target="_self"><img alt="캔버라의 플로리아드(Floriade)" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/ko/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/ko/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">캔버라의 플로리아드(Floriade)</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>호주 최대 꽃 축제인 플로리아드에서 수백만 송이의 봄 꽃과 함께 생동감이 넘치는 캔버라를 구경하세요.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="여행 코스" src="/contentimages/about-australias-landscapes-australias-seasons-spring-ko-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="여행 코스" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/ko/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">호주 휴가 아이디어</span></a></strong></p>
                    <p style="padding-right: 15px;">호주관광청에서 제공하는 간단한 일정를 참고로 나만의 여행 일정을 세워 보세요. 호주의 국제 도시를 여행 시작지로 삼고, 쉽게 변경이 가능한 3주 짜리 일정들을 소개합니다. 짧은 기간에 호주에서 얼마나 많은 것을 볼 수 있고, 할 수 있는지 참고해 보세요. 본인의 일정과 도착지, 반드시 보고 싶은 곳을 고려해 샘플 일정을 이리저리 조합해 볼 수 있습니다. 호주는 방대한 나라이지만 계획만 잘 세우면 몇 주 안에도 상당히 다양한 지역을 돌아볼 수 있답니다.</p>
                    <p style="padding-right: 15px;">시드니에서 출발해 멜버른과 그레이트 오션 로드(Great Ocean Road)를 본 후, 비행기를 타고 울루루(Ulruru)로 날아가 보세요. 케언즈를 기점으로 해서 그레이트 배리어 리프(Great Barrier Reef)와 레드 센터(Red Centre)를 함께 둘러 볼 수 있습니다. 브리즈번(Brisbane)을 기점으로 하면 골드 코스트(Gold Coast)와 프레이저 섬(Fraser Island), 휘트선데이(Whitsundays)를 거친 후 비행기를 타고 시드니로 돌아올 수 있습니다. 퍼스(Perth)에서 출발하면 마가렛 리버(Margaret River), 닝갈루 리프(Ningaloo Reef), 브룸(Broome), 다윈(Darwin)을 거쳐 시드니까지 여행할 수 있습니다. 멜버른에서 출발하면 우아한 애들레이드(Adelaide)로 자동차 여행을 하거나 타즈마니아(Tasmania)의 세계유산지 대자연을 돌아볼 수 있답니다. 애들레이드에서 출발해 캥거루 섬(Kangaroo Island)과 플린더스 산맥(Flinders Ranges)을 둘러본 후, 간(Ghan) 철도를 타고 앨리스 스프링즈(Alice Springs)를 거쳐 다윈(Darwin)으로 갈 수 있습니다.</p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">시드니 출발 3주 일정</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">멜버른 출발 3주 일정</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">브리즈번 출발 3주 일정</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">퍼스 출발 3주 일정</span></a></span></p>
                                </td>
                                <td style="width: 40%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">애들레이드 출발 3주 일정</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">케언즈 출발 3주 일정</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/ko/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">다윈 출발 3주 일정</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="캔버라의 플로리아드(Floriade)" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/ko/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="호주의 서핑" src="/contentimages/about-australias-landscapes-australias-seasons-spring-ko-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="호주의 서핑" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>최고의 서핑 파도가 밀려드는 호주 해변은 동쪽으로 태평양, 서쪽으로 인도양, 남쪽으로 남대양에 의해 형성되었답니다. 토키(Torquay)에서 가까운 서핑의 메카 벨스 비치(Bells Beach)는 빅토리아(Victoria) 서핑 해안이 시작되는 그레이트 오션 로드(Great Ocean Road)의 관문이랍니다.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/ko/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/ko/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="호주에서 카누와 카약 타기" src="/contentimages/about-australias-landscapes-australias-seasons-spring-ko-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/ko/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="호주에서 카누와 카약 타기 " src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>고요한 만과 인적드문 물가에서부터 그림 같은 강과 협곡에 이르기까지 호주에는 카누와 카약을 탈 수 있는 곳이 많습니다. 서호주의 남서쪽을 구불구불 관통하는 블랙우드 강(Blackwood River)이나 남호주의 쿠롱(Coorong)을 고요히 흐르는 미로 같은 물길을 따라 카누를 즐겨보세요.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>