---
title: Mosaic Item Option
---

<div class="mosaic-item">
    <div class="mosaic-front-back-container flip-container">
        <div class="flipper">

            <div class="mosaic-column-front flip-front">
                <div class="mosaic-media mosaic-primary">
                    <img src="imgs/mosaic/img10.jpg" alt=""/>
                </div>
                <div class="mosaic-overlay">
                    <div class="vertical-container">
                        <div class="vertical-content text-center">
                            <div class="type-date-mosaic">
                                <span class="month">January</span> <span class="day">30</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mosaic-column-back mosaic-content flip-back mosaic-back theme-arts">
                <div class="vertical-container">
                    <div class="vertical-content text-center">
                        <div class="icon-diamond-container arts outline-white">
                            <span class="icon-diamond-diamond icon-font-Diamond"></span>
                            <span class="icon-diamond-icon icon-font-ArtsCulture_icon"></span>
                        </div>
                        <p class="type-destination text-line-wrapper">Sydney Festival</p>
                        <p class="type-date">January 5 - 27</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {{> mosaicitem_detail }}

</div>