---
title: Mosaic Standard
---
<div class="mosaic">

    <div class="row l-row-collapse">

        <div class="row">
            <!-- single item start -->
            <div class="col-xs-12 col-md-6 mosaic-grid-1">
                <div class="row">
                    <div class="col-xs-12">
                        {{> mosaicitemevent }}
                    </div>
                </div>
            </div>
            <!-- single item end -->

            <!-- grid of 4 items start -->
            <div class="col-xs-12 col-md-6 mosaic-grid-4">

                <div class="row mosaic-grid-2">
                    <div class="row mosaic-grid-2-tile">
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                    </div>
                    <div class="row mosaic-grid-2-content">
                        <div class="col-xs-12">
                            {{> mosaicitem_detail }}
                        </div>
                    </div>
                </div>

                <div class="row mosaic-grid-2">
                    <div class="row mosaic-grid-2-tile">
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                    </div>
                    <div class="row mosaic-grid-2-content">
                        <div class="col-xs-12">
                            {{> mosaicitem_detail }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- grid of 4 items start end -->
        </div>

        <div class="row">
            <!-- grid of 4 items start -->
            <div class="col-xs-12 col-md-6 mosaic-grid-4">

                <div class="row mosaic-grid-2">
                    <div class="row mosaic-grid-2-tile">
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                    </div>
                    <div class="row mosaic-grid-2-content">
                        <div class="col-xs-12">
                            {{> mosaicitem_detail }}
                        </div>
                    </div>
                </div>

                <div class="row mosaic-grid-2">
                    <div class="row mosaic-grid-2-tile">
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {{> mosaicitemevent }}
                        </div>
                    </div>
                    <div class="row mosaic-grid-2-content">
                        <div class="col-xs-12">
                            {{> mosaicitem_detail }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- grid of 4 items start end -->

            <!-- single item start -->
            <div class="col-xs-12 col-md-6 mosaic-grid-1">
                <div class="row">
                    <div class="col-xs-12">
                        {{> mosaicitemevent }}
                    </div>
                </div>
            </div>
            <!-- single item end -->
        </div>

    </div>
</div>


