---
title: Mosaic Grid Highlights 4 Items
---

<!-- grid of 4 items start -->
<div class="col-xs-12 col-md-6 mosaic-grid-4 l-row-collapse">

    <div class="row mosaic-grid-2">
        <div class="row mosaic-grid-2-tile">
            <div class="col-xs-12 col-sm-6">
                {{> mosaicitem }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{> mosaicitem }}
            </div>
        </div>
        <div class="row mosaic-grid-2-content">
            <div class="col-xs-12">
                {{> mosaicitem_detail }}
            </div>
        </div>
    </div>

    <div class="row mosaic-grid-2">
        <div class="row mosaic-grid-2-tile">
            <div class="col-xs-12 col-sm-6">
                {{> mosaicitem }}
            </div>
            <div class="col-xs-12 col-sm-6">
                {{> mosaicitem }}
            </div>
        </div>
        <div class="row mosaic-grid-2-content">
            <div class="col-xs-12">
                {{> mosaicitem_detail }}
            </div>
        </div>
    </div>
</div>
<!-- grid of 4 items start end -->
