---
title: Mosaic Grid Highlights 1 Item
---

<!-- single item start -->
<div class="col-xs-12 col-md-6 mosaic-grid-1 l-row-collapse">
    <div class="row">
        <div class="col-xs-12">
            {{> mosaicitem }}
        </div>
    </div>
</div>
<!-- single item end -->
