<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[首頁]]></headline>
            <href><![CDATA[/zht/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[關於]]></headline>
            <href><![CDATA[/zht/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[澳洲的四季]]></headline>
            <href><![CDATA[/zht/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[探索澳洲的春天]]></headline>
            <href><![CDATA[/zht/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[探索澳洲的春天]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[9 月到 11 月來訪，欣賞野花及野生動物，體驗五花八門的精彩盛事；盡情探索澳洲春季的特色活動。]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[探索澳洲的春天]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[澳洲的春季, 澳洲春季]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[了解更多資料]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[探索澳洲的春天]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[澳洲的春季 - 澳洲旅遊局]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[探索從九月持續至十一月的澳洲春季。北部熱帶地區此時正處於季風來臨前季節。]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>對於澳洲大部分地方，春天是從九月份到十一月份。在我們的熱帶北部，這是一個“積聚期”或季風季節之前的時期。</p>
                    <p>全國觸目的墨爾本杯就在這段期間舉行，來看墨爾本為此盛裝打扮。在悉尼附近獵人谷（Hunter Valley）的葡萄酒莊裡欣賞歌劇、爵士、藍調和雕塑。在西澳的瑪格麗特河（Margaret River）享受美食、美酒、潛水和滑浪。在昆士蘭列為世界遺產的原始丹翠雨林（Daintree Rainforest）中徒步穿過神奇的樹頂。體驗南澳洲袋鼠島 （Kangaroo Island）的野生動物和野花，或在北領地的“積聚期”內抓一條盲曹作為戰利品。在坎培拉的花卉節（Floriade）上，看無數鮮花綻放，或沿著塔斯曼尼亞（Tasmania）鮮花盛開的花園去探索自然和歷史名勝。在澳洲，春天也是非常適合滑浪、划海上皮艇和獨木舟的季節。 </p>
                    <br />
                    <p><img alt="我們的春天迎接您的到來" src="/contentimages/about-australias-landscapes-australias-seasons-spring-zht-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/events/vic-spring-racing.xml" target="_self"><img alt="澳洲春季賽馬嘉年華（Australia's Spring Racing Carnival）" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/zht/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">澳洲春季賽馬嘉年華（Australia's Spring Racing Carnival）</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>放下手裡的事，觀看墨爾本杯（Melbourne Cup），在春季賽馬盛會中感受樂趣、時尚和賽馬的狂熱。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="戴恩樹（Daintree）雨林的春季" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/zht/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">戴恩樹（Daintree）雨林的春季</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>在世界上最古老的雨林戴恩樹（Daintree）中讓自己再現活力。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/states/wa/margaret-river.xml" target="_self"><img alt="瑪格麗特河的春季假期" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/zht/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">瑪格麗特河的春季假期</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>在西澳的瑪格麗特河，花一周時間品嚐葡萄酒和美食、觀鯨、潛水和滑浪，重新定位自己對人生的展望。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="袋鼠島的春天景象" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">袋鼠島的春天景象</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>從野生動物到野花，春天為袋鼠島帶來了一場生機無限的演出。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/states/tas/tas-gardens.xml" target="_self"><img alt="塔斯曼尼亞鮮花盛開的花園" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/zht/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">塔斯曼尼亞鮮花盛開的花園</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>塔斯曼尼亞鮮花盛開的花園為這裡優美的環境平添了解更多資料 色彩。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="在北領地的盲曹時節釣魚" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/zht/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">在北領地的盲曹時節釣魚</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>在北領地十月到十二月間的“積聚期”內抓一條盲曹作為戰利品。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="獵人谷春季活動" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/zht/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">獵人谷春季活動</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>在悉尼以北兩小時車程處的這個葡萄籐林立的地區擁抱春天的氣息。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/events/floriade.xml" target="_self"><img alt="坎培拉花卉節" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/zht/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/zht/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">坎培拉花卉節</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>在這個全澳洲最大的花卉節上，看無數鮮花綻放，令春季的坎培拉生機勃勃。 </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-right: 5px; padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="享受旅程" src="/contentimages/about-australias-landscapes-australias-seasons-spring-zht-title02.jpg" /></p>
                    <p style="padding-bottom: 10px;"><img alt="澳洲假期建議" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/zht/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">澳洲假期建議</span></a></strong></p>
                    <table width="95%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                <p>利用這些簡單明瞭的路線建議，創造您自己的澳洲假期。從我們每個國際門戶出發，這些靈活富有彈性的三週之旅會讓您發現，即使在澳洲的度假時間很短，也能玩個痛快。將這些路線拆開或重新組合，以適合您的時間要求、到達地點和“必看”目的地名單。澳洲是一個幅員廣闊的國家，但是如果能計劃周詳，只需幾週時間就能玩遍多種多樣的地貌。</p>
                                <p>以悉尼為起始點，遊覽墨爾本和大洋路（Great Ocean Road），然後飛到烏魯魯（Uluru)。從開恩茲出發，一併遊覽大堡礁和紅色中部。在布里斯本，先游玩黃金海岸、費沙島和降靈群島，然後才飛往悉尼。以柏斯為起點，去探索瑪格麗特河（Margaret River）、寧格魯礁（Ningaloo Reef）、布魯姆（Broome）、達爾文甚至悉尼。從墨爾本出發，駕車前往優雅的阿得萊德或列為世界遺產的塔斯曼尼亞（Tasmania）荒野。以阿得萊德為起始點，游玩袋鼠島（Kangaroo Island)、費蓮達山脈（Flinders Ranges)，然後乘坐“甘”號列車途徑愛麗斯泉前往達爾文。 </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">從悉尼出發的三週之旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">從墨爾本出發的三週之旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">從布里斯本出發的三週之旅</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">從柏斯出發的三週之旅</span></a></span></p>
                                </td>
                                <td style="width: 40%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">從阿得萊德出發的三週之旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">從開恩茲出發的三週之旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/zht/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">從達爾文出發的三週之旅</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="坎培拉花卉節" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/zht/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="在澳洲滑浪" src="/contentimages/about-australias-landscapes-australias-seasons-spring-zht-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="在澳洲滑浪" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>澳洲擁有眾多的滑浪海灘，各種程度的滑浪者都能找到適合自己的滑浪地點，無論是東面的太平洋、西面的印度洋，還是南面的南大洋，都為這裡的海灘帶來了一流的滑浪海浪。前往托爾坎（Torquay）附近的貝爾斯海灘（Bells Beach），這是通往大洋路上維多利亞滑浪海岸的門戶。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/zht/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/zht/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="在澳洲划獨木舟和划皮艇" src="/contentimages/about-australias-landscapes-australias-seasons-spring-zht-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/zht/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="在澳洲划獨木舟和划皮艇" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>從寧靜的海口和回水潭，到風景如畫的河流和峽谷，澳洲有眾多可以划船的地方。沿著蜿蜒穿過西澳州西南的黑木河（Blackwood River）或在南澳州庫隆（Coorong）平靜的水道迷宮裡划獨木舟。在墨爾本的聖科達海灘（St Kilda Beach）外或悉尼的海港大橋（Harbour Bridge）下划海上皮艇。</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>