/*IE8 Overrides*/
body{
    width: 1580px!important;
    margin-left: auto;
    margin-right: auto;
}

// mosaic flip to reveal on rollover
.mosaic {
  .flip-front-fade {
    z-index: 3;
  }
  .is-flip {
    .flip-front {
      z-index: 1;
    }
    .flip-front-fade {
      z-index: 1;
    }

  }
}


// footer centering
.footer-col {
  width: 100%;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 1em;
  }
  .dropdown-select-countrylanguage{
    margin: 0 auto;
  }
  .footer-copyright {
    width: 100%;
    text-align: center;
  }
}