/*IE8 Overrides*/
body{
    //width: 1580px!important;
    margin-left: auto;
    margin-right: auto;
}

// mosaic flip to reveal on rollover
.mosaic {

  .flip-front {
    z-index: 3;
    filter: alpha(opacity=100);
  }
  .flip-back {
    filter: alpha(opacity=100);
  }

  .flip-front-fade {
    z-index: 3;
  }
  .is-flip {
    .flip-front {
      z-index: 1;
    }
    .flip-back {
      z-index: 3;
      filter: alpha(opacity=100);
    }
    .flip-front-fade {
      z-index: 1;
    }
  }

  .mosaic-item.is-fade {
    .flip-back {
      z-index: 3;
      filter: alpha(opacity=100);
    }
  }

  .mosaic-item[data-interactive-type="fade"]:hover {
    .flip-back {
      z-index: 3;
      filter: alpha(opacity=100);
    }
  }

  .mosaic-item.is-trigger-content1[data-interactive-type="fade"]:hover {
    .flip-back {
      z-index: -1;
    }
  }

  .mosaic-item.is-trigger-content {
    .flip-back {
      display:none;
    }
  }

  .mosaic-item.is-opacity {
    .mosaic-atdw-image {
      filter: alpha(opacity=50) !important;
    }
    .flip-front {
      filter: alpha(opacity=50) !important;
    }
    .flip-back {
      z-index: -1;
    }
  }

  .mosaic-item.is-opacity:hover {
    .mosaic-atdw-image {
      filter: alpha(opacity=100) !important;
    }
    .flip-front {
      filter: alpha(opacity=100) !important;
    }
    .flip-back {
      z-index: -1;
    }
  }

  .mosaic-item-detail-container.active {
    max-height:999px;
  }


  // would like to remove 3column and keep consistent, left in for now
  .mosaic-3column-item-option.is-fade {
    .flip-back-fade {
      z-index: 3;
      filter: alpha(opacity=100);
    }
  }

  .mosaic-3column-item-option[data-interactive-type="fade"]:hover {
    .flip-back-fade {
      z-index: 3;
      filter: alpha(opacity=100);
    }
  }

  .mosaic-3column-item-option.is-trigger-content1[data-interactive-type="fade"]:hover {
    .flip-back-fade {
      z-index: -1;
    }
  }

  .mosaic-3column-item-option.is-trigger-content {
    .flip-back-fade {
      display:none;
    }
  }

  .mosaic-3column-item-option.is-opacity {
    .mosaic-media {
      filter: alpha(opacity=50) !important;
    }
    .flip-front-fade {
      filter: alpha(opacity=50) !important;
    }
    .flip-back-fade {
      z-index: -1;
    }
  }

  .mosaic-3column-item-option.is-opacity:hover {
    .mosaic-media {
      filter: alpha(opacity=100) !important;
    }
    .flip-front-fade {
      filter: alpha(opacity=100) !important;
    }
    .flip-back-fade {
      z-index: -1;
    }
  }

  .mosaic-3column-item-option.is-fade.is-opacity {
    .flip-back-fade {
      z-index: 3;
      filter: alpha(opacity=100);
    }
  }

}

// carousel alignment issues
#carousel .carousel-item{
  margin: 0;
}


// footer centering
.footer-col {
  width: 100% !important;
  text-align: center !important;
  li {
    display: inline-block !important;
    margin-right: 1em !important;
  }
  .dropdown-select-countrylanguage{
    margin: 0 auto !important;
  }
  .footer-copyright {
    width: 100% !important;
    text-align: center !important;
  }
}

// video
.video-container {
  //text-align: right;
}