<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[ホーム]]></headline>
            <href><![CDATA[/jp/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[情報]]></headline>
            <href><![CDATA[/jp/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[オーストラリアの季節]]></headline>
            <href><![CDATA[/jp/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[オーストラリアの春の楽しみ方]]></headline>
            <href><![CDATA[/jp/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[オーストラリアの春の楽しみ方]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[野生動物・植物との出会いから、多彩なイベントまで、9月～11月の春のオーストラリアの楽しみ方をご紹介します。]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[オーストラリアの春の楽しみ方]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[春のオーストラリア, オーストラリアの春]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Learn More]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[オーストラリアの春の楽しみ方]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[春のオーストラリアの楽しみ方 － オーストラリア政府観光局]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[9月から11月まで続くオーストラリアの春の美しさを発見して下さい。北部の熱帯地域ではモンスーンがやってくる前のこの季節がまさに「旬」です。詳しくはこちら。]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>オーストラリアの春の美しさを知ってください。9月から11月までが春爛漫の季節です。トロピカル・ノースではモンスーンの雨がやってくる前のこの季節がまさに「旬」です。</p>
                    <p>国全体が仕事の手を休めて見入るメルボルン・カップのために、メルボルンの街が装いを新たにする様子を見つめてください。シドニー近郊にあるハンター・バレーのワイナリーで、オペラやジャズ、ブルース、彫刻を楽しみましょう。西オーストラリア州のマーガレット・リバーで、料理とワイン、ダイビング、サーフィンを存分に楽しむこともできます。クイーンズランド州にある世界遺産デイントゥリー・レインフォレストで、太古の木々のあいだのトレッキングを楽しんでください。南オーストラリア州のカンガルー島で、野生動物とワイルドフラワーの競演を見たり、ノーザン・テリトリーで「旬」のうちに釣り上げたバラマンディの大きさを競いましょう。キャンベラがフロリアードで咲き誇る何百万もの春の花で賑わう様子を愛で、タスマニアの花咲く庭を巡って、大自然と歴史の見どころを堪能してください。オーストラリアでは、春はサーフィンやシーカヤック、カヌーの季節でもあります。 </p>
                    <br />
                    <p><img alt="オーストラリアの春を楽しむ" src="/contentimages/about-australias-landscapes-australias-seasons-spring-jp-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/events/vic-spring-racing.xml" target="_self"><img alt="オーストラリアのスプリング・レーシング・カーニバル" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/jp/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">オーストラリアのスプリング・レーシング・カーニバル</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>メルボルン・カップを観戦して、スプリング・レーシング・カーニバルで心ゆくまで競馬を楽しもう。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="デイントゥリー・レインフォレストの春" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/jp/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">デイントゥリー・レインフォレストの春</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>世界最古の雨林、デイントゥリーで身も心もリフレッシュ。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/states/wa/margaret-river.xml" target="_self"><img alt="マーガレット・リバーの春の波音" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/jp/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">マーガレット・リバーの春の波音</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>西オーストラリア州のマーガレット・リバーでワインや食事を楽しみ、ホエール・ウォッチング、ダイビング、サーフィンで日頃のもやもやを吹き飛ばそう。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="カンガルー島の春" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">カンガルー島の春</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>野生動物からワイルドフラワーまで、春はカンガルー島で楽しさいっぱいのショーが楽しめる季節。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/states/tas/tas-gardens.xml" target="_self"><img alt="タスマニアの花盛りの庭" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/jp/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">タスマニアの花盛りの庭</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>タスマニアの花いっぱいの春の庭は、美しい景色に いっそうの彩り。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="旬のバラマンディ釣り、ノーザン・テリトリー" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/jp/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">旬のバラマンディ釣り、ノーザン・テリトリー</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>10月から12月はノーザン・テリトリーの「釣りの旬」。大物バラマンディを狙おう。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="ハンター・バレーの春のイベント" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/jp/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">ハンター・バレーの春のイベント</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>シドニーから車で北へ2時間の場所にあるワイン産地で、春の息吹を胸一杯に吸い込もう。</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/events/floriade.xml" target="_self"><img alt="フロリアード、キャンベラ" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/jp/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/jp/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">フロリアード、キャンベラ</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>オーストラリア最大の花の祭典、フロリアード。キャンベラ中が春の花であふれかえっています。</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="旅行" src="/contentimages/about-australias-landscapes-australias-seasons-spring-jp-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="オーストラリアで過ごす休暇の一例" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/jp/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">オーストラリアで過ごす休暇の一例</span></a></strong></p>
                    <p style="padding-right: 15px;">ここに掲載した旅程の一例を利用して、ご自分だけのオーストラリア旅行を計画してみてください。国際便が発着する都市から出発する、3週間の旅程の一例です。オーストラリアはこんな短い休暇でも行ってみたい場所がたくさんあり、アイデアが尽きることはありません。使える時間や最終目的地、そこだけははずせないという場所にあわせて、旅程の一部を利用したり、組み合わせたりしてみてください。オーストラリアは本当に広い国ですが、しっかりと計画を組めば、数週間の旅でも様々な場所を巡ることができます。</p>
                    <p style="padding-right: 15px;">シドニーを起点にすると、メルボルンやグレート・オーシャン・ロードを観光したあと飛行機でウルルに行くことができます。ケアンズを起点にして、グレート・バリア・リーフとレッド・センターを組み合わせてみるのもよいでしょう。ブリスベンを起点にするなら、ゴールド・コーストやフレイザー島、ウィットサンデー諸島をめぐってから空路でシドニーに行くことも考えられます。パースを起点に、マーガレット・リバー、ニンガルー・リーフ、ブルーム、ダーウィン、さらにはシドニーにまで行ってみましょう。メルボルンを起点にすると、ドライブでお洒落なアデレードの街を訪ねたり、タスマニアの世界遺産に登録された原生地まで行くことができます。アデレードが起点なら、カンガルー島やフリンダース山脈を見物してからザ・ガン号に乗車してアリス・スプリングス、さらにはダーウィンまで行ってみてください。</p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">シドニーから行く3週間の旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">メルボルンから行く3週間の旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">ブリスベンから行く3週間の旅</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">パースから行く3週間の旅</span></a></span></p>
                                </td>
                                <td style="width: 50%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">アデレードから行く3週間の旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">ケアンズから行く3週間の旅</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/jp/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">ダーウィンから行く3週間の旅</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="フロリアード、キャンベラ" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/jp/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="オーストラリアでサーフィンを楽しむ" src="/contentimages/about-australias-landscapes-australias-seasons-spring-jp-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="オーストラリアでサーフィンを楽しむ" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>どんなサーフィンにもうってつけのすばらしい波があるオーストラリアのサーフビーチは、東海岸はパシフィック・オーシャンの、西海岸はインド洋の、南海岸はサザン・オーシャンの波がつくりだしたものです。まずトーキー（Torquay）近郊のベルズ・ビーチ（Bells Beach）に行ってみましょう。 </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/jp/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/jp/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="オーストラリアでカヌーやカヤックを楽しむ" src="/contentimages/about-australias-landscapes-australias-seasons-spring-jp-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/jp/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="オーストラリアでカヌーやカヤックを楽しむ" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>静かな入江や川淀、絵のように美しい川や渓谷など、オーストラリアにはカヌーで漕ぎ出したくなる場所が数え切れないほどあります。西オーストラリア州のサウスウェストを流れるブラックウッド・リバーや、南オーストラリア州のクーロンにある迷路のように入り組んだ波静かな川でカヌーを楽しんでください。</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>