<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[Laman Utama]]></headline>
            <href><![CDATA[/my/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[Perihalan]]></headline>
            <href><![CDATA[/my/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[Musim-musim di Australia]]></headline>
            <href><![CDATA[/my/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[Musim Bunga Kami Menyerlahkan Diri Anda]]></headline>
            <href><![CDATA[/my/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[Musim Bunga Kami Menyerlahkan Diri Anda]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[]]></opt_PartnerLead>
    <stf_description><![CDATA[Perhatikan hidupan liar dan bunga liar, atau nikmati serangkai acara, terokai perkara untuk dilakukan sewaktu musim bunga di Australia, bermula dari bulan September hingga bulan November.]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[Musim Bunga Kami Menyerlahkan Diri Anda]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[musim bunga di australia, musim bunga australia]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Pelajari lebih lanjut]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[Musim Bunga Kami Menyerlahkan Diri Anda]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[Musim bunga di Australia - Tourism Australia]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[Alami musim bunga Australia, yang berlanjutan dari September hingga November. Di bahagian tropika utara, ia merupakan penanda ketibaan musim monsun.]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>Alamilah musim bunga di Australia dari bulan September hingga November bagi kebanyakan tempat di negeri ini. Di utara tempat kami yang beriklim tropika, inilah masa ikan berkumpul atau musim pra-monsun.</p>
                    <p>Lihatlah penduduk Melbourne berpakaian dengan bergayanya untuk menghadiri Melbourne Cup yang menghentikan negara ini. Nikmati opera, jaz, blues dan arca di antara ladang anggur di Hunter Valley berdekatan dengan Sydney. Gabungkan makanan, wain, menyelam dan meluncur air di Margaret River di Western Australia. Susuri titian purba di Daintree Rainforest yang tersenarai dalam Warisan Dunia di Queensland. Alami hidupan liar dan pertunjukan bunga liar di Kangaroo Island di South Australia atau jerat ikan barramundi besar semasa ikan ini berkumpul di Northern Territory. Lihatlah Canberra terserlah dengan jutaan bunga yang mekar pada musim bunga di Floriade atau berjalan di taman berwarna-warni di Tasmania menuju ke tempat tarikan semula jadi dan bersejarah. Di Australia, musim bunga juga merupakan musim yang baik untuk meluncur, berkayak dan berkanu.</p>
                    <br />
                    <p><img alt="Alamilah musim bunga di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-my-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/events/vic-spring-racing.xml" target="_self"><img alt="Karnival Perlumbaan Musim Bunga Australia" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/my/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Karnival Perlumbaan Musim Bunga Australia</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Berhenti untuk menyaksikan Melbourne Cup dan alamilah keseronokan, fesyen dan lumba kuda di Spring Racing Carnival. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="
                                Musim bunga di Daintree Rainforest" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/my/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">Musim bunga di Daintree Rainforest</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Segarkan semula diri anda di Daintree purba yang merupakan hutan hujan tertua di dunia. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/states/wa/margaret-river.xml" target="_self"><img alt="Cuti musim bunga di Margaret River" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/my/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">Cuti musim bunga di Margaret River</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Segarkan diri anda dengan menikmati wain dan makanan, melihat ikan paus, menyelam dan meluncur air selama seminggu di Margaret River di Australia Barat.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="Wadah musim bunga Kangaroo Island" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">Wadah musim bunga Kangaroo Island</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Dari hidupan liar hingga bunga liar, musim bunga menyediakan persembahan penuh aksi di Kangaroo Island. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/states/tas/tas-gardens.xml" target="_self"><img alt="
                                Taman yang mekar di Tasmania" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/my/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">Taman yang mekar di Tasmania</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Taman musim bunga yang mekar di Tasmania mewarnai persekitaran yang sememangnya begitu menawan.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="
                                Memancing semasa kawanan ikan barra berkumpul di Northern Territory" src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/my/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Memancing semasa kawanan ikan barra berkumpul di Northern Territory</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Jerat barramundi besar semasa kawanan ikan ini berkumpul di Northern Territory dari bulan Oktober hingga Disember.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="Acara-acara Hunter Valley Spring" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/my/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">Acara-acara Hunter Valley Spring</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Alamilah kesegaran musim bunga di kawasan yang dikelilingi pokok anggur dengan memandu dua jam ke utara Sydney.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/events/floriade.xml" target="_self"><img alt="
                                Floriade, Canberra" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/my/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/my/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">Floriade, Canberra</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Lihat keceriaan Canberra dengan jutaan bunga mekar pada musim bunga di Floriade yang merupakan festival bunga terbesar di Australia. </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="Perjalanan" src="/contentimages/about-australias-landscapes-australias-seasons-spring-my-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="Idea Percutian di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/my/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">Idea Percutian di Australia</span></a></strong></p>
                    <p style="padding-right: 15px;">Buat percutian Australia anda sendiri dengan idea jadual perjalanan mudah ini. Bermula dari setiap pintu masuk antarabangsa kami, segmen tiga minggu yang versatil ini memberikan idea kepada anda tentang berapa banyak anda dapat lihat dan buat walaupun dengan percutian dalam jangka masa yang pendek di Australia. Asingkan atau gabungkan idea ini supaya sepadan dengan jangka masa, tempat tiba dan senarai destinasi ‘mesti lihat’ anda. Australia adalah negara yang luas tapi dengan perancangan anda dapat menjelajah pelbagai landskap dalam hanya beberapa minggu.</p>
                    <p style="padding-right: 15px;">Dari Sydney, lihat Melbourne dan Great Ocean Road, kemudian naik kapal terbang ke Uluru. Gabungkan kunjungan ke Great Barrier Reef dan Red Centre dari Cairns. Dari Brisbane, berkunjung ke Gold Coast, Fraser Island dan Whitsundays sebelum naik kapal terbang ke Sydney. Terokai Margaret River, Ningaloo Reef, Broome, Darwin malah Sydney dari Perth. Dari Melbourne, pandu kereta ke Adelaide yang elegan atau ke hutan belantara Tasmania yang tersenarai dalam Warisan Dunia. Dari Adelaide, lihat Kangaroo Island, Flinders Ranges kemudian naik kereta api Ghan melalui Alice Springs ke Darwin.</p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Sydney</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Melbourne</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Brisbane</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Perth</span></a></span></p>
                                </td>
                                <td style="width: 40%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Adelaide</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Cairns</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/my/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">Tiga minggu dari Darwin</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="Musim Bunga Kami Menyerlahkan Diri Anda
                    " src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/my/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Meluncur air di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-my-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Meluncur air di Australia" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Pantai luncur Australia tempat terhempasnya ombak kelas pertama untuk semua peluncuran terhasil dari Pacific Ocean di sebelah timur, Indian Ocean di sebelah barat dan Southern Ocean di sebelah selatan. Kunjungi Bells Beach yang ikonik berhampiran Torquay iaitu laluan masuk ke Surf Coast di Victoria di Great Ocean Road. New South Wales, Byron Bay, Newcastle, Sydney dan bahagian persisiran pantai selatannya menawarkan ombak yang tinggi.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/my/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/my/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Berkanu dan berkayak di Australia" src="/contentimages/about-australias-landscapes-australias-seasons-spring-my-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/my/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Berkanu dan berkayak di Australia" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Dari serokan yang tenang dan air buri ke sungai dan gaung yang indah, Australia menyediakan banyak tempat untuk berdayung. Berkanu menyusuri Blackwood River yang berliku-liku melalui barat daya Western Australia atau sepanjang jalan air tenang yang berselirat di Coorong di South Australia. Berkayak laut dari St Kilda Beach di Melbourne atau di bawah Harbour Bridge di Sydney.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>