/**
* Global variables for entire site / including bootstrap 
*/

//**********************
// Bootstrap:
//**********************
$font-size-base: 16px;

//**********************
// Breakpoints:
//**********************
// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  360px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

//**********************
// Fonts:
//**********************
$font-family-base: "ProximaNova Regular", Helvetica, Arial, sans-serif;
$font-family-base-i: "ProximaNova Regular Italic", Helvetica, Arial, sans-serif;
$font-family-base-l: "ProximaNova Light", Helvetica, Arial, sans-serif;
$font-family-base-b: "ProximaNova Bold", Helvetica, Arial, sans-serif;
$font-family-base-bi: "ProximaNova Bold Italic", Helvetica, Arial, sans-serif;
//$font-family-base-sbi: "ProximaNova Semi Bold Italic", Helvetica, Arial, sans-serif;
$font-family-primary: "ProximaNova Regular", Helvetica, Arial, sans-serif;
$font-family-secondary: "TAheadline", Helvetica, Arial, sans-serif;
//$font-family-primary: "TheSanB5Pla", Helvetica, Arial, sans-serif;
$font-family-feature: "Mission Gothic Light Italic", Helvetica, Arial, sans-serif;
//$font-family-lead: "ProximaNova Semi Bold Italic", Helvetica, Arial, sans-serif;
$font-family-quote-social: "ProximaNova Semi Bold Italic", Helvetica, Arial, sans-serif;
$font-family-quote-social-cite: "ProximaNova Regular", Helvetica, Arial, sans-serif;
$font-family-quote-pull: "ProximaNova Light", Helvetica, Arial, sans-serif;
$font-family-module-link: "ProximaNova Regular", Helvetica, Arial, sans-serif;

//**********************
// Font Sizes
//**********************
$h1-size: 80px;
$h2-size: 28px;
$h3-size: 24px;
$h4-size: 18px;


//**********************
// Text Colours:
//**********************
$body-colour: #2c2c2c;
$type-heading-colour: #040000;
$type-category-colour: #6b6155;
$type-navigation: #fff;
$type-hover-colour: #005073;

$type-main-heading-colour: #8d896f;

$type-base-black: #231f20;
$type-footer-colour: #70c3f3;
$type-footer-copyright-colour: #acc0cd;

$mosaic_social_tile_static_text_color: #231f20;
$gallery-section-title-colour: #8d896f;
$video-relatedvideos-colour: #808183;
$search-results-title-colour: #4a3c31;

//**********************
// Background Colours:
//**********************
$footer_bg: #004165;
$video_large_copy_bg : #f3f2eb;
$mosaic_social_tile_bg : #297c9a;
$mosaic_social_tile_static_bg : #f2f1e9;
$largetitle_bg : #00525f;
$video_relatedvideos_bg : #f3f2eb;
$search-results-row-colour: #f3f2eb;
$agent-block-row-colour: #f3f2eb;

//**********************
// Mosaic Colours:
//**********************
$mosaic-colour-front-3column: #f3f2eb;
$mosaic-colour-back-3column: #00525e;

//**********************
// HR Colours:
//**********************
$categorylinks-hr-colour: #e2e5de;

//**********************
// Category Colours:
//**********************
$category-colour-nature: #557630;
$category-colour-outback: #ed8500;
$category-colour-aboriginal: #4a3c31;
$category-colour-food: #981e32;
$category-colour-arts: #004165;
$category-colour-islands: #01333A;
$category-colour-beaches: #ffc20e;
$category-colour-sports: #91ae35;
$category-colour-adventure: #e1cd00;
$category-colour-discover: #00a0af;

//**********************
// General Colours:
//**********************
$favourite-button-colour: #de3831;
$type-category-colour-primary: #fff;
$type-category-colour-secondary: #fff;
$type-quote-colour: #297c9a;
$search-text-color:#00535e;

//**********************
// Padding & Spacing
//**********************
$bottom-spacing: 40px;
$bottom-spacing-double : 80px;
$top-spacing: 40px;
$mosaic-col-padding: 3px;
$mosaic-row-bottom-margin: 10px;
$search-results-row-bottom-margin: 6px;

//*********************
// Block Element Colours:
//*********************
$colour-navigation-solid: #15202e;
$colour-navigation: rgba(21, 32, 46, 0.9);
$colour-footer: #0a334c;
$colour-content-section-light: #fff;
$colour-content-section-dark: #f6f5f0;

$colour-content-block-light: #e5f5f7;
$colour-horizontal-rule-dark: #005073;

//**********************
// Nav bar
//**********************
$navbar-height: 82px;

//Border radius
$border-radius-base:             0px;
$border-radius-large:            0px;
$border-radius-small:            0px;

//Buttons
$btn-close-std-color:            #808183;
$btn-close-rol-color:            #00535e;

$btn-default-color:              #fff;
$btn-default-bg:                 #66acbd;
$btn-default-border:             rgba(0,0,0,0);

$btn-primary-color:              #fff;
$btn-primary-bg:                 #007491;
$btn-primary-border:             rgba(0,0,0,0);

$btn-success-color:             #fff;
$btn-success-bg:                #cf4330;
$btn-success-border:            rgba(0,0,0,0);

$btn-info-color:                 #000000;
$btn-info-bg:                    #fff;
$btn-info-border:                #d4d2b9;

$btn-submit-border-color:       #00535e;


$padding-base-vertical:          13px;
$padding-base-horizontal:        25px;


//*** Spacing value for all modules/elements
$standard-spacing-xs:               30px;
$standard-spacing-sm:               30px;
$standard-spacing-md:               30px;
$standard-spacing-lg:               30px;

$medium-spacing-xs:                 60px;
$medium-spacing-sm:                 60px;
$medium-spacing-md:                 60px;
$medium-spacing-lg:                 60px;

$large-spacing-xs:                  60px;
$large-spacing-sm:                  70px;
$large-spacing-md:                  80px;
$large-spacing-lg:                  90px;
