---
title: 2 Column Image + Caption
---

<div class="imagecaption row l-center-1200">
    <div class="col-xs-12 col-sm-7">
        {{> text2columnimage }}
    </div>
    <div class="imagecaption-copy caption col-xs-12">
        {{> text2columnimagecaption}}
    </div>
</div>