---
title: 2 Column Brightcove Video
---

<div class="row l-center-1200">
    <div class="col-xs-12 col-sm-3"></div>

    <div class="video-2column-container col-xs-12 col-sm-9">
        <div class="video-position">
            {{> videoitem }}
            <div class="video-copy"><div>
                {{> text2columnvideo}}
            </div></div>
        </div>
    </div>

</div>