---
title: 2 Column Brightcove Video
---

<div class="two-column-video row l-center-1200">
    <div class="video-2column-container col-xs-12 col-sm-9 col-sm-push-3">
        <div class="video-position">
            {{> videoitem }}
            <div class="video-copy">
                {{> text2columnvideo}}
            </div>
        </div>
    </div>
</div>