---
title: 3 Column Links List
---

<div class="three-column-links-list row l-center-1200 type-links-bottom-border">
    <div class="col-xs-12 col-sm-4">
        <h2 class="type-secondary">section title</h2>

        <ul>
            <li>
                <a href="#">Cities, States and Territories</a>
            </li>

            <li>
                <a href="#">Weather</a>
            </li>

            <li>
                <a href="#">Time Zones</a>
            </li>

            <li>
                <a href="#">Currency</a>
            </li>

            <li>
                <a href="#">Emergency Services</a>
            </li>

            <li>
                <a href="#">Australia's Plants</a>
            </li>

            <li>
                <a href="#">Australia’s Animals</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="type-secondary">section title</h2>

        <ul>
            <li>
                <a href="#">Aboriginal Australia</a>
            </li>

            <li>
                <a href="#">Australia's Culture</a>
            </li>

            <li>
                <a href="#">Australia's History</a>
            </li>

            <li>
                <a href="#">Australian Art</a>
            </li>

            <li>
                <a href="#">Australia’s Stadiums and Venues</a>
            </li>

            <li>
                <a href="#">Famous Australians</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h2 class="type-secondary">section title</h2>

        <ul>
            <li>
                <a href="#">Cities</a>
            </li>

            <li>
                <a href="#">Coast</a>
            </li>

            <li>
                <a href="#">Australia's Beaches</a>
            </li>

            <li>
                <a href="#">Outback</a>
            </li>

            <li>
                <a href="#">Nature</a>
            </li>

            <li>
                <a href="#">Wine Regions</a>
            </li>

            <li>
                <a href="#">Australia's Islands</a>
            </li>

            <li>
                <a href="#">Australia's Seasons</a>
            </li>

            <li>
                <a href="#">Australia's National Landscapes</a>
            </li>

        </ul>
    </div>
</div>

