---
title: Agent Block
---

<div class="agent-block l-padding-b">
	<div class="row l-center-1200">
		<div class="col-xs-12">

			<div class="agent-block-item">

				{{> agentimage }}
				<img src="imgs/placeholders/agent-logo.jpg" alt="" />

				<h4 class="agent-block-name l-margin-0">Anna Bashford</h4>
				<p class="agent-block-company l-margin-0">Beaver Travel</p>
				<p class="agent-block-link l-margin-0"><a href="#">www.beavertravel.com</a></p>

				<div class="agent-block-contact-wrapper">
					<p class="agent-block-phone l-margin-0"><strong>Phone:</strong> 019 2385 4986</p>
					<p class="agent-block-address l-margin-0"><strong>Address:</strong> 301 Watling Street, Radlett, Hetfordshire, United Kingdom, WD7 7LA <a href="#">View Map</a></p>
				</div>

				<p class="agent-block-description">Anne Bashford has spent most of her working life in the travel industry and has... <a href="#">More</a></p>
				
				{{> agentimage }}

			</div>

			<div class="agent-block-item">

		hello worls

			</div>

			<div class="agent-block-item">

		hello worls

			</div>

			<div class="agent-block-item">

		hello worls

			</div>

		</div>
	</div>

</div>
