---
title: ASP Search Results Text
---
<div class="asp-search-results">
    <div class="row l-center-1200">

        <div class="row l-center-1200">
            <div class="col-xs-12">
                <p>Showing 3 of 8 results</p>
            </div>
        </div>

    </div>
</div>