---
title: Breadcrumbs Dynamic
---

{{#if page_title}}

    <div class="row l-center-1200">
        <div class="col-xs-12">
            <div class="breadcrumbs">
                <ul class="breadcrumb type-links-bottom-border">
                    <li><a href="#">Home</a></li>
                    <li>{{page_title}}</li>
                </ul>
            </div>
        </div>
    </div>
{{/if}}