---
title: Byline with share
---

<div class="byline-share-container">

    <div class="byline-share-details">
        {{>byline }}
    </div>

    <div class="byline-share-icons">
        {{>shareicons}}
    </div>


</div>