---
title: Byline with share (Article Page)
---

<div class="byline-share row l-center-1200">
    <div class="col-sm-7 col-sm-offset-3">
            <!-- bylinewithshare start -->
            {{> bylinewithshareitem }}
            <!-- bylinewithshare end -->
    </div>
</div>

