---
title: Carousel
---

<div class="carousel-container">

    <div class="carousel-owl-mobile-fill">

        <div id="carousel-wide" class="owl-carousel owl-theme">
            <div class="carousel-item">{{> carouselitem }}</div>
            <div class="carousel-item">{{> carouselitem }}</div>
            <div class="carousel-item">{{> carouselitem }}</div>
        </div>

    </div>

</div>
