---
title: Category Links - Victoria
---

<div class="categorylinks">
    <div class="row l-center-1200">
        <hr>
        <div class="col-xs-12 col-sm-4">
            <div class="categorylinks-item">
                <div class="categorylink-header">
                    <h3 class="categorylink-title">Getting here,<br />getting around</h3>
                </div>
                <div class="categorylink-body">
                    <p>Copy to include transport and local airport options. Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="categorylink-links">
                    <a herf="#">
                        <span class="categorylink-arrive-by-air-icon icon-font-ArrivingByAir_Icon"></span>
                        <span class="categorylink-linktext">See airlines that fly to this destination</span>
                    </a>
                    <br />
                    <a herf="#">
                        <img src="imgs/placeholders/footer_promo_transport_vic.jpg" alt="Transport" />
                        <span class="categorylink-linktext">http://ptv.vic.gov.au</span>
                    </a>
                </div>
            </div>
        </div>{{! end: .col }}

        <div class="col-xs-12 col-sm-4">
            <div class="categorylinks-item">
                <div class="categorylink-header">
                    <h3 class="categorylink-title">find your nearest<br />travel specialist</h3>
                </div>
                <div class="categorylink-body">
                    <p>Copy to include how to find a travel specailist Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="categorylink-links">
                    <a herf="#">
                        <img src="imgs/placeholders/footer_promo_aussiespecialist.jpg" alt="Aussie Specialist" />
                        <span class="categorylink-linktext">Find a travel specialist</span>
                    </a>
                </div>
            </div>
        </div>{{! end: .col }}

        <div class="col-xs-12 col-sm-4">
            <div class="categorylinks-item">
                <div class="categorylink-header">
                    <h3 class="categorylink-title">Visit Melbourne<br />tourism site</h3>
                </div>
                <div class="categorylink-body">
                    <p>Visit <a href="http://melbourne.com.au">melbourne.com.au</a> for more information on destinations and things to do!</p>
                </div>
                <div class="categorylink-links">
                    <a herf="#">
                        <img src="imgs/placeholders/footer_promo_visit_vic.jpg" alt="melbourne.com.au" />
                        <span class="categorylink-linktext">Go to melbourne.com.au</span>
                    </a>
                </div>
            </div>
        </div>{{! end: .col }}

    </div>
</div>