---
title: Contact Us Form
---

<div class="row l-center-1200 contactus-form" >
        <div class="contactus-formhead">
            <div class="col-xs-12 col-sm-6">
                <h2 class="type-secondary">can't find it? get in touch:</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>*Please complete all fields.</p>
            </div>
        </div>

        <form method="" action="#">
            <div class="col-xs-12 col-sm-4">

                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>
                    <input class="name-input" name="searchinput" type="text" placeholder="Type text to search" />
                </div>
                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>
                    <input class="name-input" name="searchinput" type="text" placeholder="Type text to search" />
                </div>

                {{#parseJSON '{"data" : [{"option": "United States of America"}, {"option": "Australia"}]}'}}
                    {{> dropdown_white_background }}
                {{/parseJSON}}


            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>
                    <textarea class="name-input" rows="15" placeholder="Type text to search" ></textarea>
                </div>
            </div>
        </form>

</div>