---
title: Contact Us Form
---

<div class="row l-center-1200 contactus-form" >
        <div class="contactus-formhead">
            <div class="col-xs-12 col-sm-6">
                <h2 class="type-secondary">can't find it? get in touch:</h2>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>*Please complete all fields.</p>
            </div>
        </div>

        <form method="" action="#">
            <div class="col-xs-12 col-sm-4">

                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>
                    <input class="name-input" name="searchinput" type="text" placeholder="Type text to search" />
                </div>
                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>
                    <input class="name-input" name="searchinput" type="text" placeholder="Type text to search" />
                </div>

                <div class="contactus-form-query-select">
                    <p>I have a</p>
                    {{#parseJSON '{"data" : [{"option": "United States of America"}, {"option": "Australia"}]}'}}
                        {{> dropdown_full_width }}
                    {{/parseJSON}}
                </div>

            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="inputFocus-wrapper">
                    <label class="name-input-label" for="searchinput">Type text to search</label>

                    <textarea class="name-input" placeholder="Type text to search" ></textarea>
                </div>
            </div>
            <div class="col-xs-12 contactus-form-button">
                <a href="#" class="btn-primary transparent">Send</a>
            </div>
        </form>

</div>