---
title: Explore More Trip Ideas
---

<div class="explore-container">

    {{#parseJSON '{"title": "More Trip Ideas", "copy" : ""}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    {{> carousel }}

</div>
