---
title: Favorite With Lines And Share
---

<div class="favourite-share row l-center-1200">
    <div class="col-sm-7 col-sm-offset-3">
        {{> seperator }}

        <div class="favourite-share-container">
            <div class="favourite-share-details">
                {{>favourite }}
            </div>

            <div class="favourite-share-icons">
                {{>shareicons}}
            </div>
        </div>

        {{> seperator }}
    </div>
</div>