---
title: Favorite With Lines
---


<div class="row l-center-1200 l-padding-b favourite-with-share">
    <div class="col-sm-7 col-sm-offset-3">
        <div class="clearfix">
            {{> seperator }}
            <div class="favourite-container">
                {{> favourite }}
            </div>
            <div class="shareicons-container right-component">
                {{>shareicons}}
            </div>
            {{> seperator }}
        </div>
    </div>
</div>