---
title: Favorite With Lines
---


<div class="favorite-with-lines row l-center-1200 l-padding-b l-xs-to-md-text-align-center">
    <div class="col-sm-7 col-sm-offset-3">
        {{> seperator }}
        {{> favourite }}
        {{> seperator }}
    </div>
</div>