---
title: Aus.com Footer
---
<div class="footer-container">
    <div class="footer">

        <div class="row footer-logo">
            {{> aus_logowhitetext }}
        </div>

        <div class="row l-padding-lr-10">
            <div class="col-xs-12 col-sm-6 col-md-4 1col-sm-3">
                {{> footer_country_language }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 1col-sm-4">
                {{> footer_social }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 l-clear-padding l-push-up-xs--1">
                <div class="col-xs-12 col-sm-6">
                    {{> footer_about }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{> footer_other }}
                </div>
            </div>
        </div>

    </div>
</div>
