---
title: Full Size Brightcove Video
---

<div class="row l-center-1200">
    <div class="video-large-container col-xs-12">
        <div class="video-position">
            {{#parseJSON '{"video_url": "imgs/placeholders/video_large.jpg"}'}}
                {{> videoitem}}
            {{/parseJSON}}
            <div class="video-copy-large-container"><div>
                {{> textlargevideo}}
            </div></div>
        </div>
    </div>
</div>