---
title: Full Size Video Only
---

<div class="video-large-container">
    <div class="row l-center-1200">
        <div class="col-xs-12">
	        <div class="video-position">
	            {{#parseJSON '{"video_url": "imgs/placeholders/video_large.jpg"}'}}
	                {{> videoitem}}
	            {{/parseJSON}}
	        </div>
	    </div>
    </div>
</div>