---
title: Header MM Mosaic - Secondary
---
<div class="megamenu-panel megamenu-mosaic">

    {{! keep new content in here... }}

    <ul class="nav-bar-panel-nav l-hideondesktop">
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
        <li><a href="#">Link Text</a></li>
    </ul>


    <div class="megamenu-mosaic-left l-hideonmobile">
    	<span class="type-h3 megamenu-mosaic-title">Plan your holiday in Australia</span>

    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Find a travel agent",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img1"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>
    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Visa &amp; immigration",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img2"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>
    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Getting around",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img3"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>
    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Facts about Australia",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img4"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>
    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Esential travel advice",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img5"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>

    </div>
    <div class="megamenu-mosaic-right l-hideonmobile">
    	<span class="type-h3 megamenu-mosaic-title">Holiday deals</span>

    	<div class="megamenu-mosaic-item">
	    	{{#parseJSON '{
		        "mosaic_theme" : "theme-10",
		        "mosaic_title" : "Special Offers",
		        "src": "imgs/icons/beaches_white_outline.png",
		        "mosaic_image": "meganav-img10"
		    }'}}
		        {{> mosaicitemlinkonly }}
		    {{/parseJSON}}
    	</div>

    </div>

    
</div> 