---
title: Header
---
<div class="header-container">
    <header class="navbar top-bar navbar-fixed-top" role="navigation">

        <div class="row l-center-1200">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="imgs/logo/logo-tourism-australia.png" alt="Australia" title="Australia">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Things to do</a></li>
                    <li><a href="#">Where to go</a></li>
                    <li><a href="#">Plan your trip</a></li>
                    <li class="toggle-search"><a href="#"><span class="icon icon-32 icon-green-search" aria-hidden="true"></span><span class="text-hidden-narrow"> </span></a></li>
                    <li class="like-this"><a href="#"><span class="icon icon-32 icon-red-heart" aria-hidden="true"></span><span class="text-hidden-narrow">  + 3</span></a></li>
                </ul>
            </nav>
        </div>

    </header>

</div>