---
title: Header MM My Trip
---
{{#if data}}
    <li id="nav-heart-this-widget" class="link-my-trip items-added">
        <a class="nav-toggle-none" href="/cart_thing" tabindex="-1">
            <span class="icon icon-32 icon-heart" aria-hidden="true"></span>
            <span class="vis-hidden-sm">My Trip</span>
            <span class="my-trip-count">
                {{{data}}}
            </span>
        </a>
    </li>
{{else}}
    <li id="nav-heart-this-widget" class="link-my-trip items-empty">
        <a class="nav-toggle-none" href="/cart_thing" tabindex="-1">
            <span class="icon icon-32 icon-heart" aria-hidden="true"></span>
            <span class="vis-hidden-sm">My Trip</span>
            <span class="my-trip-count"></span>
        </a>
    </li>
{{/if}}
