---
title: Header MM Map
---

<div class="megamenu-panel megamenu-map">
    <ul class="nav-bar-panel-nav">
        <li class="megamenu-map-filters is-active">
            <div class="megamenu-components">
                <a class="megamenu-map-filter" href="#">Iconic destinations</a>
                <ul class="megamenu-map-markers">
                    <li class="megamenu-map-marker map-marker-qld">{{! tmp to assign bg}}
                        <a href="#"><span class="map-segment"></span>Great Barrier Reef</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-sa">
                        <a href="#"><span class="map-segment"></span>Red Centre</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-vic">
                        <a href="#"><span class="map-segment"></span>Great Ocean Road</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nt">
                        <a href="#"><span class="map-segment"></span>Kakadu</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-wa">
                        <a href="#"><span class="map-segment"></span>The Kimberley</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-sa">
                        <a href="#"><span class="map-segment"></span>Kangaroo Island</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>Byron Bay</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-tas">
                        <a href="#"><span class="map-segment"></span>Tasmanian Wilderness</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>Australian Alps</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-wa">
                        <a href="#"><span class="map-segment"></span>Ningaloo</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nt">
                        <a href="#"><span class="map-segment"></span>Flinders Ranges</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-qld">
                        <a href="#"><span class="map-segment"></span>Fraser Island</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-tas">
                        <a href="#"><span class="map-segment"></span>Freycinet</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-vic">
                        <a href="#"><span class="map-segment"></span>Gippsland</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>Blue Mountains</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>Namadgi National Park</a>
                    </li>
                </ul>

            </div>
        </li>
        <li class="megamenu-map-filters">
            <div class="megamenu-components">
                <a class="megamenu-map-filter is-active" href="#">Cities</a>
                <ul class="megamenu-map-markers">
                    <li class="megamenu-map-marker map-marker-act">
                        <a href="#"><span class="map-segment"></span>Canberra</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>Sydney</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-vic">
                        <a href="#"><span class="map-segment"></span>Melbourne</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="megamenu-map-filters">
            <div class="megamenu-components">
                <a class="megamenu-map-filter is-active" href="#">States &amp; Territories</a>
                <ul class="megamenu-map-markers">
                    <li class="megamenu-map-marker map-marker-act">
                        <a href="#"><span class="map-segment"></span>Australian Capital Territory</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nsw">
                        <a href="#"><span class="map-segment"></span>New South Wales</a>
                    </li>
                    <li class="megamenu-map-marker map-marker-nt">
                        <a href="#"><span class="map-segment"></span>Northan Territory</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>



