---
title: Header (Business)
---
<div id="nav-main-header" class="header header-business megamenu">

    <div class="accessibility-links">
        <a tabindex="1" class="sr-only vis-focusable" href="#main-content">Skip to content</a>
        <a tabindex="2" class="sr-only vis-focusable" href="#main-footer">Skip to footer navigation</a>
    </div>

    {{> header_notice_bar}}

    {{! ARRIVAL-BAR: this bar will only be visible on arrival, scrolling will move it out of view and fix the header to the top... }}
    <div class="nav-bar arrival-bar bar-scroll-top">
        <div class="row l-center-1200">
            <ul class="nav-bar-nav nav-bar-right">
                <li class="header-byline">
                    <span class="l-nowrap">The official Australian tourism website.</span>
                    <span class="l-nowrap">The site uses cookies. <a href="#">Find out more</a>.</span>
                </li>
            </ul>
            <ul class="nav-bar-nav nav-bar-left">
                <li><a href="#">Holiday in Australia</a></li>
                <li class="is-current"><a href="#">Plan a Business Event</a></li>
            </ul>
        </div>
    </div>

    {{! TOP_BAR: this bar will always be visiable, it will remain fixed to the top of the viewport at all times except on arrival... }}
    <div id="nav-bar-top" class="nav-bar navigation-bar bar-fixed-scroll">
        <div class="row l-center-1200">

            {{! BEGIN: MASTHEAD }}
            <div class="header-masthead">
                <a class="nav-bar-toggle nav-toggle-open" href="#nav-main-header">
                    <span class="sr-only">Open Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="logo-masthead" href="#" tabindex="-1">
                    <img src="imgs/logo/logo_australia_com.png" alt=""/>
                </a>
            </div>
            {{! END: MASTHEAD }}

            <div class="main-nav-panel">
                {{! BEGIN: SUPLIMENTRY NAV }}
                <ul class="nav-bar-nav nav-bar-right">
                    <li class="toggle-home vis-hidden-sm">
                        <a href="#" tabindex="-1"><span class="icon icon-32 icon-home" aria-hidden="true"></span><span> Home</span></a>
                    </li>
                    <li id="nav-main-panel-search" class="toggle-search has-children">
                        <a class="nav-toggle-panel" href="#nav-main-panel-search"><span class="icon icon-32 icon-search" aria-hidden="true"></span><span class="vis-hidden-sm"> Search</span></a>
                        <ul class="nav-bar-panel">
                            <li class="nav-bar-panel-container">
                                <div class="nav-bar-panel-content">
                                    <form class="nav-search-form" method="" action="#">
                                        <fieldset class="nav-search-fieldset">
                                            <label class="nav-search-label" for="nav-search-field">What would you like to explore in Australia?</label>
                                            <input class="nav-search-text" id="nav-search-field" type="text" name="" value="" placeholder="What would you like to explore in Australia?"/>
                                            <button class="biutton nav-search-button" type="submit" name="submit" value="submit">
                                                <span class="icon icon-32 icon-search" aria-hidden="true"></span><span class="vis-hidden"> Search</span>
                                            </button>
                                        </fieldset>
                                    </form>

                                    <a tabindex="-1" class="nav-bar-panel-close" href="#nav-bar-top"><span class="icon icon-16 icon-close" aria-hidden="true"></span></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="link-map">
                        <a class="nav-toggle-none" href="/mega_map_thing"><span class="icon icon-32 icon-map" aria-hidden="true"></span><span class="vis-hidden-sm"> Map</span></a>
                    </li>
                </ul>
                {{! END: SUPLIMENTRY NAV }}

                {{! BEGIN: MAIN NAV }}
                <ul class="nav-bar-nav nav-bar-left">
                    <li id="nav-main-panel-1" class="has-children">
                        <a class="nav-toggle-panel" href="#nav-main-panel-1">Things to do <span class="icon icon-16 icon-arrow-down" aria-hidden="true"></span></a>
                        <ul class="nav-bar-panel">
                            <li class="nav-bar-panel-container">
                                <a class="sr-only vis-focusable" href="#nav-main-panel-2">Skip to "Where to go"</a>

                                <div class="nav-bar-panel-content">

                                    {{> header_megamenu_mosaic}}

                                    <a tabindex="-1" class="nav-bar-panel-close" href="#nav-bar-top"><span class="icon icon-16 icon-close" aria-hidden="true"></span></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="nav-main-panel-2" class="has-children">
                        <a class="nav-toggle-panel" href="#nav-main-panel-2">Where to go <span class="icon icon-16 icon-arrow-down" aria-hidden="true"></span></a>
                        <ul class="nav-bar-panel">
                            <li class="nav-bar-panel-container">
                                <a class="sr-only vis-focusable" href="#nav-main-panel-3">Skip to "Plan your trip"</a>

                                <div class="nav-bar-panel-content">

                                    {{> header_megamenu_map}}

                                    <a tabindex="-1" class="nav-bar-panel-close" href="#nav-bar-top"><span class="icon icon-16 icon-close" aria-hidden="true"></span></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="nav-main-panel-3" class="has-children">
                        <a class="nav-toggle-panel" href="#nav-main-panel-3">Plan your trip <span class="icon icon-16 icon-arrow-down" aria-hidden="true"></span></a>
                        <ul class="nav-bar-panel">
                            <li class="nav-bar-panel-container">
                                <a class="sr-only vis-focusable" href="#nav-main-panel-4">Skip to "News"</a>
                                

                                <div class="nav-bar-panel-content">

                                    {{> header_megamenu_mosaic}}

                                    <a tabindex="-1" class="nav-bar-panel-close" href="#nav-bar-top"><span class="icon icon-16 icon-close" aria-hidden="true"></span></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="nav-main-panel-4" class="has-children">
                        <a class="nav-toggle-panel" href="#nav-main-panel-4">News <span class="icon icon-16 icon-arrow-down" aria-hidden="true"></span></a>
                        <ul class="nav-bar-panel">
                            <li class="nav-bar-panel-container">
                                <a class="sr-only vis-focusable" href="#main-content">Skip to content</a>
                                
                                <div class="nav-bar-panel-content">
                                    <ul class="nav-bar-panel-nav">
                                        <li><a href="#">Link Text</a></li>
                                        <li><a href="#">Link Text</a></li>
                                        <li><a href="#">Link Text</a></li>
                                        <li><a href="#">Link Text</a></li>
                                    </ul>

                                    <a tabindex="-1" class="nav-bar-panel-close" href="#nav-bar-top"><span class="icon icon-16 icon-close" aria-hidden="true"></span></a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                {{! END: MAIN NAV }}

                {{! START: MOBILE TOP BAR IN OPEN STATE }}
                <div class="mobile-open-bar bar-fixed-scroll">
                    <ul class="tool-bar">
                        <li><a href="#">Holiday</a></li>
                        <li class="is-current"><a href="#">Business</a></li>
                        <li class="nav-bar-toggle">
                            <a class="nav-toggle-close" href="#nav-bar-top"><span class="icon icon-close icon-32" aria-hidden="true"></span>
                                <span class="sr-only">Close Navigation</span></a></li>
                    </ul>
                </div>
                {{! END: MOBILE TOP BAR IN OPEN STATE }}

            </div>
        </div>
    </div>
</div>
