---
title: Notice Bar
---
{{! NOTICE-BAR: this bar will only be visible when a notice is available...
    if the notice bar has the classname is-active we use an adjacent sibling selector to move the document down...
}}
<div id="main-notice-bar" class="notice-bar bar-scroll-top">
    <div class="row l-center-1200">
        <p class="notice-text notice-title">News alert</p>
        <p class="notice-text notice-summary">Lorem ipsum dolor sit amet consecuter. Ut enim ad minim. <a href="#">View the announcement</a></p>
        <a href="#nav-bar-top" class="notice-close"><span class="icon-16 icon-close icon-font-cross" aria-hidden="true"></span></a>
    </div>
</div>