---
title: Hero Text - Text only hero
---

<div class="home-hero make-gold">
    <div class="row">
        {{> breadcrumbsdynamic }}
    </div>   
    <div class="row l-center-1200 home-hero-text-container">
        <div class="home-hero-text-table-container">
            <div class="home-hero-text-table-cell">
                <h1 class="home-hero-title">{{#if hero_title}}{{hero_title}}{{else}}Sydney{{/if}}</h1>
            </div>
        </div>
    </div>
</div>