---
title: Image With Button (bg only in template)
note: note-image-with-button
---

<div class="image-ugc image-with-button make-white">

	<div class="image-bg fullwidth-bg" data-image-vertical-alignment="bottom" data-image-vertical-alignment="bottom" data--200-top="-webkit-transform: translate(0,10%);" data-200-bottom="-webkit-transform: translate(0,-10%);">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/placeholders/image_with_buttons.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/placeholders/image_with_buttons.jpg' alt=''>
        <![endif]-->
	</div>

    <div class="image-content-container">

        <div class="image-content">

            <div class="image-social-image">
                <img src="imgs/placeholders/image_social_image.jpg" alt="Social Image">
            </div>

            <hr>

            {{#parseJSON '{"quote_copy": "“It was amazing that a running two year old could stop to stare at the great vastness of Australia, and it gave me this beautiful photo.”"}'}}
                {{> blockquote_pullquote}}
            {{/parseJSON}}

            <hr>

            <div class="image-quote">
                <span class="image-quote-title">Tiat Yen Obi</span>
                <span class="image-quote-description">Petaling Jaya, Selangor</span>
                <span class="image-quote-source">Twelve Apostles, Port Campbell, Victoria</span>
            </div>

            <a href="#" class="image-btn">View This Trip</a>
        </div>
    </div>

</div>