---
title: Image With Date (bg only in template)
note: note-image-with-date
---

<div class="image-ugc image-with-date make-black">
	
	<div class="image-bg" data-image-vertical-alignment="bottom" data--200-top="-webkit-transform: translate(0,10%);" data-200-bottom="-webkit-transform: translate(0,-10%);">
		<div class="responsive-image" data-picture="" data-alt="" >
			<div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
			<div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
			<div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
			<div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>
			
			<noscript>
				<img src='imgs/placeholders/image_with_date.jpg' alt=''>
			</noscript>
		</div>
		<!--[if (lt IE 9) & (!IEMobile)]>
            <img src='imgs/placeholders/image_with_date.jpg' alt=''>
        <![endif]-->
	</div>

    <div class="image-content-container">

        <div class="image-content">

            <hr>

            <div class="image-quote">
                <span class="image-quote-date">Feb 19</span>
                <span class="image-quote-title">Sunrise over Bondi</span>
            <span class="image-quote-description">
                <a href="#">Rhydian Thomas</a>
                <br>
                Bondi, Sydney, New South Wales
            </span>
                <span class="image-quote-source">Sourced from Facebook</span>
            </div>

            <hr>

        </div>
    </div>

</div>