---
title: Itinerary Day
---
<div class="l-padding-b itinerary-day navScroller-section" data-section-name="{{#if itinerary_nav}}{{{itinerary_nav}}}{{else}}day-one{{/if}}">
    {{> largeparallax }}

    {{> largeparallax_images }}

    <div class="itinerary-day-content">
        <div class="row l-center-1200">
            <div class="col-xs-6  col-sm-offset-3 itinerary-day-textarea">
                <h4 class="type-h4">Katoomba to Megalong Valley</h4>
                {{{ itinerary_content }}}
            </div>
            <div class="col-xs-3 itinerary-day-map">
                <img src="imgs/placeholders/itinerary-map-1.png" alt="">
            </div>

            {{> itinerary_subnav }}
        </div>
    </div>

</div>