---
title: Itinerary Day
---

<div class="largeimage">

    <div class="img-holder" data-image="imgs/placeholders/image_with_date.jpg"></div>


    <div data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>

        <noscript>
            <img src='imgs/placeholders/image_with_date.jpg' alt=''>
        </noscript>

        <img src='imgs/placeholders/image_with_date.jpg' alt=''>
    </div>

    <div class="largeimage-smallimage-container">
        <div class="column col-first">
            <img src="imgs/placeholders/itinerary-1.jpg" alt="">
        </div>
        <div class="column col-second">
            <img src="imgs/placeholders/itinerary-2.jpg" alt="">
        </div>
        <div class="column col-third">
            <img src="imgs/placeholders/itinerary-3.jpg" alt="">
        </div>
        <div class="column col-fourth">
            <img src="imgs/placeholders/itinerary-4.jpg" alt="">
        </div>
    </div>
</div>
