---
title: Itinerary Day
---
<div class="l-padding-b itinerary-day navScroller-section" data-section-name="{{#if itinerary_nav}}{{{itinerary_nav}}}{{else}}day-one{{/if}}">
    {{> largeparallax }}

    {{> largeparallax_images }}

    <div class="itinerary-day-content">
        <div class="row l-center-1200">
            <div class="col-xs-6  col-sm-offset-3 itinerary-day-textarea">
                <h4 class="type-h4">Katoomba to Megalong Valley</h4>
                <p>Start at the Explorer’s Tree, where explorers Gregory Blaxland, William Wentworth and William Lawson carved their initials in 1813. The track meanders past peppermint and grand mountain ash trees before dropping sharply through the steep cliff walls of Nellie's Glen.</p>
                <p>Named after the daughter of an early Katoomba businessman, this cool, moist rainforest is home to coachwood, black wattle, cedar wattle, king fern and many rarer shrubs and ferns.</p>
                <p>Walk past tranquil Bonnie Doon Falls and through the rainforest and Sydney blue gums of magical Megalong - an Aboriginal name thought to mean ‘valley beneath the cliffs’. The Gundungurra and Gandangara speaking Aboriginal people moved nomadically between Megalong and other valleys along Dreaming pathways.</p>
            </div>
            <div class="col-xs-3 itinerary-day-map">
                <img src="imgs/placeholders/itinerary-map-1.png" alt="">
            </div>

            {{> itinerary_subnav }}
        </div>
    </div>

</div>