---
title: Large Image with Text
---

<div class="large-image-text">
    <img class="large-image-text-img" src="imgs/placeholders/image_with_date.jpg" alt="" />

    <div class="large-image-text-content">
        <p>Wawu-kraba waterfall which is said to have special healing powers for women in the Daintree Rainforest.</p>
    </div>
</div>
