---
title: Large Image Hero with button (bg only in template 404, see annotation)
note: note-parallax
---

<div class="hero-404 make-white">
    <!-- background image start -->
    <div class="hero-404-bg fullwidth-bg" data-image-vertical-alignment="bottom">

        <div class="responsive-image" data-picture="" data-alt="" >
            <div data-src="imgs/placeholders/hero-404.jpg" data-media="(min-width: 1px)"></div>
            <div data-src="imgs/placeholders/hero-404.jpg" data-media="(min-width: 481px)"></div>
            <div data-src="imgs/placeholders/hero-404.jpg" data-media="(min-width: 769px)"></div>
            <div data-src="imgs/placeholders/hero-404.jpg" data-media="(min-width: 993px)"></div>

            <noscript>
                <img src='imgs/placeholders/hero-404.jpg' alt=''>
            </noscript>
        </div>
        <!--[if (lt IE 9) & (!IEMobile)]>
        <img src='imgs/placeholders/hero-404.jpg' alt=''>
        <![endif]-->

    </div>
    <!-- background image end -->

    <div class="hero-404-text-table-container">
        <div class="hero-404-text-table-cell">
            <h1 class="hero-404-title">
                SORRY WE can’t find the page you are looking for.
            </h1>

            <div class="hero-404-text">
                <p>Australia's a big place. It's likely the page you're looking for has been moved or deleted.</p>
                <p>Here are some suggestions to help you get back on the right track.</p>

            </div>

            <a href="#" class="image-btn">go back to home page</a>
            <a href="#" class="image-btn">search</a>
        </div>
    </div>
</div>



