---
title: Large Image with optional overlays and reference line
---

<div class="large-image-social make-white">
   <div class="large-image-social-media">
       <div class="responsive-image large-image-social-frame-height" data-picture="" data-alt="" >
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 1px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 481px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 769px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 993px)"></div>

           <noscript>
               <img src='imgs/placeholders/image_with_buttons.jpg' alt=''>
           </noscript>

       </div>

       <img src='imgs/placeholders/image_with_buttons.jpg' alt='' class='show-on-ie8'>

   </div>

    <div class="large-image-social-content">

        {{> socialimage}}

        <hr>
        {{#parseJSON '{"quote_copy": "“It was amazing that a running two year old could stop to stare at the great vastness of Australia, and it gave me this beautiful photo.”"}'}}
            {{> blockquote_pullquote}}
        {{/parseJSON}}
        <hr>

        <a href="#" class="image-btn">View This Trip</a>
    </div>

    <div class="large-image-social-mention make-white">
        {{#parseJSON '{"social_mention_bold_text": "Tiat Yen Obi,", "social_mention_regular_text": "Petaling Jaya, Selangor, Twelve Apostles, Port Ca"}'}}
            {{> socialmention}}
        {{/parseJSON}}

    </div>
</div>






