---
title: Large Image with no Text
---

<div class="largeimage parallax">
    <div class="responsive-image largeimage-container" data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>

        <noscript>
            <img src='imgs/placeholders/image_with_date.jpg' alt=''>
        </noscript>
        <img src='imgs/placeholders/image_with_date.jpg' alt=''>
    </div>
    <!--[if (lt IE 9) & (!IEMobile)]>
        <img src='imgs/placeholders/image_with_date.jpg' alt=''>
    <![endif]-->
</div>





