---
title: Large Image with Text Overlay
---

<div class="largeimage parallax">
    <div class="responsive-image largeimage-container" data-picture="" data-alt="" >
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
        <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>

        <noscript>
            <img src='imgs/placeholders/image_with_date.jpg' alt=''>
        </noscript>
        <img src='imgs/placeholders/image_with_date.jpg' alt=''>

        <div class="largeimage-overlay">
            <div class="largeimage-overlay-container">
                <div class="inside">
                    <h3>Day One: 15kms</h3>
                </div>
            </div>
        </div>

    </div>

        <img src='imgs/placeholders/image_with_date.jpg' alt='' class='show-on-ie8'>

    
</div>





