---
title: Large Image With Optional Overlay - Parallax Enabled. Examples
---

<h2>Images only show in page template.</h2>

    <!--Large Image With Optional Overlay - Button, Social-->
{{#parseJSON '{
            "parallax_image" : "image_with_buttons",
            "social_image_url" : "imgs/placeholders/image_social_image.jpg",
            "quote_copy": "“It was amazing that a running two year old could stop to stare at the great vastness of Australia, and it gave me this beautiful photo.”",
            "button_copy":"View This Trip"
        }'}}
        {{> large_image_with_optional_overlays }}
    {{/parseJSON}}

<!--Large Image With Optional Overlay - Quote-->
    {{#parseJSON '{
            "parallax_image" : "image_with_buttons",
            "quote_copy": "“It was amazing that a running two year old could stop to stare at the great vastness of Australia, and it gave me this beautiful photo.”"
        }'}}
        {{> large_image_with_optional_overlays }}
    {{/parseJSON}}

    <!--Large Image With Optional Overlay - Date-->
    {{#parseJSON '{
            "parallax_image" : "image_with_buttons"
        }'}}
        {{> large_image_with_optional_overlays }}
    {{/parseJSON}}

    <!--Large Image With Optional Overlay - Button, Quote-->
    {{#parseJSON '{
            "parallax_image" : "image_with_buttons",
            "quote_copy": "“It was amazing that a running two year old could stop to stare at the great vastness of Australia, and it gave me this beautiful photo.”",
            "button_copy":"View This Trip"
        }'}}
        {{> large_image_with_optional_overlays }}
    {{/parseJSON}}

