---
title: Large Image with no Text
---

<div class="row large-image-notext make-white">
   <div class="large-image-notext-media">
       <div class="responsive-image large-image-notext-frame-height" data-picture="" data-alt="" >
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 1px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 481px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 769px)"></div>
           <div data-src="imgs/placeholders/image_with_buttons.jpg" data-media="(min-width: 993px)"></div>

           <noscript>
               <img src='imgs/placeholders/image_with_buttons.jpg' alt=''>
           </noscript>

       </div>
       <!--[if (lt IE 9) & (!IEMobile)]>
       <img src='imgs/placeholders/image_with_buttons.jpg' alt=''>
       <![endif]-->
   </div>
</div>






