---
title: Large Image with Text
---


<div class="row l-center-1200">

    <div class="large-image-text col-xs-9">
        <img class="large-image-text-img" src="imgs/placeholders/article_large_image_text.jpg" alt="" />

        <div class="large-image-text-content">
            <p>Wawu-kraba waterfall which is said to have special healing powers for women in the Daintree Rainforest.</p>
        </div>
    </div>

</div>


