---
title: Large Image with no Text
---

<div class="image-ugc-container">

    <div class="image-ugc image-with-date make-black">

       <div class="image-bg fullwidth-bg" data-image-vertical-alignment="bottom" data--200-top="-webkit-transform: translate(0,10%);" data-200-bottom="-webkit-transform: translate(0,-10%);">
            <div class="responsive-image" data-picture="" data-alt="" >
                <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 1px)"></div>
                <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 481px)"></div>
                <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 769px)"></div>
                <div data-src="imgs/placeholders/image_with_date.jpg" data-media="(min-width: 993px)"></div>

                <noscript>
                    <img src='imgs/placeholders/image_with_date.jpg' alt=''>
                </noscript>
                <img src='imgs/placeholders/image_with_date.jpg' alt=''>
            </div>
            <!--[if (lt IE 9) & (!IEMobile)]>
                <img src='imgs/placeholders/image_with_date.jpg' alt=''>
            <![endif]-->
        </div>



    </div>
</div>





