---
title: Map Image with Legend
---

<div class="map-with-links-container map-with-links-container--small l-padding-b" data-section-name="track">

    <div class="l-center-900">
        <h2 class="type-h1-responsive">The Track</h2>
    </div>
    <div class="l-center-640">
        <p class="map-with-links-intro">The Six Foot Track was once a horse trail between Katoomba and Jenolan Caves. Today it’s the domain of bushwalkers who are rewarded with a spectacular journey through fragrant bushland, past cliffs, caves, waterfalls and abundant wildlife.</p>

        <img src="imgs/placeholders/mapwithlinks_itinerary.jpg" class="map-highlights-image" alt="">

    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/calendar-small.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Best time to go</span>
                Autumn (March - May) <br>
                and Spring <br>
                (September - November)
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/clock-small.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Duration</span>
                3 days
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/graph-small.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Total distance</span>
                45 Kilometres<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/walking-small.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Mode of transport</span>
                Walking<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/info-small.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">More information</span>
                <a href="#">NSW Department of<br>Primary Industries</a><br>
            </div>
        </div>
    </div>

</div>