---
title: Map Image with Links
note: note-mapwithlinks
---

<!-- PARTIAL TESTING - SHOW CSSCOLUMNS
<script src="js/vendor/modernizr-2.7.1.js"></script>
-->

<div class="map-with-links-container">

    <div class="l-center-900">
        <h3 class="type-h1-responsive">victorian highlights</h3>
    </div>
    <div class="l-center-640">
        <p class="map-with-links-intro">From the bustle of Melbourne’s laneways to the rustle of the trees in the Macedon, Victoria is a state of stunning diversity and breathtaking natural beauty.</p>

        <img src="imgs/placeholders/mapwithlinks_state.jpg" class="map-highlights-image" alt="Map">
        <div class="map-image-view-btn-container">
            <a href="#" class="btn-primary">view detailed map</a>
        </div>

    </div>

    <!--
    <div style="position:relative; width:100%; max-width:1200px; min-width:800px; margin-left:auto; margin-right:auto">
     -->
    <div class="map-with-links-list-container">
        <ol class="map-with-links-list">
            <li><a href="#">Melbourne</a></li>
            <li><a href="#">Yarra Valley & Dandenong Ranges</a></li>
            <li><a href="#">Phillip Island</a></li>
            <li><a href="#">High Country</a></li>
            <li><a href="#">Phillip Island</a></li>
            <li><a href="#">Great Ocean Road</a></li>
            <li><a href="#">Goldfield</a></li>
            <li><a href="#">Grampians</a></li>
            <li><a href="#">High Country</a></li>
            <li><a href="#">Gippsland</a></li>
            <li><a href="#">The Murray</a></li>
        </ol>
    </div>

</div>