---
title: Map Image with Legend
---

<div class="map-with-links-container map-with-links-container--small">

    <div class="l-center-900">
        <h3 class="type-h1-responsive">The Track</h3>
    </div>
    <div class="l-center-640">
        <p class="map-with-links-intro">The Six Foot Track was once a horse trail between Katoomba and Jenolan Caves. Today it’s the domain of bushwalkers who are rewarded with a spectacular journey through fragrant bushland, past cliffs, caves, waterfalls and abundant wildlife.</p>

        <img src="imgs/placeholders/mapwithlinks_city.jpg" class="map-highlights-image" alt="">

    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/airplane_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Best time to go</span>
                <strong>15 minutes</strong> to the city by car<br>
                <strong>30 minutes</strong> to the city by public transport<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/sea_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by sea</span>
                <strong>10 minutes</strong> to the city by car<br>
                <strong>40 minutes</strong> to the city by public transport<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/sea_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by sea</span>
                <strong>10 minutes</strong> to the city by car<br>
                <strong>40 minutes</strong> to the city by public transport<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/sea_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by sea</span>
                <strong>10 minutes</strong> to the city by car<br>
                <strong>40 minutes</strong> to the city by public transport<br>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/sea_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by sea</span>
                <strong>10 minutes</strong> to the city by car<br>
                <strong>40 minutes</strong> to the city by public transport<br>
            </div>
        </div>
    </div>

</div>