---
title: Map Image with Buttons
---

<div class="map-with-links-container">

    <div class="l-center-900">
        <h3 class="type-h1-responsive">YOUR first steps in sydney</h3>
    </div>
    <div class="l-center-640">
        <p class="map-with-links-intro">With the airport only thirty minutes from the city, expressways to the north, south and west and the world’s most spectacular harbour in the east, you’re sure to arrive in style.</p>

        <img src="imgs/placeholders/mapwithlinks_city.jpg" class="map-highlights-image" alt="">
        <div class="map-image-view-btn-container">
            <a href="#" class="btn-primary">view detailed map</a>
        </div>

    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/airplane_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by air</span>
                <p>
                    <b>15 minutes</b> to the city by car<br>
                    <b>30 minutes</b> to the city by public transport<br>
                </p>
            </div>
        </div>
    </div>

    <div class="map-btn-container">
        <div class="map-btn-content">
            <div class="map-image-icon">
                <img src="imgs/placeholders/sea_sml.png" alt="" />
            </div>
            <div>
                <span class="map-btn-heading">Arriving by sea</span>
                <p>
                    <b>10 minutes</b> to the city by car<br>
                    <b>40 minutes</b> to the city by public transport<br>
                </p>
            </div>
        </div>
    </div>

</div>