---
title: Large Parallax Image - Full Width inside Content Area
---

<div class="l-padding-b parallaximage_fullwidth parallaximage_fullwidth--social">
	{{> largeparallax }}

	{{> socialmention }}
</div>