---
title: Quote
---
<!-- quote start -->
<div class="quote">
    <div class="row l-center-1200">

        <div class="quote-social-image">
            {{> socialimage}}
        </div>

        <div class="quote-content">
            <hr class="quote-hr" />
            <p class="quote-text">
                “Brilliant place to visit, welcomed by beautiful surroundings! It's well worth the drive to visit this wonderful forest!”
            </p>
            <div class="quote-byline">
                Janice travelled here in Jan 2014
            </div>
            <hr class="quote-hr" />
        </div>

    </div>
</div>
<!-- quote end -->


