---
title: Share Icons - Full Width
---

<div class="shareicons l-padding-b">
    <div class="row l-center-1200">
        <div class="col-xs-12 col-sm-9 col-sm-offset-3">
            <ul>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_email_large" displayText="Email">
                        <img class="btn-bubble-std" src="imgs/icons/email_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/email.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_facebook_large" displayText="Facebook">
                        <img class="btn-bubble-std" src="imgs/icons/facebook_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/facebook.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_twitter_large" displayText="Twitter">
                        <img class="btn-bubble-std" src="imgs/icons/twitter_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/twitter.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_sharethis_large" displayText="ShareThis">
                        <img class="btn-bubble-std" src="imgs/icons/sharethis_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/sharethis.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_tumblr_large" displayText="Tumblr">
                        <img class="btn-bubble-std" src="imgs/icons/tumblr_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/tumblr.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_googleplus_large" displayText="Google +">
                        <img class="btn-bubble-std" src="imgs/icons/googleplus_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/googleplus.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_xing_large" displayText="Xing">
                        <img class="btn-bubble-std" src="imgs/icons/xing_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/xing.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_reddit_large" displayText="Reddit">
                        <img class="btn-bubble-std" src="imgs/icons/reddit_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/reddit.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_myspace_large" displayText="MySpace">
                        <img class="btn-bubble-std" src="imgs/icons/myspace_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/myspace.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_orkut_large" displayText="Orkut">
                        <img class="btn-bubble-std" src="imgs/icons/orkut_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/orkut.png" alt="">
                    </span>
                </li>
                <li class="btn-bubble">
                    <span class="btn-bubble-button st_linkedin_large" displayText="MySpace">
                        <img class="btn-bubble-std" src="imgs/icons/linkedin_outline.png" alt="">
                        <img class="btn-bubble-active" src="imgs/icons/linkedin.png" alt="">
                    </span>
                </li>

                <li class="social-fblike"><span class="st_fblike_large" displayText="Facebook Like"></span></li>
            </ul>

            <script type="text/javascript">var switchTo5x=true;</script>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "ur-f4ab25a3-9e79-84bb-993-552e71e1bc9", onhover: false, doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
        </div>
    </div>

    <div class="row l-center-1200">
        <div class="col-xs-12 col-sm-9 col-sm-offset-3">


            {{> seperator }}

        </div>

    </div>
</div>





