---
title: Site Map Single Item (see annotation)
note: note-sitemap
---

<h2 class="type-secondary">section title</h2>

<ul>
    <li>
        <a href="#">Cities, States and Territories</a>
    </li>

    <li>
        <a href="#">Weather</a>
    </li>

    <li>
        <a href="#">Time Zones</a>
    </li>

    <li>
        <a href="#">Currency</a>
    </li>

    <li>
        <a href="#">Emergency Services</a>
    </li>

    <li>
        <a href="#">Australia's Plants</a>
    </li>

    <li>
        <a href="#">Australia’s Animals</a>
    </li>
</ul>