

<div class="sitemap-content">

    <div class="row l-center-1200 type-links-bottom-border">
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">section title</h2>

            <ul>
                <li>
                    <a href="#">Cities, States and Territories</a>
                </li>

                <li>
                    <a href="#">Weather</a>
                </li>

                <li>
                    <a href="#">Time Zones</a>
                </li>

                <li>
                    <a href="#">Currency</a>
                </li>

                <li>
                    <a href="#">Emergency Services</a>
                </li>

                <li>
                    <a href="#">Australia's Plants</a>
                </li>

                <li>
                    <a href="#">Australia’s Animals</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">section title</h2>

            <ul>
                <li>
                    <a href="#">Aboriginal Australia</a>
                </li>

                <li>
                    <a href="#">Australia's Culture</a>
                </li>

                <li>
                    <a href="#">Australia's History</a>
                </li>

                <li>
                    <a href="#">Australian Art</a>
                </li>

                <li>
                    <a href="#">Australia’s Stadiums and Venues</a>
                </li>

                <li>
                    <a href="#">Famous Australians</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">section title</h2>

            <ul>
                <li>
                    <a href="#">Cities</a>
                </li>

                <li>
                    <a href="#">Coast</a>
                </li>

                <li>
                    <a href="#">Australia's Beaches</a>
                </li>

                <li>
                    <a href="#">Outback</a>
                </li>

                <li>
                    <a href="#">Nature</a>
                </li>

                <li>
                    <a href="#">Wine Regions</a>
                </li>

                <li>
                    <a href="#">Australia's Islands</a>
                </li>

                <li>
                    <a href="#">Australia's Seasons</a>
                </li>

                <li>
                    <a href="#">Australia's National Landscapes</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="row l-center-1200 type-links-bottom-border">
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">things to do</h2>

            <ul>
                <li>
                    <a href="#">Aboriginal Australia</a>
                </li>

                <li>
                    <a href="#">Australian Adventure</a>
                </li>

                <li>
                    <a href="#">Natural Australia</a>
                </li>

                <li>
                    <a href="#">Shopping</a>
                </li>

                <li>
                    <a href="#">Australia’s Food and Wine</a>
                </li>

                <li>
                    <a href="#">Ultimate Winery Experiences of Australia</a>
                </li>

                <li>
                    <a href="#">Australian Holiday Stories</a>
                </li>

                <li>
                    <a href="#">Australia for the Youth(ful) Traveller</a>
                </li>

                <li>
                    <a href="#">Great Walks of Australia</a>
                </li>

                <li>
                    <a href="#">Luxury Lodges of Australia</a>
                </li>

                <li>
                    <a href="#">Great Golf Courses of Australia</a>
                </li>

                <li>
                    <a href="#">What’s On Calendar</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">australia’s cities</h2>

            <ul>
                <li>
                    <a href="#">Sydney</a>
                </li>

                <li>
                    <a href="#">Melbourne</a>
                </li>

                <li>
                    <a href="#">Brisbane</a>
                </li>

                <li>
                    <a href="#">Perth</a>
                </li>

                <li>
                    <a href="#">Darwin</a>
                </li>

                <li>
                    <a href="#">Adelaide</a>
                </li>

                <li>
                    <a href="#">Hobart</a>
                </li>

                <li>
                    <a href="#">Canberra</a>
                </li>

                <li>
                    <a href="#">Gold Coast</a>
                </li>

                <li>
                    <a href="#">Cairns</a>
                </li>

                <li>
                    <a href="#">Alice Springs</a>
                </li>

                <li>
                    <a href="#">Broome</a>
                </li>

                <li>
                    <a href="#">Australia’s Regional Cities</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">australia’s states and territories</h2>

            <ul>
                <li>
                    <a href="#">New South Wales</a>
                </li>

                <li>
                    <a href="#">Victoria</a>
                </li>

                <li>
                    <a href="#">Queensland</a>
                </li>

                <li>
                    <a href="#">Northern Territory</a>
                </li>

                <li>
                    <a href="#">Western Australia</a>
                </li>

                <li>
                    <a href="#">South Australia</a>
                </li>

                <li>
                    <a href="#">Tasmania</a>
                </li>

                <li>
                    <a href="#">Australian Capital Territory</a>
                </li>

                <li>
                    <a href="#">Explore Australia by Map</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row l-center-1200 type-links-bottom-border">
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">australia’s icons</h2>

            <ul>
                <li>
                    <a href="#">Great Barrier Reef</a>
                </li>

                <li>
                    <a href="#">Red Centre</a>
                </li>

                <li>
                    <a href="#">Great Ocean Road</a>
                </li>

                <li>
                    <a href="#">Kakadu</a>
                </li>

                <li>
                    <a href="#">The Kimberley</a>
                </li>

                <li>
                    <a href="#">Kangaroo Island</a>
                </li>

                <li>
                    <a href="#">Byron Bay</a>
                </li>

                <li>
                    <a href="#">Tasmanian Wilderness</a>
                </li>

                <li>
                    <a href="#">Australian Alps</a>
                </li>

                <li>
                    <a href="#">Ningaloo</a>
                </li>

                <li>
                    <a href="#">Flinders Ranges</a>
                </li>

                <li>
                    <a href="#">Fraser Island</a>
                </li>

                <li>
                    <a href="#">Freycinet</a>
                </li>

                <li>
                    <a href="#">Gippsland</a>
                </li>

                <li>
                    <a href="#">Blue Mountains</a>
                </li>

                <li>
                    <a href="#">Namadgi National Park</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">Travelling Australia</h2>

            <ul>
                <li>
                    <a href="#">Drive Australia</a>
                </li>

                <li>
                    <a href="#">Short Breaks</a>
                </li>

                <li>
                    <a href="#">Coastal Journeys</a>
                </li>

                <li>
                    <a href="#">Outback Journeys</a>
                </li>

                <li>
                    <a href="#">Nature Discovery</a>
                </li>

                <li>
                    <a href="#">Adventure Journeys</a>
                </li>

                <li>
                    <a href="#">Aboriginal Discovery</a>
                </li>

                <li>
                    <a href="#">Walking Australia</a>
                </li>

                <li>
                    <a href="#">Australian Holiday Ideas</a>
                </li>

                <li>
                    <a href="#">Walkabout Planner</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">Events</h2>

            <ul>
                <li>
                    <a href="#">Australia's Major Events</a>
                </li>

                <li>
                    <a href="#">Australia's Sporting Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Beach Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Cultural Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Arts Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Music Festivals</a>
                </li>

                <li>
                    <a href="#">Australia’s Food and Wine Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Regional and Outback Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Aboriginal Events and Festivals</a>
                </li>

                <li>
                    <a href="#">Australia’s Natural Events</a>
                </li>

                <li>
                    <a href="#">Uniquely Australian Events</a>
                </li>

                <li>
                    <a href="#">Australia’s Horse Racing Events</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="row l-center-1200 type-links-bottom-border">
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">before you go</h2>

            <ul>
                <li>
                    <a href="#">Planning a trip to Australia?</a>
                </li>

                <li>
                    <a href="#">Working Holiday Maker Program</a>
                </li>

                <li>
                    <a href="#">Working Holiday Maker Program - FAQ</a>
                </li>

                <li>
                    <a href="#">Work, Study Abroad in Australia</a>
                </li>

                <li>
                    <a href="#">Useful Tips</a>
                </li>

                <li>
                    <a href="#">Health and Safety</a>
                </li>

                <li>
                    <a href="#">Customs and Quarantine</a>
                </li>

                <li>
                    <a href="#">Australian Public Holidays 2014</a>
                </li>

                <li>
                    <a href="#">Australian School Holidays 2014</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">plan your trip</h2>

            <ul>
                <li>
                    <a href="#">Find Flights</a>
                </li>

                <li>
                    <a href="#">Accommodation</a>
                </li>

                <li>
                    <a href="#">Find Tours</a>
                </li>

                <li>
                    <a href="#">Special Offers*</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">while you’re here</h2>

            <ul>
                <li>
                    <a href="#">Australia’s Travel Tips / Hazards</a>
                </li>

                <li>
                    <a href="#">Emergency Services</a>
                </li>

                <li>
                    <a href="#">Road Safety in Australia</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row l-center-1200 type-links-bottom-border">
        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">business events</h2>

            <ul>
                <li>

                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">campaigns</h2>

            <ul>
                <li>
                    <a href="#">Friends of Australia tell us their holiday favourites</a>
                </li>

                <li>
                    <a href="#">The Australian Tourism Awards 2013</a>
                </li>

                <li>
                    <a href="#">There's Nothing Like Australia in an app</a>
                </li>

                <li>
                    <a href="#">The T-QUAL Tick</a>
                </li>

                <li>
                    <a href="#">Watch our new film: Be Changed</a>
                </li>

                <li>
                    <a href="#">Best jobs in the world</a>
                </li>

                <li>
                    <a href="#">News Alert - Blue Mountains Fires</a>
                </li>

                <li>
                    <a href="#">There’s nothing like Australia to try something new</a>
                </li>

                <li>
                    <a href="#">Information on Bushfires in parts of Australia</a>
                </li>

                <li>
                    <a href="#">News Update – Visit the Blue Mountains</a>
                </li>

                <li>
                    <a href="#">Australia’s food and wine trends for 2014</a>
                </li>

                <li>
                    <a href="#">Must see events in Australia this Autumn</a>
                </li>

                <li>
                    <a href="#">sitemap_thumbnail</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-4">
            <h2 class="type-secondary">languages</h2>

            <ul>
                <li>
                    <a href="#">Bahasa Indonesia</a>
                </li>

                <li>
                    <a href="#">简体中文</a>
                </li>

                <li>
                    <a href="#">繁體中文</a>
                </li>

                <li>
                    <a href="#">Dutch</a>
                </li>

                <li>
                    <a href="#">Français</a>
                </li>

                <li>
                    <a href="#">Deutsch</a>
                </li>

                <li>
                    <a href="#">Italiano</a>
                </li>

                <li>
                    <a href="#">日本語</a>
                </li>

                <li>
                    <a href="#">한국어</a>
                </li>

                <li>
                    <a href="#">Español (LA)</a>
                </li>

                <li>
                    <a href="#">Bahasa Malay</a>
                </li>

                <li>
                    <a href="#">Portuguese</a>
                </li>

                <li>
                    <a href="#">Русский</a>
                </li>

                <li>
                    <a href="#">Español (EU)</a>
                </li>

                <li>
                    <a href="#">ไทย</a>
                </li>

                <li>
                    <a href="#">Tiếng Việt</a>
                </li>
            </ul>
        </div>
    </div>

</div>