---
title: Small Image with Text
---


<div class="small-image-text">
    <img class="small-image-text-img" src="imgs/placeholders/image_with_date.jpg" alt="" />

    <div class="small-image-text-content">
        <p>Nature continues as it has for millons of years in the Daintree. Spring brings a repeat peformance, which each year is just as invigorating.</p>
    </div>
</div>
