---
title: Social Tiles
---

<div class="socialtiles">

    <div class="row l-center-1200">

        {{#parseJSON '{"title": "#Australia"}'}}
            {{> sectionintro }}
        {{/parseJSON}}

        {{#if copy}}
            <div class="l-center-640 type-center">
                <p class="type-intro">
                    {{{copy}}}
                </p>
            </div>
        {{/if}}

        {{#if single_row}}
            {{#parseJSON '{"single_row": true}'}}
                {{> mosaic_socialtiles }}
            {{/parseJSON}}
        {{else}}
            {{#parseJSON '{"single_row": false}'}}
                {{> mosaic_socialtiles }}
            {{/parseJSON}}
        {{/if}}


        <div class="socialtiles-linethrough">
            {{#parseJSON '{"copy": "Want to join the conversation?"}'}}
                {{> linethroughtext}}
            {{/parseJSON}}
        </div>

        <div class="l-h-center">
            <a href="#" class="btn-primary">Find out how</a>
        </div>

    </div>

</div>
