---
title:  Summary
---

<div class="type-summary">
    <p>Whether you adore the arts or love the great outdoors, Victoria has something for you.</p><p>The state is packed with both scenic and cultural attractions – from striking public spaces and state-of-the-art museums to heritage sites and rare wildlife.</p>
</div>
<hr>