---
title: Two Images
---


<div class="row l-center-1200">

    <div class="two-images col-xs-12">
        <div class="row">

            <div class="col-xs-7 two-images-column">
                <img class="two-images-large-img" src="imgs/placeholders/image_with_date.jpg" alt="" />

                <div class="two-images-large-content">
                    <p>Wawu-kraba waterfall which is said to have special healing powers for women in the Daintree Rainforest.</p>
                </div>
            </div>

            <div class="col-xs-5 two-images-column">
                <img class="two-images-small-img" src="imgs/placeholders/image_with_date.jpg" alt="" />

                <div class="two-images-small-content">
                    <p>Wawu-kraba waterfall which is said to have special healing powers for women in the Daintree Rainforest.</p>
                </div>
            </div>

        </div>
    </div>

</div>


