---
title: Video Desktop - Title, Fullvideo, Favourite, Tags, Share
---

<div class="video-desktop-title-fullvideo-fav-tags-share">
    <div class="l-center-1200 l-h-center l-row-collapse l-constrained">
        {{> largetitlewithsubdescription }}
        {{> fullsizevideoonly }}
        {{> video_add_tags_share }}
    </div>
</div>