---
title: Video Desktop - Title, Fullvideo, Favourite, Tags, Share
---

<div class="video-desktop-title-fullvideo-fav-tags-share">
    <div class="row l-center-1200">
        {{> largetitlewithsubdescription }}
        {{> fullsizevideoonly }}
        {{> video_add_tags_share }}
    </div>
</div>