---
title: What You Can See - City
---

<div class="whatyoucansee">

    {{#parseJSON '{
        "title": "What you can see in Sydney",
        "copy" : "What more is there to do in Sydney besides scrunching your toes into the sands at one of 70 city beaches? Only anything and everything."}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    <div class="l-h-center section-buttons">

        <!-- Select List For Mobile -->
        <div class="section-buttons-mobile">
            {{#parseJSON '{"data" : [{"option": "Things To Do"}, {"option": "Whats Coming Up"}, {"option": "Highlights"}]}'}}
                {{> dropdown }}
            {{/parseJSON}}
        </div>

        <!-- Buttons -->
        <div class="section-buttons-desktop">

            {{#parseJSON '{"label": "Things To Do", "button" : "menu.png", "button_outline" : "menu_outline.png", "active" : true, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

            {{#parseJSON '{"label": "Whats Comming Up", "button" : "events.png", "button_outline" : "events_outline.png", "active" : false, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

            {{#parseJSON '{"label": "Highlights", "button" : "star.png", "button_outline" : "star_outline.png", "active" : false, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

        </div>

    </div>

    {{> mosaic_highlights }}

    <div class="l-h-center">
        <a href="#" class="btn-primary">View all highlights</a>
    </div>

</div>
