---
title: What You Can See - No Buttons, One Row
---

<div class="whatyoucansee-container">

    {{#parseJSON '{
        "title": "What you can see near the Daintree rainforest",
        "copy" : "What more is there to do in the Daintree Rainforest besides trekking through a pure ecosystem? Only anything and everything."}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    {{> mosaic_highlights_grid_4_1_single }}

</div>
