---
title: What You Can See - State
note: note-whatyoucansee
---

<div class="whatyoucansee">

    {{#parseJSON '{"title": "What you can see in victoria", "copy" : "The extraordinary and the unforgettable are part of the everyday here in Victoria.<br>Discover more about what’s on offer by choosing an option below."}'}}
        {{> sectionintro_h2 }}
    {{/parseJSON}}

    <div class="l-h-center section-buttons">

        <!-- Select List For Mobile -->
        <div class="section-buttons-mobile">
            {{#parseJSON '{"data" : [{"option": "Things To Do"}, {"option": "Whats Coming Up"}, {"option": "Highlights"}]}'}}
                {{> dropdown }}
            {{/parseJSON}}
        </div>

        <!-- Buttons -->
        <div class="section-buttons-desktop">

            {{#parseJSON '{"label": "Things To Do", "button" : "menu.png", "button_outline" : "menu_outline.png", "active" : true, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

            {{#parseJSON '{"label": "Whats Comming Up", "button" : "events.png", "button_outline" : "events_outline.png", "active" : false, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

            {{#parseJSON '{"label": "Highlights", "button" : "star.png", "button_outline" : "star_outline.png", "active" : false, "extraspace" : true}'}}
                {{> button_generic}}
            {{/parseJSON}}

        </div>

    </div>

    {{#if captions}}
        {{#parseJSON '{"captions": true}'}}
            {{> mosaic_whatscomingup }}
        {{/parseJSON}}
    {{else}}
        {{#parseJSON '{"captions": false}'}}
            {{> mosaic_whatscomingup }}
        {{/parseJSON}}
    {{/if}}

    <div class="what-you-can-see-view-all-highlights l-h-center">
        <a href="#" class="btn-primary">View all events</a>
    </div>

</div>
