<?xml version="1.0" ?>
<ConsumerBaseFoundation pageID="22556" isTemplate="1">
    <breadcrumb>
        <element level="1">
            <headline><![CDATA[Homepage ]]></headline>
            <href><![CDATA[/index.xml]]></href>
        </element>
<element level="2">
            <headline><![CDATA[About]]></headline>
            <href><![CDATA[/about.xml]]></href>
        </element>
<element level="4">
            <headline><![CDATA[Australia's Seasons]]></headline>
            <href><![CDATA[/about/australias-landscapes/australias-seasons.xml]]></href>
        </element>
<element level="5">
            <headline><![CDATA[Discover Australia's Spring]]></headline>
            <href><![CDATA[/about/australias-landscapes/australias-seasons/spring.xml]]></href>
        </element>

    </breadcrumb>
    <img_background><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_background>
    <hdl_Title><![CDATA[Discover Australia's Spring]]></hdl_Title>
    <img_Banner><![CDATA[/contentimages/about-australias-landscapes-australias-season-spring.jpg]]></img_Banner>
    <img_SearchThumbnail><![CDATA[/thumbnails/about-australias-landscapes-australias-season-spring-search.jpg]]></img_SearchThumbnail>
    <img_Thumbnail><![CDATA[/contentimages/about-key-facts-weather-sydney-th.jpg]]></img_Thumbnail>
    <opt_HideInBreadcrumbs><![CDATA[Show]]></opt_HideInBreadcrumbs>
    <opt_HidePage><![CDATA[no]]></opt_HidePage>
    <opt_hideTitle><![CDATA[0]]></opt_hideTitle>
    <opt_hide_in_sitemap><![CDATA[no]]></opt_hide_in_sitemap>
    <opt_IncludeVideo><![CDATA[0]]></opt_IncludeVideo>
    <opt_isHubPage><![CDATA[0]]></opt_isHubPage>
    <opt_isNewWindow><![CDATA[_self]]></opt_isNewWindow>
    <opt_PageLayout><![CDATA[]]></opt_PageLayout>
    <opt_PartnerLead><![CDATA[no]]></opt_PartnerLead>
    <stf_description><![CDATA[From spotting wildlife and wildflowers to enjoying a host of events, discover things to do in spring in Australia, lasting from September to November.]]></stf_description>
    <stf_ExcludedCountries><![CDATA[]]></stf_ExcludedCountries>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_ImageLocation><![CDATA[Floriade festival, Canberra, ACT. &copy; Tourism Australia]]></stf_ImageLocation>
    <stf_intro_title><![CDATA[Discover Australia's Spring]]></stf_intro_title>
    <stf_IsExternalSiteArticle><![CDATA[]]></stf_IsExternalSiteArticle>
    <stf_IsMobile><![CDATA[y]]></stf_IsMobile>
    <stf_keywords><![CDATA[spring in australia, australia spring]]></stf_keywords>
    <stf_LinkLearnMore><![CDATA[Learn More]]></stf_LinkLearnMore>
    <stf_NavigationTagLine><![CDATA[]]></stf_NavigationTagLine>
    <stf_PageHeading><![CDATA[Discover Australia's Spring]]></stf_PageHeading>
    <stf_TargetedCountries><![CDATA[]]></stf_TargetedCountries>
    <stf_TrackingTitle><![CDATA[]]></stf_TrackingTitle>
    <TA_Title><![CDATA[Discover Australia's Spring - Tourism Australia]]></TA_Title>
    <txt_Intro>
        <![CDATA[]]>
    </txt_Intro>
    <txt_MobileContentOnly>
        <![CDATA[]]>
    </txt_MobileContentOnly>
    <txt_SpotlightTag>
        <![CDATA[]]>
    </txt_SpotlightTag>
    <txt_Teaser>
        <![CDATA[Discover Australia's spring season, which lasts from September to November. In our tropical north, this is the pre-monsoonal season. Learn more.]]>
    </txt_Teaser>
    <con_Body>
        <StandardCampaignLayout isTemplate="1">
    <opt_national_landscapes_id><![CDATA[]]></opt_national_landscapes_id>
    <hdl_Title><![CDATA[]]></hdl_Title>
    <stf_hideInXmlSitemap><![CDATA[]]></stf_hideInXmlSitemap>
    <stf_TargetedCountry><![CDATA[]]></stf_TargetedCountry>
    <con_Banner></con_Banner>
    <con_Body><BasicContent isTemplate="1">
    <txt_Content><![CDATA[<table>
            <tbody>
                <tr>
                    <td style="padding-right: 20px;" valign="top">
                    <p>Discover Australia’s spring season, which lasts from September to November for most of the country. In our tropical north, this is the ‘build-up’ or pre-monsoonal season.</p>
                    <p>Watch Melbourne dress up for the nation-stopping Melbourne Cup. Enjoy opera, jazz, blues and sculpture amongst the wineries of the Hunter Valley, near Sydney. Combine food, wine, diving and surfing in Western Australia’s Margaret River. Trek through the primeval treetops in Queensland’s World Heritage-listed Daintree Rainforest. Experience the wildlife and wildflower show on South Australia’s Kangaroo Island or snare a prize barramundi during the Northern Territory’s ‘build-up’. See Canberra come alive with a million spring blooms at Floriade or follow Tasmania’s blooming gardens to natural and historic attractions. In Australia, spring is also a great season to surf, sea kayak and canoe. </p>
                    <br />
                    <p><img alt="Out spring brings you" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-title01.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/events/vic-spring-racing.xml" target="_self"><img alt="Australia's Spring Racing Carnival" src="/contentimages/explore-events-horse-racing-events-spring-racing-carnival-hl.jpg" /></a><a href="/about/australias-landscapes/wine-regions/yarra-valley.xml" target="_self"><span style="font-family: arial;"></span></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/events/vic-spring-racing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Australia's Spring Racing Carnival</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Stop for the Melbourne Cup and embrace fun, fashion and horse racing at the Spring Racing Carnival. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><img alt="Spring in the Daintree Rainforest" src="/contentimages/explore-states-qld-daintree-rainforest-hl.jpg" /></a><a href="/explore/events/sa-outback-cattle-drive.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/states/qld/qld-spring-daintree-forest.xml" target="_self"><span style="color: #999900; font-size: 12px;">Spring in the Daintree Rainforest</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Renew yourself in the ancient Daintree, the world’s oldest rainforest. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/states/wa/margaret-river.xml" target="_self"><img alt="Spring break in Margaret River" src="/contentimages/explore-states-wa-margaret-river-spring-hl.jpg" /></a><a href="/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/states/wa/margaret-river.xml" target="_self"><span style="color: #999900; font-size: 12px;">Spring break in Margaret River</span></a></strong></p>
                                <p><img alt="" style="vertical-align: text-bottom;" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Spring clean your outlook on life with a week of wining, dining, whale-watching, diving and surfing in Western Australia’s Margaret River. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><img alt="Kangaroo Island's Spring Showcase" src="/contentimages/explore-states-sa-kangaroo-islands-spring-hl.jpg" /></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/states/sa/sa-spring-kangaroo-island.xml" target="_self"><span style="color: #999900; font-size: 12px;">Kangaroo Island’s Spring Showcase </span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>From wildlife to wildflowers spring delivers an action-packed show on Kangaroo Island. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/states/tas/tas-gardens.xml" target="_self"><img alt="Tasmania’s blooming gardens" src="/contentimages/explore-states-tas-blooming-gardens-hl.jpg" /></a><a href="/explore/events/wa-ord-valley-muster.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/states/tas/tas-gardens.xml" target="_self"><span style="color: #999900; font-size: 12px;">Tasmania’s blooming gardens </span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Tasmania’s blooming spring gardens bring colour to an already stunning environment. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><img alt="Fishing in the barra build-up, Northern Territory " src="/contentimages/explore-things-to-see-do-adventure-fishing-hl.jpg" /></a><a href="/explore/cities/brisbane/qld-adventure-on-brisbane-river.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/things-to-do/australian-adventure/nt-barra-fishing.xml" target="_self"><span style="color: #999900; font-size: 12px;">Fishing in the barra build-up, Northern Territory </span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Snare a prize barramundi during the Northern Territory’s ‘build-up’, which lasts from October to December. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/states/nsw/hunter-valley.xml" target="_self"><img alt="Hunter Valley Spring Events" src="/contentimages/explore-states-nsw-hunter-valley-events-hl.jpg" /></a><a href="/explore/events/nsw-taste-of-orange.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/states/nsw/hunter-valley.xml" target="_self"><span style="color: #999900; font-size: 12px;">Hunter Valley Spring Events</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>Embrace the essence of spring in this vine-lined region, two hours drive north of Sydney. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/events/floriade.xml" target="_self"><img alt="Floriade, Canberra" src="/contentimages/explore-events-arts-events-floriade-hl.jpg" /></a><a href="/explore/states/act/act-murrumbidgee-corridor.xml" target="_self"></a></p>
                                </td>
                                <td valign="top">
                                <p><strong><a href="/explore/events/floriade.xml" target="_self"><span style="color: #999900; font-size: 12px;">Floriade, Canberra</span></a></strong></p>
                                <p><img alt="" src="/contentimages/horizontal-line-short-grey.JPG" /></p>
                                <p>See Canberra come alive with a million spring blooms at Floriade, Australia biggest flower festival. </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                    <td style="padding-top: 5px;" valign="top">
                    <p><img style="padding-bottom: 15px;" alt="Journeys" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-title02.jpg" /></p>
                    <p style="padding-bottom: 15px;"><img alt="Australian Holiday Ideas" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-palm-cove-large.jpg" /></p>
                    <p><strong><a href="/explore/itineraries-ideas/holiday-ideas.xml" target="_self"><span style="color: #dc8905; font-size: 12px;">Australian Holiday Ideas</span></a></strong></p>
                    <p style="padding-right: 15px;">Create your own Australian holiday with these easy itinerary ideas. Starting from each of our international gateways, these versatile three-week segments give you an idea of how much you can see and do on even a short Australian holiday. Break them down or combine them to match your time-frame, arrival point and list of 'must-see' destinations. Australia is a vast country, but with planning you can cover a diversity of landscapes in just a few weeks.</p>
                    <p style="padding-right: 15px;">From Sydney, see Melbourne and the Great Ocean Road, then fly to Uluru. Combine the Great Barrier Reef and the Red Centre from Cairns. From Brisbane, pack in the Gold Coast, Fraser Island and the Whitsundays before flying to Sydney. Discover Margaret River, Ningaloo Reef, Broome, Darwin and even Sydney from Perth. From Melbourne, drive to elegant Adelaide or Tasmania’s World Heritage-listed wilderness. From Adelaide, see Kangaroo Island, the Flinders Ranges then take the Ghan through Alice Springs to Darwin.</p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="width: 50%; padding-right: 5px;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/nsw-3weeks-sydney.xml" target="_self"><span style="color: #dc8905;">Three weeks from Sydney</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/vic-3weeks-melbourne.xml" target="_self"><span style="color: #dc8905;">Three weeks from Melbourne</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/qld-3weeks-brisbane.xml" target="_self"><span style="color: #dc8905;">Three weeks from Brisbane</span></a></span><span style="color: #dc8905;"><br />
                                <img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/wa-3weeks-perth.xml" target="_self"><span style="color: #dc8905;">Three weeks from Perth</span></a></span></p>
                                </td>
                                <td style="width: 40%;" valign="top">
                                <p><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/sa-3weeks-adelaide.xml" target="_self"><span style="color: #dc8905;">Three weeks from Adelaide</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/qld-3weeks-cairns.xml" target="_self"><span style="color: #dc8905;">Three weeks from Cairns</span></a><br />
                                </span><span style="color: #dc8905;"><img alt="" style="vertical-align: middle;" src="/contentimages/arrow-orange.gif" /> <a href="/explore/itineraries/nt-3weeks-darwin.xml" target="_self"><span style="color: #dc8905;">Three weeks from Darwin</span></a></span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <p style="padding-bottom: 15px;"><img alt="Australia's spring" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-floriade_act_large.jpg" /></p>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-title03.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/things-to-do/australian-adventure/nat-surfing.xml" target="_self"><img alt="Surfing Australia" src="/contentimages/explore-things-to-see-do-adventure-surfing-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>Australia’s surf beaches, where first-class waves for all surfing abilities crash, are born from the Pacific Ocean in the east, the Indian Ocean in the west and the Southern Ocean in the south . Visit iconic Bells Beach, near Torquay, the gateway to Victoria’s Surf Coast on the Great Ocean Road. </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/explore/states/nt/nt-litchfield-nat-park.xml" target="_self"></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top" colspan="2">
                                <p><a href="/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="" src="/contentimages/about-australias-landscapes-australias-seasons-spring-en-title04.jpg" /></a></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 15px; padding-top: 5px;" valign="top">
                                <p><a href="/explore/things-to-do/australian-adventure/nat-canoe-kayak.xml" target="_self"><img alt="Canoeing and Kayaking Australia" src="/contentimages/explore-things-to-see-do-adventure-kayaking-hl.jpg" /></a></p>
                                </td>
                                <td style="padding-right: 15px;" valign="top">
                                <p>From tranquil inlets and backwaters to picturesque rivers and gorges, Australia offers many places to paddle. Canoe the Blackwood River, which meanders through Western Australia’s south-west, or along the maze of calm waterways in South Australia’s Coorong.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>]]></txt_Content>
</BasicContent></con_Body>
    <con_RHSModules></con_RHSModules>
    <con_Category></con_Category>
    <lst_Subpages>
    </lst_Subpages>
</StandardCampaignLayout>
    </con_Body>
    <lst_Subpages>
    </lst_Subpages>
</ConsumerBaseFoundation>