
<!-- note need to use meta tag in head of page to use below -->
<!-- <meta name="google-translate-customization" content="a0a70fd18b5016fc-a2c8056b2d933ad9-g05e9869b7450c97e-a"></meta> -->

<div id="google_translate_element"></div>
<script>
    //Translation dropdown
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,fr,ko'}, 'google_translate_element');
    }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>