---
layout: layout-base.hbs
title: 404
note: note-generictemplate
---

<div class="paragraph-generic paragraph-generic-no-style">
<div class="hero-404-wrapper">
    {{#parseJSON '{
    "hero_image" : "hero-404"
}'}}
        {{> largeimageherowithbutton }}
    {{/parseJSON}}

</div>
</div>

