---
layout: layout-base.hbs
---

<div class="paragraph-generic">

    {{#parseJSON '{"page_title" : "ATDW Search"}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    <h1 class="type-visuallyhidden">ATDW Search</h1>

    {{> searchbox }}

    {{#parseJSON '{"title": "MAKE YOUR TRIP HAPPEN"}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    {{> atdw_search_mosaic }}

    {{> atdw_search_pagination}}

</div>