---
layout: layout-base.hbs
---

<div class="paragraph-search">

    {{#parseJSON '{"page_title" : "ATDW Search"}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    {{> searchbox }}

    {{#parseJSON '{"title": "MAKE YOUR TRIP HAPPEN"}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    {{> atdw_search_mosaic }}

    {{> atdw_search_pagination}}

</div>