---
layout: layout-base.hbs
---

{{#parseJSON '{
    "hero_image" : "hero-category",
    "hero_title" : "Nature & Wildlife"
}'}}
    {{> hero_category }}
{{/parseJSON}}

<div class="paragraph-category">

    {{#parseJSON '{"page_title" : "Category"}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    {{#parseJSON '{"title": "Nature & Wildlife"}'}}
        {{> sectionintro }}
    {{/parseJSON}}

    <p>Our unique animals are one of the many reasons people visit our country. Australia has more than 378 mammal species, 828 bird species, 4000 fish species, 300 species of lizards, 140 snake species, two crocodile species and around 50 types of marine mammal.</p>
    <p>More than 80 per cent of our plants, mammals, reptiles and frogs are unique to Australia and are fo;und no-where else. Some of our best-known animals are the kangaroo, koala, echidna, dingo, platypus, wallaby and wombat.</p>

    {{> category_results }}

</div>