---
layout: layout-base.hbs
---

{{#parseJSON '{
    "hero_image" : "herohome_sydney",
    "hero_title" : "Sydney",
    "hero_subtitle" : "The harbour city"
}'}}
    {{> hero }}
{{/parseJSON}}

    {{#parseJSON '{
        "page_title" : "New South Wales",
        "map_summary" : [
            {"para" : "Discover Sydney, Australia’s famous harbour city and the capital of New South Wales."},
            {"para" : "Plan your Sydney holiday using our three-day itinerary, which takes in the attractions around Sydney Harbour, beaches and inner-city precincts. Read up on the World Heritage-listed Blue Mountains and the Six Foot Track bushwalk."}
        ],
        "map_text" : [
            {"para" : "Learn about other places to visit in New South Wales and scenic journeys you can take from Sydney. Drive the Pacific Coast Touring Route north to Brisbane past the Hunter Valley, Port Stephens and bohemian Byron Bay. Or head south to Melbourne via the pure white beaches of Jervis Bay."},
            {"para" : "Check out Australia’s other cities and get ideas for the rest of your Australian holiday. Melbourne, the Great Ocean Road and Australia’s Red Centre are all possible in a three-week holiday from Sydney."},
            {"para" : "For more Sydney holiday ideas, read our articles on the Hunter Valley, Sydney’s sparkling beaches, the Bondi to Bronte walk and the annual Sydney to Hobart yacht race."}
        ],
        "map_image" : "intro-map-australia-nsw",
        "map_main_title" : "Capital of New South Wales",
        "map_pin_button" : "Sydney"
    }'}}
        {{> explore_summary_map }}
    {{/parseJSON}}

<div class="paragraph-city">

    {{> whatyoucansee_city}}

    <!--Large Image With Optional Overlay - Date-->
    {{#parseJSON '{
            "parallax_image" : "image_with_date"
        }'}}
        {{> large_image_with_optional_overlays }}
    {{/parseJSON}}

    {{> mapimagewithbuttons }}

    {{> explore }}

        {{#parseJSON '{
            "promo_image" : "promo",
            "promo_title" : "Novotel Sydney On Darling Harbour",
            "promo_text" : [
                {"para" : "In the heart of the Darling Harbour precinct. The hotel rooms present panoramic views of Darling Harbour."}
            ],
            "promo_value" : "299",
            "promo_per" : "/night"
        }'}}
            {{> specialoffer }}
        {{/parseJSON}}

    {{> atdwhighlights}}

    {{> categorylinks_city_sydney }}

</div>