---
layout: layout-base.hbs
---

{{#parseJSON '{
    "hero_image" : "herohome_bluemountains",
    "hero_title" : "Six Foot Track",
    "hero_subtitle" : "Blue Mountains"
}'}}
    {{> hero }}
{{/parseJSON}}

    {{#parseJSON '{
        "page_title" : "New South Wales",
        "map_summary" : [
            {"para" : "Take in breathtaking scenery and 200 years of history on this original 1884 track from Katoomba to Jenolan Caves."},
            {"para" : "The 45km route can be broken into day walks, conquered comfortably in three days or true athletes can run the iconic Six Foot Marathon."}
        ],
        "map_image" : "map-itinerary",
        "map_main_title" : "New South Wales",
        "map_pin_has_link" : "true",
        "map_pin_button" : "Blue Mountains"
    }'}}
        {{> explore_summary_map }}
    {{/parseJSON}}


<div class="paragraph-state">

    {{> mapimagewithlegend }}
    <!-- special offers -->
    {{#parseJSON '{
        "promo_image" : "promo5",
        "promo_title" : "Senic Railway, Katoomba",
        "promo_text" : [
            {"para" : "Discover the thrill of a 52 degree incline riding the steepest passenger railway in the world, the Scenic Railway. A whole new experience awaits, with glass-roofed red carriages offering expansive views of the rainforest setting and spectacular Valley."}
        ],
        "promo_value" : "",
        "promo_per" : ""
    }'}}
        {{> specialoffer }}
    {{/parseJSON}}


    {{> largeimagenotext }}

    {{> bylinewithshare}}

    {{> favouritewithlines }}


    {{#parseJSON '{
        "promo_image" : "promo6",
        "promo_title" : "Caves House, Jenolan Caves",
        "promo_text" : [
            {"para" : "Caves House is an icon of Blue Mountains accommodation. In 1897, NSW Government Architect, Walter Liberty Vernon, designed it as a wilderness retreat for wealthy travellers."}
        ],
        "promo_value" : "100",
        "promo_per" : "/night"
    }'}}
        {{> specialoffer }}
    {{/parseJSON}}

    {{> explore-more }}


    {{> categorylinks_city_sydney }}
</div>