---
layout: layout-base.hbs
---

{{#parseJSON '{
    "hero_image" : "herohome_grampains",
    "hero_title" : "Six Foot Track",
    "hero_subtitle" : "Blue Mountains"
}'}}
    {{> hero }}
{{/parseJSON}}

    {{#parseJSON '{
        "page_title" : "New South Wales",
        "map_summary" : [
            {"para" : "Take in breathtaking scenery and 200 years of history on this original 1884 track from Katoomba to Jenolan Caves."},
            {"para" : "The 45km route can be broken into day walks, conquered comfortably in three days or true athletes can run the iconic Six Foot Marathon."}
        ],
        "map_image" : "map-itinerary",
        "map_main_title" : "New South Wales",
        "map_pin_has_link" : "true",
        "map_pin_button" : "Blue Mountains"
    }'}}
        {{> explore_summary_map }}
    {{/parseJSON}}


<div class="paragraph-state">

    {{> mapimagewithlegend }}
    <!-- special offers -->

    <!-- category links -->
</div>