---
layout: layout-base.hbs
---

<div class="paragraph-search">

    {{#parseJSON '{
    "page_title" : "Search"
}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    {{> searchbox }}

    {{> search_your_results }}

    {{> search_counter }}

    {{#parseJSON '{"title": "MAKE YOUR TRIP HAPPEN", "copy" : "Ready to get serious about the Great Barrier Reef? We can help you sort out all the details with the options below."}'}}
        {{> sectionintro }}
    {{/parseJSON}}


</div>