---
layout: layout-base.hbs
---

<div class="search-grid">

    {{#parseJSON '{
    "page_title" : "ATDW Search"
}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    {{> searchbox }}

    <div class="row l-center-1200">
        <div class="col-xs-12">
            {{#parseJSON '{"title": "MAKE YOUR TRIP HAPPEN"}'}}
                {{> search_sectionintro }}
            {{/parseJSON}}
        </div>
    </div>

    <div class="atdw-search-result-count">
        <span>Showing 108 results</span>
    </div>


</div>