---
layout: layout-base.hbs
note: note-searchresults
---

<div class="paragraph-search">

    {{#parseJSON '{
    "page_title" : "Search"
}'}}
        {{> breadcrumbsdynamic }}
    {{/parseJSON}}

    <h1 class="type-visuallyhidden">Search Results</h1>

    {{> searchbox }}

    {{> search_results_counter_list_more }}

    {{> search_atdw_highlights }}

</div>